@*
=========================================================================================================
  Module      : カテゴリ入力 (パーシャルビュー) (CategoryInput.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@

@model w2.Cms.Manager.ViewModels.Coordinate.CategoryViewModel

<div class="form-element-group form-element-group-horizontal-grid">
	<div class="form-element-group-title">
		<label for="coordinateCategoryNames_tag">カテゴリ名</label>
	</div>
	<div class="form-element-group-content">
		@Html.TextBox("coordinateCategoryNames", this.Model.CoordinateCategoryNames, new { Name = "input.CoordinateCategoryNames", @class = "custom-category-input", data_autocomplete_source = this.Model.Categories, data_placeholder = "カテゴリを指定してください" })
		<a href="javascript:modal.open('#modal-access-authority-setting-targetlist-1', 'modal-size-m');category_list_redraw();">カテゴリを選択する</a>
	</div>
</div>

<script type="text/javascript">
	$(function () {
		custom_tag_input.ini();
	});
</script>