<?xml version="1.0" encoding="utf-8" ?>
<!--
=========================================================================================================
  Module      : メニュー定義XML(Menu.xml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2020 All Rights Reserved.
=========================================================================================================
-->
<Menu>
  <!--
  【function要素について】
    function要素権限の有効無効は、内部的にはビット演算で計算されるため、
    1,2,4,8,16,32,64と、2の倍数で登録する必要があります。
    DBの「function_level」には選択されたfunctionのvalueの合計が登録されます。
    
    例）w2_MenuAuthority.function_level = 6 の場合
        functionのvalueが「2」と「4」のfunctionに権限が与えられている事となります。
  -->
  <lmenu name="サポート＆サービス" icon_css="icon-info" option="support" key="support">
    <smenu name="サポートサイト" top="" path="SupportInformation/" option="support" />
  </lmenu>
  <lmenu name="コーディネート管理"  icon_css="icon-coordinate" key="coordinate" option="coordinate_with_staff">
    <smenu name="コーディネート情報" top="Main" path="CoordinatePage/" />
    <smenu name="コーディネートカテゴリ設定" top="Main" path="CoordinateCategory/" />
  </lmenu>
  <lmenu name="特集管理" icon_css="icon-feature" key="feature">
    <smenu name="特集ページ情報" top="Main" path="FeaturePage/" option="feature_page" />
    <smenu name="特集ページカテゴリ設定" top="List" path="FeaturePageCategory/" option="feature_page" />
    <smenu name="特集エリア情報" top="Main" path="FeatureArea/" option="feature_area" />
    <smenu name="特集エリアタイプ設定" top="Main" path="FeatureAreaType/" option="feature_area" />
  </lmenu>
  <lmenu name="LP管理" icon_css="icon-lp" key="lp">
    <smenu name="LPビルダー" top="Main" path="LandingPage/" />
    <smenu name="ABテスト" top="Main" path="AbTest/" option="ab_test"/>
  </lmenu>
  <lmenu name="スコアリング販売管理" icon_css="icon-scoring-sale" key="scoring_sale" option="scoring_sale_setting">
    <smenu name="スコアリング販売ビルダー" top="Main" path="ScoringSale/" />
    <smenu name="スコアリング質問設定" top="Main" path="ScoringSaleQuestion/" />
    <smenu name="スコア軸設定" top="Main" path="ScoreAxis/" />
  </lmenu>
  <lmenu name="商品表示管理" icon_css="icon-promotion" key="productdisp">
    <smenu name="商品ランキング設定" top="List" path="ProductRanking/" option="product_ranking" />
    <smenu name="商品グループ設定" top="List" path="ProductGroup/" option="product_group" />
    <smenu name="商品一覧表示設定" top="Modify" path="ProductListDispSetting/" option="product_list_disp_setting" />
  </lmenu>
  <lmenu name="デザイン管理" icon_css="icon-design" key="design">
    <smenu name="ページ管理" top="Main" path="PageDesign/" />
    <smenu name="パーツ管理" top="Main" path="PartsDesign/" />
    <smenu name="CSSデザイン設定" top="CSSDesign" path="CSSDesign/" />
    <smenu name="JavaScriptデザイン設定" top="JavaScriptDesign" path="JavaScriptDesign/" />
    <smenu name="コンテンツマネージャー" top="ContentsManager" path="ContentsManager/" />
    <smenu name="コンテンツ画像管理" top="Main" path="FeatureImage/" />
  </lmenu>
  <lmenu name="SEO管理" icon_css="icon-seo" key="seo" option="seo_tag_disp_setting">
    <smenu name="SEOタグ設定" top="Modify" path="SeoMetadatas/" />
    <smenu name="OGPタグ設定" top="Modify" path="OgpTagSetting/" />
    <smenu name="サイトマップ設定" top="Main" path="Sitemap/" option="sitemap" />
  </lmenu>
  <lmenu name="サイト管理" icon_css="icon-setting" key="setting">
    <smenu name="サイト基本情報設定" top="Modify" path="SiteInformation/" />
    <smenu name="お知らせ設定" top="List" path="News/" option="news_list_disp_setting" />
    <smenu name="ショートURL設定" top="List" path="ShortUrl/" option="shorturl_setting" />
    <smenu name="タグマネージャー" top="List" path="TagManager/" />
  </lmenu>
  <lmenu name="データ管理" icon_css="icon-data" key="data">
    <smenu name="マスタアップロード" top="MasterImportList" path="MasterImport/" />
    <smenu name="マスタダウンロード設定" top="MasterExportSettingRegister" path="MasterExportSetting/" />
  </lmenu>
  <lmenu name="オペレータ管理" icon_css="icon-operator" key="operator">
    <smenu name="オペレータ情報" top="List" path="ShopOperator/"></smenu>
    <smenu name="スタッフ情報" top="List" path="Staff/" option ="coordinate_with_staff" />
    <smenu name="パスワード変更" top="OperatorPasswordChangeInput" path="OperatorPasswordChange/"></smenu>
    <smenu name="メニュー権限設定" top="MenuAuthorityList" path="MenuAuthority/"></smenu>
  </lmenu>
</Menu>
