<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="w2.Plugin.P0011_Intercom.ReSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings>
<!-- 必要に応じて接続先を変更 -->
    <add name="w2Database" providerName="System.Data.SqlClient" connectionString="server=w2DB1;database=P0011_Intercomv5.3;uid=sa;pwd=w2Sa"/>
</connectionStrings>
<appSettings>
  <!-- エラーログファイルパス -->
  <add key="errLogFilePath" value="C:\Logs\P0011_Intercom\ReSync\ErrorLog\"/>
  <!-- 連携用CSVファイル格納ディレクトリパス -->
  <add key="targetDirPath" value="C:\Logs\P0011_Intercom\ReSync\Target"/>
  <!-- 再同期成功時の移動先ディレクトリパス -->
  <add key="successDirPath" value="C:\Logs\P0011_Intercom\ReSync\Success"/>
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
        <w2.Plugin.P0011_Intercom.ReSync.Properties.Settings>
            <setting name="w2_Plugin_P0011_Intercom_ReSync_jp_co_intercom_secure_w2iUserSyncService"
                serializeAs="String">
                <value>https://reddragon.intercom.co.jp/iw2WebService/w2iUserSyncService.asmx</value>
            </setting>
        </w2.Plugin.P0011_Intercom.ReSync.Properties.Settings>
    </applicationSettings>
</configuration>
