@*
=========================================================================================================
  Module      : ページ管理 モーダルウィンドウ:グループ追加(パーシャルビュー)(_ModalAddGroup.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@

<div class="modal-content-hide">
	<!-- グループ作成モーダル -->
	<div id="modal-list-group-add">
		<p class="modal-inner-ttl">グループを作成</p>
		<div class="modal-inner-change-group">
			<div class="form-element-group form-element-group-horizontal">
				<div class="form-element-group-title">
					<label for="form-list-group-name">グループ名</label>
				</div>
				<div class="form-element-group-content">
					@Html.TextBox("Input.GroupName", "", new
					{
						id = "form-list-group-name",
						Placeholder = "グループ名",
						@class = "w90"
					})
				</div>
			</div>
			<div class="modal-footer-action">
				<input type="button" class="btn btn-sub btn-size-m" onclick="modal.close();" value="キャンセル">
				<input type="button" class="btn btn-main btn-size-m" onclick="group_add_click()" value="作成する">
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function group_add_click() {
		group_add('form-list-group-name');
		modal.close();
	}
</script>