
/*********************************************************************************************************


  w2CustomerSupport 固有スタイルシート


 *********************************************************************************************************/
/*=========================================================================
  共通使用
 =========================================================================*/

 #bodymain a:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.small_text
{
	color: #505050;
	font-size: 8pt;
	font-family: verdana, arial, sans-serif;
}

.item_bottom_line
{
	border-bottom:1px #bababa solid;
}

.cs_radio label
{
	padding: 0px 10px 0px 3px;
}

/*=========================================================================
  各種ボックス使用スタイル
 =========================================================================*/
/*-------------------------------------------------
  ボックス：枠の色
 -------------------------------------------------*/
/* 通常ボックス共通：枠の色 */
.box_border
{
	background-color: #50a1ef;	/* ☆ */
}
/* エラーボックス：枠の色 */
.error_box_border
{
	background-color: #ff0000;
}

/*-------------------------------------------------
  ボックス：背景
 -------------------------------------------------*/
/* 検索ボックス・背景 */
.search_box_bg
{
	background-color: #eff5ff;	/* ☆ */
}
/* 一覧ボックス・背景 */
.list_box_bg
{
	background-color : #ffffff;
}
/* 情報ボックス：背景の色 */
.info_box_bg
{
	background-color: #e8f1ff;	/* ☆ */
}
/* エラーボックス：背景の色 */
.error_box_bg
{
	background-color: #ffffff;
}

/*-------------------------------------------------
  テーブル：リストセレクタ
 -------------------------------------------------*/
/* 一覧リスト表示色１ */
.list_item_bg1
{
	background-color: #f8f8f8;
}
/* 一覧リスト表示色２ */
.list_item_bg2
{
	background-color: #eff5ff;	/* ☆ */
}
/* 一覧リスト表示色・マウスオーバー */
.list_item_bg_over
{
	background-color: #a0C3ff;	/* ☆ */
	cursor: hand;		/* IE6 より以前のバージョン用 */
	cursor: pointer;	/* Netscape、Firefox、IE6以降用 */
}
/* 一覧リスト表示色・マウスクリック */
.list_item_bg_click
{
	background-color: #6093ff;	/* ☆ */
}

/* オペレータ向け 一覧リスト表示色１ */
.oplist_item_bg1
{
	background-color: #fefefe;
	border: 1px solid #0071A8;
	font-size: 11px; font-weight: normal;
	border-right: none; border-left: none;
}
.oplist_item_bg1:last-child { border-bottom: none; }

/* オペレータ向け 一覧リスト表示色３ */
.oplist_item_bg2
{
	background-color: #f7f7f7;	
	border: 1px solid #0071A8; 
	font-size: 11px; font-weight: normal;
	border-right: none; border-left: none; /* ☆ */
}
.oplist_item_bg2:last-child { border-bottom: none; }


/* オペレータ向け 一覧リスト表示色・マウスオーバー */
.oplist_item_bg_over
{
	background-color: #d4eaf7;
	border: 1px solid #0071A8;	/* ☆ */
	border-right: none;
	border-left: none;
	cursor: hand;		/* IE6 より以前のバージョン用 */
	cursor: pointer;	/* Netscape、Firefox、IE6以降用 */
}
.oplist_item_bg_over { border-bottom: none; }

/* オペレータ向け 一覧リスト表示色・マウスクリック */
.oplist_item_bg_click
{
	background-color: #b0d0ff;
	border: 1px solid #0071A8;	/* ☆ */
	border-right: none;
	border-left: none;
}

/* ラジオボタンで表示／非表示 */
.invisible{
  display: none;
}

/*=========================================================================
  問合せ画面関連
 =========================================================================*/
/* 検索テーブル *//* search_box */
/* 一覧表示テーブル・見出し背景 */
.list_title_bg
{
	background-color: #e7e7e7;
}
/* 検索テーブル・見出し背景 */
.cssearch_title_bg
{
	background-color: #E1EEf4;
}

/* 検索テーブル・入力項目背景 */
.cssearch_item_bg
{
	background-color: white;
	padding:2px;
}
.cssearch_table
{
	margin-bottom: 3px; font: normal 10pt; background: #35A0D3; overflow: hidden; border: 1px solid #35A0D3; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.cssearch_table td
{
	text-align: left;
	padding: 3px 3px;
	color: #505050;
	font-size: 9pt;
	font-family: "MS UI Gothic";
}

/* 見出し付きテーブル */
/* table_border1 */
.popup_bg
{
	background-color: #FFFFFF;
}

/* 一覧表示テーブル(ミニマム版) */
.list_table_min
{
	background-color: #bababa;
}
.list_table_min td
{
	color: #505050;	
	margin-right: 3px;
	padding: 3px;
	font-size: 11px;
	line-height: 15px;
	font-family: verdana, arial, sans-serif;
}
/* メッセージメールヘッダ部分 */
#mailheader p {
padding:5px;
font-size: 11px;
line-height:16px;
font-family: "MS UI Gothic";
color: #000; !important;
border-style:none !important;
}
#mailheader.larger p {
	font-size: 9pt;
}
#mailheader p span {
display:block;
}
/* メッセージメールボディ部分 */
#maildisp p {
font-size: 11px;
line-height:16px;
font-family: "MS UI Gothic";
color: #000; !important;
}
#maildisp.larger p {
	font-size: 9pt;
}
/* メールアラート */
.mailalert {
background: #FFFF99;
line-height:18px;
}

/* 履歴一覧など */
.dataresult table { border-collapse: collapse; text-align: left; width: 100%; border-style:none !important; } 
.dataresult { background: #fff; overflow: hidden; border-style:none !important; } 
.dataresult table td, .dataresult table table th { margin-top: 3px; padding: 1px 1px 1px 3px; }
.dataresult table thead th { margin: 5px; padding:5px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2777E0), color-stop(1, #1868D1) );background:-moz-linear-gradient( center top, #2777E0 5%, #1868D1 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2777E0', endColorstr='#1868D1');background-color:#2777E0; color:#FFFFFF; font-size:12px; text-align: left; font-weight: normal; }
.dataresult table thead th:first-child { border-style:none !important; }
.dataresult table thead td.toggle { margin: 3px; padding:3px; color:#FFFFFF; font-size:12px; background-color:#e8f0ff; cursor: pointer;}
.dataresult table thead td.togglehlight { background-color:#c8d5f5; cursor: pointer;}
.dataresult div.toggleopen {  }
.dataresult div.toggleclose { border-bottom:solid 2px #2777e0;border-left:solid 2px #2777e0;border-right:solid 2px #2777e0 }

.dataresult table tbody td { color: #00557F; border-right: 1px solid #2777E0;font-size: 11px; font-weight: normal; border-bottom: 1px solid #2777E0; }
.dataresult.larger table tbody td {font-size: 9pt;}
.dataresult table tbody .alt td { background: #B5D9FF; color: #00557F; border-bottom: 1px solid #2777E0; }
td.alt { background: #B5D9FF; border-bottom: 1px solid #2777E0; }


/* メール表示テーブル */
.datagrid table { font-size: 9pt; border-collapse: collapse; text-align: left; width: 100%; border-left: 2px solid #2777E0; border-bottom: 2px solid #2777E0; border-right: 2px solid #2777E0; border-top: 2px solid #2777E0; } 
.datagrid.larger table { font-size: 9pt; }
.datagrid { font: normal 10pt; background: #fff; overflow: hidden; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.datagrid table td, .datagrid table th { margin-top: 3px; padding: 1px 1px 1px 3px; }
.datagrid table thead th { margin: 5px; padding:5px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2777E0), color-stop(1, #1868D1) );background:-moz-linear-gradient( center top, #2777E0 5%, #1868D1 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2777E0', endColorstr='#1868D1');background-color:#2777E0; color:#FFFFFF; font-size:12px; text-align: left; font-weight: normal; } 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { margin: 3px; padding:3px; color: #00557F; border-right: 1px solid #2777E0; border-bottom: 1px solid #2777E0; font-weight: normal; }
.datagrid table tbody .alt td { background: #B5D9FF; color: #00557F; border-bottom: 1px solid #2777E0; }
td.alt { background: #B5D9FF; border-bottom: 1px solid #2777E0; height:18px; }

/* タブテーブル */
.text_top {
	color: #505050;
	font-size: 12px;
	margin-top:3px;
}
.text_top img{
vertical-align:bottom;
}
.img_align img{
vertical-align:bottom;
}

.buttonlist input 
{
	vertical-align: middle;
	margin-top: 0px;
	margin-bottom: 2px;
}
.buttonlist label
{
	vertical-align:middle;
	padding: 0px 5px 0px 2px;
}
.list_table_min input 
{
	vertical-align: middle;
	padding: 0px;
	margin: 0px 1px 0px 0px;
}


div.datagrid {
	clear: left;
}

div.datagrid.inactive {
	display: none;
}

div.dataresult {
	clear: left;
}

div.dataresult.inactive {
	display: none;
}

/*タブエリア*/
ol.toc {
	height: 2em;
	list-style: none;
	font-size: 9pt;
	margin-top: 0;
	padding: 0;
}
ol.toc_r {
	height: 2em;
	list-style: none;
	font-size: 9pt;
	margin-top: 0;
	padding: 0;
}

ol.toc a {
	background: #bdf url(../Images/Menu/tabs.gif);
	color: #FFF;
	display: block;
	float: left;
	height: 2em;
	padding-left: 10px;
	text-decoration: none;
}
ol.toc_r a {
	background: #bdf url(../Images/Menu/tabs.gif);
	color: #FFF;
	display: block;
	float: left;
	height: 2em;
	padding-left: 10px;
	text-decoration: none;
}

ol.toc a:hover {
	background-color: #3af;
	background-position: 0 -120px;
}
ol.toc_r a:hover {
	background-color: #3af;
	background-position: 0 -120px;
}


ol.toc a:hover span {
	background-position: 100% -120px;
}
ol.toc_r a:hover span {
	background-position: 100% -120px;
}

ol.toc li {
	float: left;
	margin: 0 1px 0 0;
}
ol.toc_r li {
	float: right;
	margin: 0 0px 0 0;
}

ol.toc li a.active {
	background-color: #48f;
	background-position: 0 -60px;
	color: #fff;
}
ol.toc_r li a.active {
	background-color: #48f;
	background-position: 0 -60px;
	color: #fff;
}

ol.toc li a.active span {
	background-position: 100% -60px;
}
ol.toc_r li a.active span {
	background-position: 100% -60px;
}

ol.toc span {
	background: url(../Images/Menu/tabs.gif) 100% 0;
	display: block;
	line-height: 2em;
	padding-right: 10px;
} 
ol.toc_r span {
	background: url(../Images/Menu/tabs.gif) 100% 0;
	display: block;
	line-height: 2em;
	padding-right: 10px;
} 

div.tab_title {
	width: 100%;
	text-align: center;
}

/* XY方向スクロール可能(埋込タグにwidth,heightスタイルを埋め込む必要あり) */
.xy_scrollable
{
	overflow: scroll;
}

/* X方向スクロール可能(埋込タグにwidthスタイルを埋め込む必要あり) */
.x_scrollable 
{
	overflow-x: visible;
}

/* Y方向スクロール可能(埋込タグにheightスタイルを埋め込む必要あり) */
.y_scrollable
{
	overflow-y: scroll;
	overflow-x: hidden;
	border: solid 2px #2777E0;
}

.y_scrollable2
{
	overflow-y: scroll;
	overflow-x: hidden;
}

span.tab_title_left{float: left; }
span.tab_title_right{float: right; }

.div_table_header
{
	border-bottom: solid 0px #2777E0;
	overflow-y: hidden;
}
.div_table_data
{
	border-top: solid 0px #2777E0;
}
/*=========================================================================
  TOP
 =========================================================================*/
.top_title
{
	padding:10px 0px 0px 0px;
	font-size:12pt;
	font-weight:bold;
	color:#666;
	margin-bottom:3px;
}
.top_title img
{
	vertical-align: bottom;
}

/*=========================================================================
  サポートサイト
 =========================================================================*/
#support {
}

#support #searchbox {
	border:1px solid #50a1ef;
	margin:10px 0px 0px 0px;
	padding:1px 0px 0px 15px;
	background-color: #e8f1ff;
	width:742px;
	height:48px;
}
#support #searchbox #search_text {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	background-color: #fff;
	border:0 none;
	color:#c0c0c0;
	font-size:25px;
	width:680px;
}
#support #searchbox #searchbutton {
	position:relative;
	top:5px;
}

#support #contents {
	margin:0px 10px 0px 10px;
}
#support #contents dl {
	width:350px;
	padding:0px 10px 10px 10px;
}
#support #contents dt {
	font-weight: bold;
	border-bottom: solid 1px #cccccc;
	color: #505050;
	margin-top: 1em;
	line-height:1.1em;
}
#support #contents dd {
	border: solid 1px #cccccc;
	padding: 1em;
	margin-left: 0em;
	margin-top: 0.5em;
	background-color:#fff;
}
#support #contents fieldset {
	border:1px solid #50a1ef;
	margin:10px 0px 10px 0px;
	background-color: #e8f1ff;
	width:365px;
	float:left;
}
#support #contents fieldset.right {
	float:right;	
}
#support #contents fieldset legend {
	margin-left: 12px;
	font-size:14px;
	font-family:メイリオ;
	color:#3081cf;
	font-weight:600;
}
#support #contents .loading {
	text-align:center;
	vertical-align:middle;
	width:350px;
	margin:50px 0px 50px 0px;
}