/*

*/
/*
☆：PKGにより変化
*/
/*=========================================================================
  基本タグ
 =========================================================================*/
* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body{
	color: #000000;
	font-size: 10pt;
	width: 100%;
	background-image: url(../Images/Common/bg.gif);
	background-repeat:repeat-x;
	background-color: #A9A9A9;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "MS UI Gothic";
}

input {
	font-size: 9pt;
	padding-top: 2px;
	padding-left: 2px;
}

textarea 
{
	font-size: 9pt;
}

textarea.larger
{
	font-size: 9pt;
}

select
{
	border : solid 1px #999;
}

p,div,table,h1,h2,h3,h4,h5,h6,ul,form{
	border-width: 0px;
	font-size: 100%;
}

table
{
	text-align: left;
}

img{
	border: 0;
}

pre 
{
	white-space: pre-wrap;      /* CSS3 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	word-wrap: break-word;      /* IE 5.5+ */
}

.clr
{
	clear:both;
}

/*-------------------------------------------------
  アンカータグ設定

 -------------------------------------------------*/
a:link 
{
	color: #0864AA;
	text-decoration: underline;
}
a:visited 
{
	color: #0864AA;
	text-decoration: underline;
}
a:hover 
{
	color: #0A22CC;
}
a:active 
{
	color: #CC0000;
}
a.menu:link 
{
	color: #000000;
}
a.menu:visited 
{
	color: #000000;
}
a.menu:hover 
{
	color: #990000;
}
a.menu:active 
{
	color: #000000;
}
a.csmenuselected
{
	background-color: #99ccff;
}
td.csmenuselected
{
	background-color: #99ccff;
}

/*a.menu
{
	background: url("../Images/Directory/directory.gif") no-repeat 150% 50%;
	
}*/

/*=========================================================================
  ページ共通使用スタイル
 =========================================================================*/
/* 全ページ共通背景 */
.main_bg
{
	background-color: #ffffff;
}

/* 警告表示など */
.notice 
{
	color: Red;
}

/* 情報表示 */
.info
{
	color: #505050;
}

/* ページャ */
.list_pager td
{
	color: #505050;
	font-size: 9pt;
	font-family: "MS UI Gothic";
	line-height: 100%;
}

/* 上部アクションボタン */
.action_part_top
{
	text-align: right;
	margin-top: 10px;
	margin-bottom: 6px;
}

/* 中部アクションボタン(左寄せ) */
.action_part_middle
{
	text-align: left;
	margin-top: 6px;
	margin-bottom: 10px;
}

/* 下部アクションボタン */
.action_part_bottom
{
	text-align: right;
	margin-top: 6px;
	margin-bottom: 10px;
}
/* 一覧画面用アクションボタン配置 */
.action_list_sp
{
	text-align: right;
}

/* ポップアップアクションボタン */
.action_popup_bottom
{
	text-align: center;
	margin-bottom: 5px;
	margin-right: 16px;
}

/* XY方向スクロール可能(埋込タグにwidth,heightスタイルを埋め込む必要あり) */
.xy_scrollable
{
	overflow: auto;
}

/* X方向スクロール可能(埋込タグにwidthスタイルを埋め込む必要あり) */
.x_scrollable 
{
	overflow-x: scroll;
}

/* Y方向スクロール可能(埋込タグにheightスタイルを埋め込む必要あり) */
.y_scrollable
{
	overflow-y: scroll;
}

/*=========================================================================
  ヘッダ使用スタイル
 =========================================================================*/
 #header {
	width: 1020px;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
}

#header .operatorName {
	position: absolute;
	right: 97px;
	top: 45px;
	font-size: 11px;
	width: 105px;
	height: 17px;
	overflow: hidden;
}

#header .logout {
	position: absolute;
	right: 20px;
	top: 45px;
}

/* ログインユーザネーム */
.login_user_name td
{
	text-align: left;
	line-height: 120%;
	color: #505050;
	font-size: 9pt;
	font-family: "MS UI Gothic";
}

/*=========================================================================
  各種テーブル使用スタイル
 =========================================================================*/
/*-------------------------------------------------
  テーブル：テーブル設定

 -------------------------------------------------*/
/* 検索テーブル *//* search_box */
.search_table
{
	background-color: #bababa;
}
.search_table td
{
	text-align: left;
	color: #505050;
	font-size: 9pt;
	font-family: "MS UI Gothic";
}
/* 一覧表示テーブル */
.list_table
{
	background-color: #bababa;
}
.list_table td
{
	color: #505050;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 1px;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}
/* 詳細テーブル */
.detail_table
{
	background-color: #bababa;
}
.detail_table td
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 2px;
	color: #505050;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}
/* 編集テーブル */
.edit_table
{
	background-color: #bababa;
}
.edit_table td
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 2px;
	color: #505050;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}
/* 情報テーブル */
.info_table
{
	background-color: #bababa;
}
.info_table td
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 2px;
	color: #505050;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}
/* エラーテーブル */
.error_table
{
	background-color: #bababa;
}
.error_table td
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 2px;
	color: #505050;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}

/*-------------------------------------------------
  テーブル：項目設定

 -------------------------------------------------*/
/* 一覧表示テーブル・見出し背景 */
.list_title_bg
{
	background-color: #e7e7e7;
}
/* 検索テーブル・見出し背景 */
.search_title_bg
{
	background-color: #e7e7e7;
}
/* 検索テーブル・入力項目背景 */
.search_item_bg
{
	background-color: white;
	padding-left:2px;
}
/* 検索テーブル・検索ボタン関連 */
.search_btn_bg
{
	background-color: #e7e7e7;
}
/* 検索テーブル・検索ボタン(検索ボタン用) */
.search_btn_main
{
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}
/* 検索テーブル・検索ボタン(クリア・ボタン用) */
.search_btn_sub
{
	text-align:center;
	margin-top:3px;
	margin-bottom:1px;
	font-size: 11px;
	font-family: "MS UI Gothic";
}
/* 編集テーブル・検索ボタン(クリア・ボタン用) */
.edit_btn_sub
{
	font-size: 11px;
	font-family: "MS UI Gothic";
}
/* 詳細テーブル・見出し背景 */
.detail_title_bg
{
	background-color: #e7e7e7;
}
/* 詳細テーブル・項目背景 */
.detail_item_bg
{
	background-color: #f8f8f8;
}
/* 編集テーブル・見出し背景 */
.edit_title_bg
{
	background-color: #e7e7e7;
}
/* 編集テーブル・入力項目背景 */
.edit_item_bg
{
	background-color: #f8f8f8;
}
/* 情報テーブル・見出し背景 */
.info_title_bg
{
	background-color: #e7e7e7;
}
/* 情報テーブル・項目背景 */
.info_item_bg
{
	background-color: #f8f8f8;
}
/* エラーテーブル・見出し背景 */
.error_title_bg
{
	background-color: #e7e7e7;
}
/* エラーテーブル・項目背景 */
.error_item_bg
{
	background-color: #f8f8f8;
}


/*-------------------------------------------------
  テーブル：その他

 -------------------------------------------------*/
/* 一覧表示テーブル・アラート文言用 */
.list_alert td
{
	background-color: #f8f8f8;
	color : #505050;
	text-align: center;
	line-height: 300%;
}

/* 一覧表示テーブル・アラート文言用 */
.list_alert_left td
{
	background-color: #f8f8f8;
	color : #505050;
	text-align: left;
	line-height: 300%;
	padding-left:400px;
}

/* エラーテーブル・エラー文言用 */
.error_text
{
	text-align: left;
	margin-left: 20px;
	margin-right: 13px;
	margin-top: 17px;
	margin-bottom: 13px;
}

/* Message text */
.message_text
{
	text-align: left;
	margin-left: 0px;
	margin-right: 13px;
	margin-top: 17px;
	margin-bottom: 13px;
}

/* 商品バリエーション入力・位置調整 */
.productvariation_text
{
	margin-left:288px;
}

/*=========================================================================
  aspxコントロール用共通スタイル
 =========================================================================*/
/* RadioButtonList用 */
.radio_button_list td
{
	padding: 0px;
}

.radio_button_list label
{
	padding: 0px 5px 0px 2px;
}

.radio_button_list input
{
	padding: 3px 0px 5px 3px;
}

/* CheckButtonList用 */
.check_button_list td
{
	padding: 0px;
}

/* PopUpウィンドウ用 */
.popup_body
{
	color: #000000;
	font-size: 10pt;
	width: 100%;
	background-image: url();
	background-color: #939393;
	margin: 0;
	padding: 0;
	font-family: "MS UI Gothic";
}

.popup_bg
{
	background-color: #FFFFFF;
}

/*=========================================================================
  左メニュー
 =========================================================================*/
.manager_menu dt
{
	cursor:pointer;
	margin-top: -3px;
}

@-moz-document url-prefix() 
{
	.manager_menu dt {
		cursor:pointer;
		margin-bottom: -2px;
		margin-top: -4px;
	}
	.manager_menu #smenu
	{
		padding-bottom: 1px;
	}
}

/*=========================================================================
  ヘルプアイコンスタイル
 =========================================================================*/
/* ヘルプアイコン */
.help
{
	position: relative;
	top: -44px;
	left: 738px;
	height:10px;
	width:10px
}

/* チップ表示 */
.tinyTip
{
	width: 325px;
	padding: 17px 0px 0px 0px;
	display: block;
	background: url(../Images/Common/tip_top.png) 0px 0px no-repeat;
}
.tinyTip .content
{
	padding: 0px 15px 0px 15px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode";
	color: #010101;
	background: url(../Images/Common/tip_content.png) 0px 0px repeat-y;
}
.tinyTip .bottom
{
	height: 47px;
	background: url(../Images/Common/tip_bottom.png) 0px 0px no-repeat;
	font: 0px/0px sans-serif;
}
/* line 53, MenuAuthorityRegister.aspx/メニュー権限のCSS */
.multi_check {
	padding: 20px 0
}

/*=========================================================================
  外部リンクボタンスタイル
 =========================================================================*/
/* 外部リンクボタン設定のCSS */
.externallink {
	position: relative;
	padding: 2px 2px 0 1px;
	float: left;
	min-height: 40px;
}
.externallink-link {
	float: left; 
	position:absolute;
}
.externallink-title {
	min-width: 110px
}
.externallink-title:hover + .externallink-text {
	display:block;
}
.externallink-text {
  width:200px;
  min-height: 60px;
  padding: 10px 10px;
  background:#f8f8f8;
  border:solid 2px #28b9ab;
  border-radius: 10px;
  color: #444444;
  display: none;
  position: absolute;
  z-index: 11;
  margin-left:-50px;
}
.externallink-text-memo {
	text-align: left;
	padding: 1px -1px 1px 1px ;
	margin: 1px;
	word-break: break-all;
}
#open {
	cursor: pointer;
	margin-top: 5px
}
#open:hover .popup-wrap {
	display: block
}
.popup{
	position: absolute;
}
.popup-body {
	flex-direction:row-reverse;
	margin:-50px 0 0 -830px;
}
.popup-wrap
{
	min-height: 90px;
	padding: 10px 10px;
	background: #f8f8f8;
	border: solid 2px #28b9ab;
	border-radius: 10px;
	color: #444444;
	display: none;
	position: relative;
	float: left;
	z-index: 10;
}
