<?xml version="1.0" encoding="utf-8" ?>
<!--
=========================================================================================================
  Module      : メニュー定義XML(Menu.xml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2009 All Rights Reserved.
=========================================================================================================
-->
<Menu>
  <!--
  【function要素について】
    function要素権限の有効無効は、内部的にはビット演算で計算されるため、
    1,2,4,8,16,32,64と、2の倍数で登録する必要があります。
    DBの「function_level」には選択されたfunctionのvalueの合計が登録されます。
    
    例）w2_MenuAuthority.function_level = 6 の場合
        functionのvalueが「2」と「4」のfunctionに権限が与えられている事となります。
        
    注意：functionを作成した場合、Constants.csで『KBN_MENU_FUNCTION_XXXXXXX_DL』の設定、該当aspx.csでVisibleを設定することを忘れない様にしてください。
  【lmenu要素のkey属性について】
    機能一覧画面の制御に利用しています。PageIndexList.xmlのlmenu要素のkey属性と紐づいています。
    該当大項目の機能一覧画面が不要な場合はkey属性を削除してください。

  -->
  <lmenu name="システム管理" icon_css="icon-password" key="system">
      <smenu name="サイト設定" top="SiteConfiguration.aspx" path="Form/System/SiteConfiguration/" />
      <smenu name="バッチ管理" top="BatchManager.aspx" path="Form/System/BatchManager/"/>
  </lmenu>
  <lmenu name="サポート＆サービス" icon_css="icon-info" option="support" key="info">
      <smenu name="サポートサイト" top="SupportInformation.aspx" path="Form/Support/" option="support" />
      <smenu name="拡張オプション" top="Option.aspx" path="Form/Option/" option="option" />
  </lmenu>
  <lmenu name="ユーザー管理" icon_css="icon-user" key="user">
    <smenu name="ユーザー情報" top="UserList.aspx" path="Form/User/" >
      <function value="1" text="ユーザマスタダウンロード"></function>
      <function value="8" text="配送先マスタダウンロード"></function>
      <function value="2" text="ユーザ情報編集"></function>
      <function value="4" text="エラーメールポイント更新" option="updatepointerrormail"></function>
      <function value="16" text="パスワード欄表示"></function>
      <function value="64" text="e-SCOTT会員削除一覧ダウンロード"></function>
      <function value="128" text="ユーザ情報初期設定編集"></function>
    </smenu>
    <smenu name="ユーザー管理レベル設定" top="UserManagementLevelList.aspx" path="Form/UserManagementLevel/" option="usermanagementlevel_setting" />
    <smenu name="ユーザー拡張項目設定" top="UserExtendSettingList.aspx" path="Form/UserExtendSetting/" option="userextend_setting" />
    <smenu name="ユーザー統合" top="UserIntegrationList.aspx" path="Form/UserIntegration/" option="userintegration" />
    <smenu name="かんたん会員登録設定" top="UserEasyRegisterSettingList.aspx" path="Form/UserEasyRegisterSetting/" option="usereazyregister_setting" />
  </lmenu>
  <lmenu name="受注管理" icon_css="icon-order" key="order">
    <smenu name="受注情報" top="OrderList.aspx?firstview=1" path="Form/Order/" >
      <function value="1" text="受注マスタダウンロード"></function>
      <function value="2" text="受注商品マスタダウンロード"></function>
      <function value="4" text="納品書ダウンロード"></function>
      <function value="8" text="ピッキングリストダウンロード"></function>
      <function value="16" text="送り状発行CSVダウンロード" option="invoicecsv"></function>
      <function value="32" text="受注明細書ダウンロード" option="pdfoutputorderstatement"></function>
      <function value="64" text="受注セットプロモーションマスタダウンロード" option="setpromotion"></function>
      <function value="128" text="領収書ダウンロード" option="receipt"></function>
      <function value="256" text="データ結合マスタダウンロード" option="databinding_master"></function>
    </smenu>
    <smenu name="定期台帳" top="FixedPurchaseList.aspx" path="Form/FixedPurchase/" option="fixedpurchase" >
      <function value="1" text="定期購入マスタダウンロード"></function>
      <function value="2" text="定期購入商品マスタダウンロード"></function>
    </smenu>
    <smenu name="受注ワークフロー" top="OrderWorkflowList.aspx" path="Form/OrderWorkflow/" option="orderworkflow" >
      <function value="1" text="受注マスタダウンロード"></function>
      <function value="2" text="受注商品マスタダウンロード"></function>
      <function value="4" text="納品書ダウンロード"></function>
      <function value="8" text="ピッキングリストダウンロード"></function>
      <function value="16" text="送り状発行CSVダウンロード" option="invoicecsv"></function>
      <function value="32" text="受注明細書ダウンロード" option="pdfoutputorderstatement"></function>
      <function value="64" text="受注セットプロモーションマスタダウンロード" option="setpromotion"></function>
      <function value="128" text="領収書ダウンロード" option="receipt"></function>
      <function value="256" text="データ結合マスタダウンロード" option="databinding_master"></function>
    </smenu>
    <smenu name="受注ワークフロー設定" top="OrderWorkflowSettingList.aspx" path="Form/OrderWorkflowSetting/" option="orderworkflow" />
    <smenu name="注文拡張ステータス設定" top="OrderExtendStatusSettingList.aspx" path="Form/OrderExtendStatusSetting/" option="orderextendstatus_setting" />
    <smenu name="注文拡張項目設定" top="OrderExtendSettingList.aspx" path="Form/OrderExtendSetting/" option="orderextend_setting" />
    <smenu name="注文関連ファイル取込" top="OrderFileImport.aspx" path="Form/OrderFileImport/" />
    <smenu name="注文同梱" top="OrderCombine.aspx" path="Form/OrderCombine/" option="order_combine" />
    <smenu name="定期商品変更設定" top="FixedPurchaseProductChangeSettingList.aspx" path="Form/FixedPurchaseProductChangeSetting/" option="fixedpurchase_productchange" />
    <smenu name="定期台帳同梱" top="FixedPurchaseCombine.aspx" path="Form/FixedPurchaseCombine/" option="fixedpurchase_combine" />
    <smenu name="新規注文登録" top="OrderRegistInput.aspx" path="Form/OrderRegist/" option="orderregist" />
  </lmenu>
  <lmenu name="店舗スタッフ" icon_css="icon-shop" key="storepickup">
    <smenu name="店舗受取注文詳細" top="StorePickUpOrderList.aspx" path="Form/StorePickUp/" option="store_pickup_order_list" />
  </lmenu>
  <lmenu name="商品管理" icon_css="icon-goods" key="goods">
    <smenu name="商品情報" top="ProductList.aspx" path="Form/Product/" >
      <function value="1" text="商品ダウンロード"></function>
      <function value="2" text="商品バリエーションダウンロード"></function>
      <function value="4" text="商品拡張項目ダウンロード"></function>
      <function value="8" text="会員ランク価格ダウンロード" option="memberrank"></function>
      <function value="16" text="商品タグダウンロード" option="product_tag_setting"></function>
      <function value="32" text="商品詳細ページURLダウンロード"></function>
      <function value="64" text="商品初期設定編集"></function>
    </smenu>
    <smenu name="商品カテゴリ設定" top="ProductCategoryRegister.aspx" path="Form/ProductCategory/" option="product_category" >
      <function value="1" text="商品カテゴリマスタダウンロード"></function>
      <function value="2" text="商品一覧ページURLダウンロード"></function>
    </smenu>
    <smenu name="商品税率カテゴリ設定" top="ProductTaxCategoryList.aspx" path="Form/ProductTaxCategory/" ></smenu>
    <smenu name="商品タグ設定" top="ProductTagSettingList.aspx" path="Form/ProductTagSetting/" option="product_tag_setting" />
    <smenu name="商品ブランド設定" top="ProductBrandList.aspx" path="Form/ProductBrand/" option="product_brand" />
    <smenu name="商品サブ画像設定" top="ProductSubImageSettingList.aspx" path="Form/ProductSubImageSetting/" option="product_subimage_setting"/>
    <smenu name="新規商品登録" top="ProductRegister.aspx?action_status=insert" path="Form/Product/V2/" />
  </lmenu>
  <lmenu name="在庫管理" icon_css="icon-stock" key="stock">
    <smenu name="在庫情報" top="ProductStockList.aspx" path="Form/ProductStock/" option="product_stock" >
      <function value="1" text="商品在庫マスタダウンロード"></function>
    </smenu>
    <smenu name="在庫文言設定" top="ProductStockMessageList.aspx" path="Form/ProductStockMessage/" option ="product_stock_message_setting" />
    <smenu name="発注入庫管理" top="StockOrderList.aspx" path="Form/StockOrder/" option="logistics" >
      <function value="1" text="発注マスタダウンロード"></function>
      <function value="2" text="発注商品マスタダウンロード"></function>
    </smenu>
    <smenu name="シリアルキー情報" top="SerialKeyList.aspx" path="Form/SerialKey/" option="digitalcontents">
      <function value="1" text="シリアルキーマスタダウンロード"></function>
    </smenu>
  </lmenu>
  <lmenu name="プロモーション管理" icon_css="icon-promotion" key="promotion">
    <smenu name="セットプロモーション設定" top="SetPromotionList.aspx" path="Form/SetPromotion/" option="setpromotion" />
    <smenu name="商品セット設定" top="ProductSetList.aspx" path="Form/ProductSet/" option="product_set" />
    <smenu name="ノベルティ設定" top="NoveltyList.aspx" path="Form/Novelty/" option="novelty" />
    <smenu name="セール設定" top="ProductSaleList.aspx" path="Form/ProductSale/" option="product_sale" >
      <function value="1" text="商品セール価格マスタダウンロード"></function>
    </smenu>
    <smenu name="レビュー管理" top="ProductReviewList.aspx" path="Form/ProductReview/" option="product_review" >
      <function value="1" text="商品レビューダウンロード"></function>
    </smenu>
    <smenu name="入荷通知メール管理" top="UserProductArrivalMailList.aspx" path="Form/UserProductArrivalMail/" option="user_product_arrival_mail" >
      <function value="1" text="入荷通知メールダウンロード"></function>
    </smenu>
    <smenu name="レコメンド設定" top="RecommendList.aspx" path="Form/Recommend/" option="recommend" />
    <smenu name="商品同梱設定" top="ProductBundleList.aspx" path="Form/ProductBundle/" option="product_bundle" />
    <smenu name="頒布会コース設定" top="SubscriptionBoxList.aspx" path="Form/SubscriptionBox/" option="subscriptionbox" />
  </lmenu>
  <lmenu name="リアル店舗管理"  icon_css="icon-shop" option="realshop" key="shop">
    <smenu name="リアル店舗情報" top="RealShopList.aspx" path="Form/RealShop/" >
      <function value="1" text="リアル店舗マスタダウンロード"></function>
    </smenu>
    <smenu name="リアル店舗在庫情報" top="RealShopProductStockList.aspx" path="Form/RealShopProductStock/" >
      <function value="1" text="リアル店舗在庫マスタダウンロード"></function>
    </smenu>
  </lmenu>
  <lmenu name="モール管理"  icon_css="icon-mall" option="mallcooperation" key="mall">
    <sname name="モール商品アップロード" top="MallProductUpload.aspx" path="Form/MallProductUpload/" />
    <sname name="モール出品設定" top="MallExhibitsConfigList.aspx" path="Form/MallExhibitsConfig/" />
    <sname name="モール連携監視" top="MallWatchingLogList.aspx" path="Form/MallWatchingLog/" />
    <sname name="モール連携基本設定" top="MallLiaiseList.aspx" path="Form/MallLiaise/" />
    <smenu name="商品コンバータ設定" top="ProductConverterList.aspx" path="Form/ProductConverter/" />
    <smenu name="商品拡張項目設定" top="ProductExtendSettingList.aspx" path="Form/ProductExtendSetting/" />
  </lmenu>

  <lmenu name="サイト管理"  icon_css="icon-setting" key="setting">
    <smenu name="ダッシュボード" top="SummaryInformation.aspx" path="Form/Summary/" />
    <smenu name="決済種別設定" top="PaymentList.aspx" path="Form/Payment/" />
    <smenu name="配送種別設定" top="ShippingList.aspx" path="Form/Shipping/" />
    <smenu name="配送サービス設定" top="DeliveryCompanyList.aspx" path="Form/DeliveryCompany/" />
    <smenu name="特別配送先設定" top="ShippingZoneList.aspx" path="Form/ShippingZone/" />
    <smenu name="配送地域設定" top="GlobalShippingAreaList.aspx" path="Form/GlobalShipping/" option="global" />
    <smenu name="注文メモ設定" top="OrderMemoList.aspx" path="Form/OrderMemoInfo/" />
    <smenu name="受注情報一覧表示設定" top="OrderListDispSetting.aspx" path="Form/OrderListDispSetting/" />
    <smenu name="定期解約理由区分設定" top="FixedPurchaseCancelReasonList.aspx" path="Form/FixedPurchaseCancelReason/" option="fixedpurchase" />
    <smenu name="メールテンプレート設定" top="MailTemplateList.aspx" path="Form/MailTemplate/" />
    <smenu name="休日設定" top="HolidayManagementList.aspx" path="Form/HolidayManagement/" />
    <smenu name="為替レート設定" top="ExchangeRateSetting.aspx" path="Form/ExchangeRateSetting/" option="global" />
    <smenu name="自動翻訳設定" top="AutoTranslationWordList.aspx" path="Form/AutoTranslationWord/" option="translation"/>
    <smenu name="メンテナンス設定" top="MaintenanceSetting.aspx" path="Form/MaintenanceSetting/" />
  </lmenu>
  <lmenu name="データ管理"  icon_css="icon-data" key="data">
    <smenu name="データ移行管理" top="DataMigrationManager.aspx" path="Form/DataMigration/" option="data_migration_setting" />
    <smenu name="マスタアップロード" top="MasterImportList.aspx" path="Form/MasterImport/" />
    <smenu name="マスタダウンロード設定" top="MasterExportSettingRegister.aspx" path="Form/MasterExportSetting/" />
    <smenu name="外部ファイルアップロード" top="ExternalImportList.aspx" path="Form/ExternalImport/" option="external_import" />
    <smenu name="名称翻訳設定" top="NameTranslationSettingList.aspx" path="Form/NameTranslationSetting/" option="global_multi_languages" />
    <smenu name="名称翻訳設定ダウンロード" top="NameTranslationSettingDownLoad.aspx" path="Form/NameTranslationSettingDownLoad/" option="global_multi_languages" />
    <smenu name="電子発票管理" top="InvoiceManagement.aspx" path="Form/TwInvoice/" option="invoice" />
  </lmenu>
  <lmenu name="オペレータ管理" icon_css="icon-operator" key="operator">
    <smenu name="オペレータ情報" top="OperatorList.aspx" path="Form/Operator/" />
    <smenu name="パスワード変更" top="OperatorPasswordChangeInput.aspx" path="Form/OperatorPasswordChange/" />
    <smenu name="メニュー権限設定" top="MenuAuthorityList.aspx" path="Form/MenuAuthority/" />
  </lmenu>
</Menu>
