<?xml version="1.0"?>
<!--
=========================================================================================================
  Module      : Web.config
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2009 All Rights Reserved.
=========================================================================================================
-->
<!--
  ★注意★
    外部サイト構築では <compilation> タグの debug 属性をfalseとしてください！
-->
<configuration>
  <appSettings>
    <!--===============================================================================-->
    <!-- アプリケーション設定 -->
    <!--===============================================================================-->
    <!-- アプリケーション名 -->
    <add key="Application_Name" value="w2.Commerce.Front"/>
    <!-- 設定ファイルディレクトリパス -->
    <add key="ConfigFileDirPath" value="C:\inetpub\wwwroot\R5044_Kagome.Develop\Commons\w2.CustomerResources\" />
  </appSettings>
  <!--===============================================================================-->
  <!-- ロケーション毎の設定 -->
  <!--===============================================================================-->
  <!-- SBPSページはShift_JISでないといけない -->
  <location path="Payment/SBPS">
    <system.web>
      <globalization requestEncoding="Shift_JIS" responseEncoding="Shift_JIS" enableBestFitResponseEncoding="true"/>
    </system.web>
  </location>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--===============================================================================-->
    <!-- ステートサーバの設定 -->
    <!--===============================================================================-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="20" cookieName="ASP.NET_SessionId.Front" cookieSameSite="None"/>
    <!-- cookieSameSite="None"のときはクッキーのsecureフラグをTrueにする（Chrome80対応）-->
    <httpCookies requireSSL="true"/>
    <!--===============================================================================-->
    <!--  UTF-8出力設定  -->
    <!--===============================================================================-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" enableBestFitResponseEncoding="true"/>
    <!--===============================================================================-->
    <!-- enableVersionHeader：レスポンスヘッダ（X-AspNet-Version）true：表示 false：非表示 -->
    <!--===============================================================================-->
    <httpRuntime enableVersionHeader="false"/>
    <!--===============================================================================-->
    <!-- コンパイルオプション -->
    <!--===============================================================================-->
    <!-- ※注意！本番/テスト環境リリース時は「debug」属性を「false」としてください！ -->
    <compilation debug="true" batch="false" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="w2c" namespace="w2.Commerce.Front.WebCustomControl" assembly="App_Code"/>
        <add tagPrefix="w2c" namespace="w2.App.Common.Web.WebCustomControl" assembly="w2.App.Common"/>
      </controls>
      <namespaces>
        <add namespace="w2.App.Common.Extensions.Currency"/>
        <add namespace="w2.App.Common.Global.Region.Currency"/>
        <add namespace="w2.App.Common.Order"/>
        <add namespace="w2.App.Common.Option"/>
        <add namespace="w2.App.Common.Product"/>
        <add namespace="w2.App.Common.UserProductArrivalMail"/>
        <add namespace="System.Data"/>
        <add namespace="w2.Domain.SetPromotion"/>
        <add namespace="w2.Domain.ProductListDispSetting"/>
        <add namespace="w2.Domain.FixedPurchase.Helper"/>
        <add namespace="w2.Domain.UserExtendSetting"/>
        <add namespace="w2.Domain.User"/>
      </namespaces>
    </pages>
    <!-- HttpBrowserCapabilities オブジェクトのキャッシュに使用する指定されたユーザー エージェント文字列からの文字数
          Safariブラウザの場合、正しくUAが取得できないことがあります。「256」固定としてください -->
    <browserCaps userAgentCacheKeyLength="256"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors errorMode="Custom">
      <error statusCode="404" subStatusCode="0" prefixLanguageFilePath="" path="/R5044_Kagome.Develop/Web/w2.Commerce.Front/Form/Error.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <caching enableKernelCache="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>