<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="w2.Plugin.P0011_Intercom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <w2.Plugin.P0011_Intercom.Properties.Settings>
            <setting name="w2_Plugin_P0011_Intercom_Intercom_User_w2iUserSyncService" serializeAs="String">
                <value>http://reddragon.intercom.co.jp/iw2WebService/w2iUserSyncService.asmx</value>
            </setting>
            <setting name="w2_Plugin_P0011_Intercom_Intercom_Event_RecommendService" serializeAs="String">
                <value>http://reddragon.intercom.co.jp/iw2WebService/RecommendService.asmx</value>
            </setting>
        </w2.Plugin.P0011_Intercom.Properties.Settings>
    </applicationSettings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
