@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	color: #000000;
	font-size: 62.5%;
	font-weight: normal;
	font-family: 'Noto Sans JP', sans-serif;
}

.l-container-wrap {
	height: 100vh;
	margin: 70px 0 40px;
	padding: 20px 25px;
	background-color: #F4F4F4;
}

.l-container {
	margin-bottom: 50px;
	font-size: 1.6rem;
	font-weight: 300;
}

.s-header-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 70px;
	background-color: #F4F4F4;
	border-bottom: solid 2px #FFFFFF;
	z-index: 99;
}

.s-header {
	display: flex;
	justify-content: space-between;
}

.s-header__logo {
	padding: 0 0 0 15px;
	font-size: 3.2rem;
	font-weight: normal;
	line-height: 70px;
}

.s-header__memberId {
	display: block;
	width: 70px;
	height: 70px;
}

.s-header__memberIdLink {
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 15px;
}

.s-header__memberIdImg {
	display: block;
	width: 100%;
	height: 100%;
}

.s-footer {
	display: inline-block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	font-size: 1.1rem;
	text-align: center;
	background-color: #F4F4F4;
	border-top: solid 2px #FFFFFF;
}

.s-footer-copy {
	line-height: 40px;
}

.m-inputForm-wrap {
	margin-bottom: 20px;
	padding: 30px 25px;
	border: solid 1px #CDD6DD;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.m-inputForm-title {
	font-size: 2rem;
	margin-bottom: 15px;
}

.m-inputForm-discription {
	margin-bottom: 20px;
}

.m-inputForm-inputs {
	margin-bottom: 20px;
}

.m-inputForm-head {
	margin-bottom: 5px;
	font-weight: 500;
}

.m-inputForm-input {
	margin-bottom: 15px;
}

.m-inputForm-input input {
	display: block;
	width: 100%;
	height: 35px;
	padding: 5px;
	line-height: 35px;
	border: solid 1px #033333;
	border-radius: 3px;
}

.m-inputForm-input input[type="text"] {
	font-size: 110%;
}

.m-inputForm-input input[type="password"] {
	font-size: 120%;
}

.m-inputForm__btn {
	display: block;
	width: 150px;
	margin: 0 auto;
	padding: 7px 10px 8px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 30px;
	background-color: #004BB1;
}

.m-featureBanner-wrap {
	width: 100vw;
	margin-top: -20px;
	margin-left: calc(-50vw + 50%);
}

.m-featureBanner__img {
	display: block;
	width: 100%;
}

.m-menuList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20px;
}

.m-menuListItem {
	width: 45%;
	margin-bottom: 25px;
	padding: 15px 10px;
	border: solid 2px #899299;
	border-radius: 10px;
}

a.m-menuListItem {
	color: #000000;
	text-decoration: none;
}

.m-menuListItem__img-wrap {
	position: relative;
	width: 60%;
	margin: 0 auto 10px;
}

.m-menuListItem__img-wrap::after {
	content: "";
	display: block;
	padding-top: 100%;
}

.m-menuListItem__img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.m-menuListItem__title {
	font-size: 1.4rem;
	text-align: center;
}

.m-barcodeContent {
	margin: 30px auto 50px;
}

.m-barcodeContent__title {
	margin-bottom: 50px;
	font-size: 2.8rem;
	text-align: center;
}

.m-barcodeContent__subtitle {
	font-size: 2.2rem;
}

.m-barcodeContent__barcode-wrap {
	padding: 25px 20px;
	border: solid 2px #CDD6DD;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.m-barcodeContent__barcode {
	display: block;
	text-align: center;
	width: 100%;
	margin: 15px auto 15px;
}

.m-barcodeContent__mamberId {
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 30px;
}

.m-barcodeContent__btn {
	display: block;
	width: 150px;
	margin: 0 auto;
	padding: 7px 10px 8px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 30px;
	background-color: #004BB1;
}

.m-inputForm-error {
	width: 100%;
	padding: 10px 10px;
	margin: 15px auto;
	border-radius: 5px;
	background-color: #FFB6C1;
	font-size: 1.2rem;
	font-weight: bold;
	color: #ff0000;
}