<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--===============================================================================-->
    <!-- w2Database設定 -->
    <!-- v5のWebConfigの定義と同じもの -->
    <!-- 最終的にはv5のWebConfigが使われるのでココの定義はいらない -->
    <!--===============================================================================-->
    <add name="w2Database" providerName="System.Data.SqlClient" connectionString="server=w2DB1;database=P0011_Intercom;uid=sa;pwd=w2Sa"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntercomService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/w2Plugin.P0011_Intercom.WebService.TestIC/IntercomService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntercomService" contract="SR_Intercom.IIntercomService" name="BasicHttpBinding_IIntercomService"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
