<?xml version="1.0"?>
<!--
=========================================================================================================
  Module      : 設定ファイル(app.config)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Application : w2.Commerce.Batch.ImportPublicity
  BaseVersion : V5.0
  Author      : M.Yoshimoto
  email       : product@w2solution.co.jp
  Copyright   : Copyright w2solution Co.,Ltd. 2011 All Rights Reserved.
  URL         : http://www.w2solution.co.jp/
=========================================================================================================
PKG-V5.0[PF0118] 2011/04/25 M.Yoshimoto     P0001_NatureLab：パブリシティ取込機能対応
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ImportPublicity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="w2.Commerce.Batch.ImportPublicity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--===============================================================================-->
  <!-- SQL接続文字列 -->
  <!--===============================================================================-->
  <connectionStrings>
    <add name="w2.Commerce.Batch.ImportPublicity.Properties.Settings.SqlConnection" connectionString="server=w2DB1;database=R5044_Kagome.Develop;uid=sa;pwd=w2Sa"/>
  </connectionStrings>
  <!--===============================================================================-->
  <!-- アプリケーション設定 -->
  <!--===============================================================================-->
  <userSettings>
    <w2.Commerce.Batch.ImportPublicity.Properties.Settings>
      <setting name="Application_Name" serializeAs="String">
        <value>w2.Commerce.Batch.ImportPublicity</value>
      </setting>
      <setting name="SiteId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Publicity_ManagementServer_Access_UpdatedDateUrl" serializeAs="String">
        <value>http://dev-zeus.naturelab.co.jp/publicity/webapp.php/artcle/lastmod/</value>
      </setting>
      <setting name="Publicity_ManagementServer_Access_PublicityXmlUrl" serializeAs="String">
        <value>http://dev-zeus.naturelab.co.jp/publicity/webapp.php/artcle/xml</value>
      </setting>
      <setting name="Directory_LogFilePath" serializeAs="String">
        <value>C:\Logs\R5044_Kagome.Develop\w2.Commerce.Batch.ImportPublicity\</value>
      </setting>
      <setting name="PC_ImageFileDirPath" serializeAs="String">
        <value>C:\Inetpub\wwwroot\R5044_Kagome.Develop\Web\w2.Commerce.Front\Contents\img\</value>
      </setting>
      <setting name="PC_TemplateFileDirPath" serializeAs="String">
        <value>C:\Inetpub\wwwroot\R5044_Kagome.Develop\Web\w2.Commerce.Front\Contents\Html\</value>
      </setting>
      <setting name="PC_PublicityFileDirPath" serializeAs="String">
        <value>C:\Inetpub\wwwroot\R5044_Kagome.Develop\Web\w2.Commerce.Front\Form\Publicity\</value>
      </setting>
      <setting name="SmartPhone_ImageFileDirPath" serializeAs="String">
        <value>C:\Inetpub\wwwroot\R5044_Kagome.Develop\Web\w2.Commerce.Front\Contents\img\SmartPhone\</value>
      </setting>
      <setting name="SmartPhone_TemplateFileDirPath" serializeAs="String">
        <value>C:\Inetpub\wwwroot\R5044_Kagome.Develop\Web\w2.Commerce.Front\Contents\Html\SmartPhone\</value>
      </setting>
      <setting name="SmartPhone_PublicityFileDirPath" serializeAs="String">
        <value>C:\Inetpub\wwwroot\R5044_Kagome.Develop\Web\w2.Commerce.Front\SmartPhone\Form\Publicity\</value>
      </setting>
      <setting name="Mobile_PublicityViewTemplate_PageID" serializeAs="String">
        <value>U121_PUBLICITY_VIEW_TEMPLATE</value>
      </setting>
      <setting name="Mobile_PublicityArchiveTemplate_PageID" serializeAs="String">
        <value>U131_PUBLICITY_ARCHIVE_TEMP</value>
      </setting>
      <setting name="Mobile_PublicityView_PageID" serializeAs="String">
        <value>U120_PUBLICITY_VIEW</value>
      </setting>
      <setting name="Mobile_PublicityBackNumberTemplate_PageID" serializeAs="String">
        <value>U141_PUBLICITY_BACK_TEMP</value>
      </setting>
      <setting name="Mobile_SiteTop_PageID" serializeAs="String">
        <value>R101_SITTOP</value>
      </setting>
      <setting name="Mobile_PublicityTopTemplate_PageID" serializeAs="String">
        <value>U111_PUBLICITY_TOP_TEMPLATE</value>
      </setting>
      <setting name="Mobile_PublicityArchive_PageID" serializeAs="String">
        <value>@@yyyyMM@@_PUBLICITY_ARCHIVE</value>
      </setting>
      <setting name="Mobile_ImageFileDirPath" serializeAs="String">
        <value>C:\Inetpub\wwwroot\R5044_Kagome.Develop\Web\w2.Commerce.MobileFront\Cnts\imgs\</value>
      </setting>
    </w2.Commerce.Batch.ImportPublicity.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
