<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- .xml ファイルは読めなくする -->
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".xml" />
          <add fileExtension=".xml" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
