@*
=========================================================================================================
  Module      : 決済種別置換タグリスト部分ビュー(_ReplaceTag.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2021 All Rights Reserved.
=========================================================================================================
*@

@using System.Web.UI.WebControls

<div id="tags" style="border: 5px solid #d0cfcf; height: 190px;" class="payment_tag_description">
	<h2>置き換えタグ説明</h2>
	<table id="payment_tag_table" class="payment_tag_table edit_table" cellspacing="1" border="0">
		<tr class="edit_title_bg">
			<th align="left">表示項目</th>
			<th id='enclosure_tag' align="left">囲みタグ</th>
		</tr>
		@foreach (ListItem item in Model.PaymentReplaceTags)
		{
			<tr class="Input_XmlInfo_9__Text"
				style="background-color: blanchedalmond">
				<td align="left">@item.Text</td>
				<td align="left"
					onmouseover="listselect_mover(this)"
					onmouseout="listselect_mout1(this)"
					onmousedown="listselect_mdown(this)"
					onclick="tagInput('@item.Value');">
					@item.Value
				</td>
			</tr>
		}
		<tr>
			<td id="remarks" colspan="3" style="background: #f8f8f8">
				■備考<br />
				・選択されている決済種別に応じて文言を出し分けることができます。<br />
				(例)<br />
				&lt;@@OrderPaymentKbn:K10@@&gt;クレジットカード決済手数料●●円&lt;/@@OrderPaymentKbn:K10@@&gt;<br />
				&lt;@@OrderPaymentKbn:K20@@&gt;代引き手数料●●円&lt;/@@OrderPaymentKbn:K20@@&gt;<br />
				上記の記述をし注文確認画面で選択されている決済種別がクレジットカードの場合<br />
				「クレジットカード決済手数料●●円」の文言が表示されます。
			</td>
		</tr>
	</table>
</div>