<?xml version="1.0" encoding="utf-8"?>
<!--
=========================================================================================================
  Module      : Web.Config
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2009 All Rights Reserved.
=========================================================================================================
-->
<!--
  ★注意★
    外部サイト構築では <compilation> タグの debug 属性をfalseとしてください！
-->
<configuration>
  <appSettings>
    <!--===============================================================================-->
    <!-- アプリケーション設定 -->
    <!--===============================================================================-->
    <!-- アプリケーション名 -->
    <add key="Application_Name" value="w2.MarketingPlanner.Manager" />
    <!-- 設定ファイルディレクトリパス -->
    <add key="ConfigFileDirPath" value="C:\inetpub\wwwroot\R5044_Kagome.Develop\Commons\w2.CustomerResources\" />
    <!-- Formで転送可能な要素数の上限値を設定（「kb2661403」対応） -->
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  </appSettings>
  <system.web>
    <!--===============================================================================-->
    <!--  HTTP経由でのアクセスを制御する設定(IISでも設定が必要)  -->
    <!--===============================================================================-->
    <httpHandlers>
      <add verb="*" path="*.conf" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.xml" type="System.Web.StaticFileHandler" />
    </httpHandlers>
    <!--===============================================================================-->
    <!-- ステートサーバの設定 -->
    <!--===============================================================================-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="20" cookieName="ASP.NET_SessionId.w2mpManager" />
    <!--===============================================================================-->
    <!-- クロスサイトスクリプトチェックオフ -->
    <!--===============================================================================-->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <!-- 全ページ共通名前空間を宣言 -->
        <add namespace="w2.App.Common.Extensions.Currency" />
      </namespaces>
    </pages>
    <!--===============================================================================-->
    <!--  UTF-8出力設定  -->
    <!--===============================================================================-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" enableBestFitResponseEncoding="true" />
    <!--===============================================================================-->
    <!-- enableVersionHeader：レスポンスヘッダ（X-AspNet-Version）true：表示 false：非表示 -->
    <!--===============================================================================-->
    <!--↓ requestValidationMode="2.0"としないとタグを含んだ情報を更新できない-->
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="20480" />
    <!--===============================================================================-->
    <!-- コンパイルオプション -->
    <!--===============================================================================-->
    <!-- ※注意！本番/テスト環境リリース時は「debug」属性を「false」としてください！ -->
    <compilation debug="true" batch="false" targetFramework="4.8" />
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
