<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="P0045_Nakagawa.w2.Commerce.ExternalAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <P0045_Nakagawa.w2.Commerce.ExternalAPI.Properties.Settings>
            <setting name="ftpHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ftpUserName" serializeAs="String">
                <value>ftpuser</value>
            </setting>
            <setting name="ftpUserPassword" serializeAs="String">
                <value>ftpuserpw</value>
            </setting>
            <setting name="ftpUseActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftpEnableSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftpUploadFileEncode" serializeAs="String">
                <value>shift_jis</value>
            </setting>
            <setting name="header" serializeAs="String">
                <value>"システム受注番号","サイト受注番号","ショッピングモールコード","ショッピングモール名","ストアコード","ストア名","受注日時","キャンセル日付","顧客コード","注文者名","注文者名カナ","注文者郵便番号","注文者住所","注文者電話番号","注文者FAX番号","注文者メールアドレス","注文備考","社内備考","倉庫指示","警告内容","受注進捗コード","受注進捗名","決済方法コード","決済方法名","支払回数コード","支払回数名","モバイル注文フラグ","ポイント","クーポン","税抜合計","消費税","税込合計","配送料","代引手数料","請求金額","同梱フラグ","配送番号","楽天用ID","配送先名","配送先名カナ","配送先郵便番号","配送先住所","配送先電話番号","配送先FAX番号","配送進捗","配送進捗名","配送方法","配送方法名","配送時間","配送時間名","配送料1","代引手数料1","ギフトフラグ","出荷日","出荷確定日","配送日","荷物番号","備考","商品番号","楽天用ID1","商品コード","商品名","項目選択肢横軸","項目選択肢縦軸","数量","税抜単価","単品消費税","税抜金額","消費税1","税込金額","社内備考1","出荷備考","データ登録日時","データ更新日時","データ更新者コード","データ更新者名"</value>
            </setting>
            <setting name="ftpUploadDirectory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>order_sell</string>
                        <string>order_ship</string>
                        <string>order_stck</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ftpUploadFileExtension" serializeAs="String">
                <value>.csv</value>
            </setting>
        </P0045_Nakagawa.w2.Commerce.ExternalAPI.Properties.Settings>
    </applicationSettings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
