@*
=========================================================================================================
  Module      : 拡大画像モーダル(_EnlargeImageModal.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
<a href="javascript:void(0)" class="btn btn-main btn-size-m btn-modal-open" data-modal-selector="#image-modal" data-modal-classname="modal-size-l" style="display:none" id="image-modal-l-btn"></a>
<a href="javascript:void(0)" class="btn btn-main btn-size-m btn-modal-open" data-modal-selector="#image-modal" data-modal-classname="modal-size-m" style="display:none" id="image-modal-m-btn"></a>
<div id="enlargeImage" class="modal-content-hide">
	<div id="image-modal" style="text-align:center;">
		<img src="" alt="プレビュー" id="modal" class="enlarge"/>
	</div>
</div>