@*
=========================================================================================================
  Module      : モーダルウィンドウ:コード差分(パーシャルビュー)(_ModalDiffContentCode.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
<!-- コード差分モーダル -->
<div class="modal-content-hide">
	<div id="modal-diff-content-code">
		<p class="modal-inner-ttl">コード差分</p>
		<div class="modal-inner-diff-content-code">
			<div id="modal-inner-diff-content-code-inner"></div>
			<div class="modal-footer-action">
				<input type="button" class="btn btn-sub btn-size-l" onclick="modal.close();" value="キャンセル">
				<input type="button" id="modal-diff-content-code-update-btn" class="btn btn-main btn-size-l" value="更新する">
			</div>
		</div>
		<div class="bottom-notes">
			<p>■コード差分について</p>
			コンテンツ編集より更新前と後で差分が存在するものが表示されます。<br>
			更新前：<span style="background-color: rgb(255,230,230)">赤ハイライト 打消し線</span><br>
			更新後：<span style="background-color: rgb(230,255,230)">緑ハイライト</span><br>
			差分の比較は行単位でご確認して頂けます。<br>
			修正内容に問題がなければ「更新」ボタンをクリックしてください。<br>
			「¶」は改行コードです。<br/>
		</div>
	</div>
</div>