@*
=========================================================================================================
  Module      :  自動バックアップリストモーダル(_ModalAutoBackupList.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
<style>
	li + a + p:first-child{
		background: #e74c3c ;
	}
</style>
<div class="modal-content-hide">
	<!-- 自動バックアップリストモーダル -->
	<div id="modal_auto_backup_list">
		<p class="modal-inner-ttl">自動バックアップリスト</p>
		<div class="modal-inner-change-group" style="margin: 0 auto; width: 90%;">
			<div class="form-element-group form-element-group-horizontal">
				<div id="auto-backed-up-design-file-list" class="form-element-group-content">
					<!-- ko if: isExistFiles -->
						<ul data-bind="foreach: fileDetas">
							<li style="margin-top: 7px;"><a href="javascript:void(0)" data-bind="text: $data.FileName, click: $parent.onClick"></a>
								<!-- ko if: $index() === 0 -->
								（最新）
								<!-- /ko -->
							</li>
						</ul>
					<!-- /ko -->
					<!-- ko ifnot: isExistFiles -->
						<p>バックアップファイルが存在しません。</p>
					<!-- /ko -->
				</div>
			</div>
		</div>
	</div>
</div>