@charset "UTF-8";

@import "ScoringSale/imports/reset.css";
@import "ScoringSale/imports/base.css";
@import "imports/order.css";
@import "ScoringSale/imports/user.css";
@import "ScoringSale/imports/hack.css";
@import "imports/parts.css";
@import "ScoringSale/imports/general_classes.css";

.error_inline {
	color:#ff0000;
	padding: 1px !important;	/* for IE */
	display:block!important;
}