@charset "UTF-8";

@import "imports/reset.css";
@import "imports/base.css";
@import "imports/order.css";
@import "imports/user.css";
@import "imports/hack.css";
@import "imports/parts.css";
@import "imports/general_classes.css";
@import "imports/coordinate.css";
@import "imports/silveregg_recommend.css";

.error_inline {
	color:#ff0000;
	padding: 1px !important;	/* for IE */
	display:block!important;
}
.warning_inline {
	color: black;
	padding: 1px !important;
	display:block!important;
}
.tags {
	margin-bottom: 10px;
}
.tags > ul {
	display: flex;
	flex-wrap: wrap;
}
.tags > ul > li {
	display: inline-block;
	width: 16.4%;
	height: 35px;
	line-height: 35px !important;
	margin: -1px 0 0 -1px !important;
	background-color: #EFEFEF;
	border: 1px solid #333;
	overflow: hidden;
}
.tags > ul > li > a {
	display: block;
	text-align: center;
	font-size: 123.1%;
	font-family: Times,serif;
	text-decoration: none;
}
.tags > ul > li > a:hover {
	color: initial;
	background-color: #FFFFFF;
}
.tags > ul > li.active > a {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.shopDetail {
	justify-content: space-between;
	display: flex;
}
.brandList .brandName {
	font-size: 1.3rem;
	color: #989898;
}
.realShopList {
	margin: 1rem 0 !important;
}
.shopDetail + .shopDetail {
	border-top: 1px solid #c0c0c0;
}
.realShopList a {
	width: 100%;
	position: relative;
	padding: 1rem !important;
	display: flex;
	justify-content: space-between;
}
.shopDetail .realShopName {
	width: 25%;
}
.shopDetail .realShopAddress {
	width: 70%;
	padding: 0 1rem;
}
.shopDetail .realShopAddress p {
	line-height:16px;
}
.shopDetail .arrowNext {
	width: 1rem;
}
.shopDetail .arrowNext:after {
	content: "";
	position: absolute;
	top: 40%;
	height: 10px;
	width: 10px;
	border-right: 2px solid #c0c0c0;
	border-bottom: 2px solid #c0c0c0;
	transform: rotate(-45deg);
}
.shopDetail .shopInformation,
.shopDetail .shopMap {
	margin: 1rem;
}
.shopInformation table {
	background-color: #fff !important;
}
.shopInformation .header p {
	min-height: 3rem;
}
.shopInformation .header p:first-child {
	font-size: 20px;
}
.shopInformation tr {
	display: block;
	padding: 1rem 0;
}
.shopInformation tr td:first-child {
	width: 120px;
	padding-right: 1rem;
	text-align: start;
}
.shopMapDetail {
	width:400px;
	height:450px;
	border:0;
}
.btnBack {
	display: flex;
	justify-content: flex-end;
	margin: 1rem;
}
.wrap > h2 {
	border: 1px solid #ccc;
	border-top: solid;
	padding: 1rem;
	font-size: 20px;
}
.notProductError {
  color: red;
}
