@charset "UTF-8";

/* line 67, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.preview-element select {
  outline: none;
  text-indent: 0.01px;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  height: 32px;
  line-height: 32px;
  padding: 0 30px 0 10px;
  margin: 3px;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: #fff url(../Contents/ImagesPkg/arrow_select.png) right 50%/20px no-repeat;
  cursor: pointer;
  font-family: 'Lato', 'Noto Sans Japanese', "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}
/* line 85, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.preview-element select[multiple] {
  height: auto;
  background: #fff;
}

/* line 90, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.preview-element select::-ms-expand {
  display: none;
}

/* line 93, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.preview-element select:hover,
.preview-element select:focus {
  background-color: #f0fff1;
  border: 1px solid #6f6f6f;
  vertical-align: middle;
}

/* line 100, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.preview-element input[type="text"]:disabled,
.preview-element input[type="text"]:disabled:hover,
.preview-element input[type="text"]:disabled:focus,
.preview-element select:disabled,
.preview-element select:disabled:hover,
.preview-element select:disabled:focus {
  background-color: #efefef !important;
  border-color: #e2e2e2 !important;
  color: #7e7e7e;
  cursor: auto;
}

/* line 4, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn,
a.previewbtn {
  font-family: 'Lato', 'Noto Sans Japanese', "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  border-radius: 100px;
  padding: 6px 20px;
  margin: 3px 3px 3px 0;
  line-height: 1.1;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  background-color: #6f6f6f;
  color: #e2e2e2;
}
/* line 21, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn:disabled, .previewbtn:disabled:hover,
a.previewbtn:disabled,
a.previewbtn:disabled:hover {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  width: auto !important;
  background-color: #efefef !important;
  border-color: #e2e2e2 !important;
  color: #999;
  cursor: auto;
}
/* line 30, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-main,
a.previewbtn-main {
  background: #4ca750;
  color: #fff;
  border: 1px solid #4ca750;
  width: auto;
}
/* line 35, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-main:hover,
a.previewbtn-main:hover {
  background: #0d5b10;
  border: 1px solid #0d5b10;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}
/* line 41, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-sub,
a.previewbtn-sub {
  background: #fff;
  color: #249029;
  border: none;
  border: 1px solid #4ca750;
}
/* line 46, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-sub:hover,
a.previewbtn-sub:hover {
  border: 1px solid #4ca750;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  background: #fff;
}
/* line 52, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-txt,
a.previewbtn-txt {
  box-shadow: none;
  border-radius: 5px;
}
/* line 56, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-txt:hover,
a.previewbtn-txt:hover {
  background: #ddd;
}
/* line 61, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-size-l,
a.previewbtn-size-l {
  font-size: 20px;
  padding: 0 30px;
  height: 46px;
  line-height: 46px;
}
/* line 67, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-size-m,
a.previewbtn-size-m {
  font-size: 16px;
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
}
/* line 73, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-size-s,
a.previewbtn-size-s {
  font-size: 12px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
}
/* line 80, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-close,
a.previewbtn-close {
  cursor: pointer;
}
/* line 82, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-close .icon,
a.previewbtn-close .icon {
  color: #7e7e7e;
  font-size: 16px;
}
/* line 87, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-close:hover .icon,
a.previewbtn-close:hover .icon {
  color: #4ca750;
}
/* line 93, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn .icon + span,
a.previewbtn .icon + span {
  margin-left: 10px;
}
/* line 98, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-switch-off,
a.previewbtn-switch-off {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  width: auto;
  background-color: #efefef;
  border-color: #e2e2e2;
  color: #999;
  cursor: pointer;
}
/* line 105, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-switch-off:hover,
a.previewbtn-switch-off:hover {
  background: #4ca750;
  color: #fff;
  border-color: #4ca750;
}
/* line 111, ../../develop/scss/_w2cmsManager/Css/_button.scss */
.previewbtn-switch-on,
a.previewbtn-switch-on {
  background: #4ca750;
  color: #fff;
  border-color: #4ca750;
  width: auto;
  cursor: default;
}

/* line 373, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.form-element-group-horizontal {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}


/* line 713, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period,
.access-authority-setting-period {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/* line 720, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-start-input, .select-period-end-input,
.access-authority-setting-period-start-input,
.access-authority-setting-period-end-input {
  display: flex;
  align-items: center;
}
/* line 723, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-start-input input, .select-period-end-input input,
.access-authority-setting-period-start-input input,
.access-authority-setting-period-end-input input {
  border: none;
  margin: 0;
  border-radius: 0;
  width: 6.5em;
}
/* line 728, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-start-input input:hover, .select-period-start-input input:focus, .select-period-end-input input:hover, .select-period-end-input input:focus,
.access-authority-setting-period-start-input input:hover,
.access-authority-setting-period-start-input input:focus,
.access-authority-setting-period-end-input input:hover,
.access-authority-setting-period-end-input input:focus {
  border: none;
}
/* line 733, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-start-input-date, .select-period-start-input-time, .select-period-end-input-date, .select-period-end-input-time,
.access-authority-setting-period-start-input-date,
.access-authority-setting-period-start-input-time,
.access-authority-setting-period-end-input-date,
.access-authority-setting-period-end-input-time {
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: flex;
  align-items: center;
}
/* line 744, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-start-input-date label, .select-period-start-input-time label, .select-period-end-input-date label, .select-period-end-input-time label,
.access-authority-setting-period-start-input-date label,
.access-authority-setting-period-start-input-time label,
.access-authority-setting-period-end-input-date label,
.access-authority-setting-period-end-input-time label {
  padding: 5px;
  font-size: 12px;
  color: #7e7e7e;
  white-space: nowrap;
}
/* line 749, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-start-input-date label:after, .select-period-start-input-time label:after, .select-period-end-input-date label:after, .select-period-end-input-time label:after,
.access-authority-setting-period-start-input-date label:after,
.access-authority-setting-period-start-input-time label:after,
.access-authority-setting-period-end-input-date label:after,
.access-authority-setting-period-end-input-time label:after {
  content: ":";
}
/* line 754, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-start-input-date:last-of-type, .select-period-end-input-date:last-of-type,
.access-authority-setting-period-start-input-date:last-of-type,
.access-authority-setting-period-end-input-date:last-of-type {
  border-radius: 5px;
}
/* line 757, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-start-input-time, .select-period-end-input-time,
.access-authority-setting-period-start-input-time,
.access-authority-setting-period-end-input-time {
  border-left: none;
  border-radius: 0 5px 5px 0;
}
/* line 760, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-start-input-time input, .select-period-end-input-time input,
.access-authority-setting-period-start-input-time input,
.access-authority-setting-period-end-input-time input {
  width: 4em;
}
/* line 766, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-wave,
.access-authority-setting-period-wave {
  padding: 0px 8px 0 0;
  font-size: 20px;
}
/* line 770, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-info,
.access-authority-setting-period-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
/* line 774, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-info-title,
.access-authority-setting-period-info-title {
  margin-right: 10px;
  white-space: nowrap;
}
/* line 777, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.select-period-info-title:after,
.access-authority-setting-period-info-title:after {
  content: "：";
}

/* line 785, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.timepicker {
  position: absolute;
  width: 300px;
  background: #fff;
  border: 1px solid #999;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
/* line 796, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.timepicker ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* line 801, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.timepicker li {
  list-style-type: none;
  padding: 7px 10px;
  border-radius: 20px;
  cursor: pointer;
}
/* line 806, ../../develop/scss/_w2cmsManager/Css/_form.scss */
.timepicker li:hover {
  background: #4ca750;
  color: #fff;
}

.preview-element {
  margin: auto 10px;
}
