
@charset "UTF-8";
#Contents {
  margin: 0;
}

:root {
  --color1-common: #DB6F39;
  --color1-cv: #338F55;
  --color2-common: #000;
  --color2-cv: #1073AA;
  --color2-txt: #1D1D1D;
  --color3-common: #84AC27;
  --color3-cv: #177138;
  --color4-common: #CE7272;
  --color4-cv: #B41616;
  --color5-common: #0A56A3;
  --color5-cv: #D3A200;
  --font-jp: 'Noto Sans JP', "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  --font-en: 'Montserrat', sans-serif;
  --font-mix: 'Montserrat', 'Noto Sans JP', "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.error_inline:empty {
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: none !important;
}

select:focus,
input[type="text"]:focus {
  outline: 2px solid;
  outline-offset: -2px;
}

input[type="text"] {
  appearance: none;
  border: 1px solid #BABABA;
  height: 36px;
  box-sizing: border-box;
  padding: 8px 13px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: border-box;
  border: 1px solid #BABABA;
  background-image: url(../Contents/ImagesPkg/scoringsale/select_arrow.svg);
  background-position: center right 17px;
  background-repeat: no-repeat;
  background-size: 10px 5px;
  padding: 9px 10px;
  background-color: #fff;
  height: 36px;
}
select::-ms-expand {
  display: none;
}

input,
select {
  font-size: 13px;
}

input[type="checkbox"],
input[type="radio"],
input[type="text"],
select {
  background-color: #fff;
}

input[type="checkbox"].error,
input[type="radio"].error,
input[type="text"].error,
select.error {
  background-color: #FCF4F4;
  color: #000000;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: '';
  display: block;
  border: 1px solid #9d9d9d;
  background: #fff;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
}

input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
  position: absolute;
  content: '';
  top: 7px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: #BABABA;
}

*::before,
*::after {
  box-sizing: border-box;
}

.scoringsale {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 3px);
  height: 100%;
  padding: 90px 0;
  border-top: 4px solid transparent;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.05em;
  font-family: var(--font-mix);
  box-sizing: border-box;
}

.scoringsale_inner {
  max-width: 1000px;
  width: 100%;
  text-align: center;
}

.scoringsale_item {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.scoringsale_ttl {
  margin: 0;
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: var(--font-mix);
}

.scoringsale_subTtl {
  margin-top: 15px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-bottom: 30px;
}

.scoringsale_img {
  margin-top: 35px;
}

.scoringsale_img:empty {
  display: none;
}

.scoringsale_info {
  margin-top: 15px;
  text-align: left;
}

.scoringsale_btnArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.scoringsale_btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  color: #fff;
  font-family: var(--font-en);
  letter-spacing: 0.1em;
  line-height: 100%;
  padding: 0px !important;
}

.scoringsale_btn._start::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
  height: 10px;
  background-image: url(../Contents/ImagesPkg/scoringsale/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .4s;
}

.scoringsale_btn._start:hover::after{
  transform: translateY(-50%) translateX(5px);
}

.scoringsale_btn._back {
  background-color: #B9B9B9;
}

.scoringsale_btn.disable {
  opacity: 0.2;
  pointer-events: none;
}

.scoringsale_btn._first {
  width: auto;
  height: auto;
  font-size: 14px;
  line-height: 1;
  color: #696969;
  font-weight: bold;
  white-space: nowrap;
  overflow: visible;
}

.scoringsale_btn._first img {
  margin-right: 8px;
  transition: all .4s;
}

.scoringsale_btn._first:hover img {
  transform: translateX(-5px);
}


.scoringsale_pageNum {
  margin: 0 67px;
  font-size: 16px;
  line-height: 1;
  font-family: var(--font-en);
}

.scoringsale_pageNum .slash {
  display: inline-block;
  margin: 0 5px;
}

.scoringsale_questionWrap {
  padding-bottom: 60px;
  margin-bottom: 55px;
  border-bottom: 1px solid #EBEBEB;
}

.scoringsale_questionWrap:nth-of-type(n+2) {
  margin-top: 60px;
}

.scoringsale_question {
  margin-top: 40px;
  text-align: left;
}

.scoringsale_question_item label {
  position: relative;
  display: block;
  padding-left: 30px;
  margin: 20px 0;
}

.scoringsale_question_item label::before {
  position: absolute;
  content: '';
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #9d9d9d;
}

.scoringsale_question_item._radio label::before {
  border-radius: 100%;
}

.scoringsale_question_item._radio label:first-of-type {
  margin-top: 0;
}

.scoringsale_question_item._radio label:last-of-type {
  margin-bottom: 0;
}

.scoringsale_question_item._radio input[type=radio]:checked + label::after {
  position: absolute;
  content: '';
  top: 7.3px;
  left: 3.5px;
  width: 11px;
  height: 11.2px;
  border-radius: 100%;
}

.scoringsale_question_item._likert {
  position: relative;
  display: flex;
  justify-content: center;
}

.scoringsale_question_item._likert::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #BABABA;
  z-index: -1;
}

.scoringsale_question_item._likert label {
  flex-shrink: 0;
  display: inline-block;
  padding-top: 40px;
  padding-left: 0;
  margin: 0 21px;
  width: 100px;
  text-align: center;
  font-size: 13px;
}

.scoringsale_question_item._likert label::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
}

.scoringsale_question_item._likert label:first-of-type {
  margin-left: 0;
}

.scoringsale_question_item._likert label:last-of-type {
  margin-right: 0;
}

.scoringsale_question_item._likert input[type=radio]:checked + label::after {
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
}

.scoringsale_question_item._check input[type=checkbox]:checked + label::after {
  position: absolute;
  content: '';
  top: 6.5px;
  left: 2.75px;
  width: 13px;
  height: 13px;
}

.scoringsale_question_item._select_img {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.scoringsale_question_item._select_img label {
  flex-shrink: 0;
  padding-left: 0;
  margin: 0;
  margin-right: 24px;
  text-align: center;
}

.scoringsale_question_item._select_img label div{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  outline: 2px solid transparent;
  outline-offset: -2px;
  box-sizing: border-box;
  z-index: 2;
  pointer-events: none;
}

.scoringsale_question_item._select_img label img {
  position: relative;
  z-index: -1;
  width: 100%;
}

.scoringsale ._select_img input:checked + label img{
  filter: brightness(65%);
}

.scoringsale_question_item._select_img label span {
  display: block;
  margin-top: 5px;
}

.scoringsale_question_item._select_img label::before, .scoringsale_question_item._select_img label::after {
  display: none !important;
}

.scoringsale_question_item._select_img label:nth-of-type(3n) {
  margin-right: 0;
}

.scoringsale_question_item._select_img label:nth-of-type(n+3) {
  margin-bottom: 25px;
}

.scoringsale_question_item._select select {
  width: 100%;
  padding: 10px 16px;
  height: 44px;
}

/* 結果ページ */

.scoringsale_product {
  margin-top: 50px;
  background-color: #F7F7F7;
  padding: 65px 50px 55px;
}

.scoringsale_product_flex {
  padding-bottom: 50px;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  justify-content: space-between;
}

.scoringsale_product_img {
  max-width: 420px;
  width: 46.66667%;
}

.scoringsale_product_img .scoringsale_product_img_main li{
  max-width: 420px;
  width: 90%;
}

.scoringsale_product_img img {
  width: 100%;
}

.scoringsale_product_img_thumb {
  margin-top: 10px;
}

.scoringsale_product_img_thumb::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(90deg, white 0, rgba(255, 255, 255, 0.3) 100%);
  z-index: 100;
}


.scoringsale_product_img_thumb .slick-list{
  padding: 0 7.142% 0 0!important;
}

.scoringsale_product_img_thumb li {
  max-width: 60px;
  width: 100%;
  margin-right: 5px;
}

.scoringsale_product_img_thumb .slick-arrow {
  width: 10px;
  height: 10px;
}

.scoringsale_product_img_thumb .slick-arrow::before {
  display: none;
}

.scoringsale_product_img_thumb .slick-arrow.slick-prev {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translateY(-50%) rotate(45deg);
  left: -12px;
}

.scoringsale_product_img_thumb .slick-arrow.slick-next {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translateY(-50%) rotate(-45deg);
  right: -12px;
}

.scoringsale_product_info {
  max-width: 450px;
  width: 100%;
  text-align: left;
  flex-shrink: 1;
  margin-left: 3%;
}

.scoringsale_product_info_name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

.scoringsale_product_info_price {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 20px;
}

.scoringsale_product_info_price .tax {
  font-size: 12px;
  margin-left: 8px;
}

.scoringsale_product_info_price._sale {
  color: #D60000;
}

.scoringsale_product_info_price._sale .price_nomal {
  position: relative;
  margin-left: 7px;
  font-size: 12px;
  color: #000;
}

.scoringsale_product_info_price._sale .price_nomal::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #000;
}

.scoringsale_product_info_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoringsale_product_info_ttl {
  width: 70px;
  font-size: 13px;
  font-weight: bold;
  flex-shrink: 0;
  line-height: 1;
}

.scoringsale_product_info_ttl.fw_normal {
  font-weight: normal;
}

.scoringsale_product_info_select {
  margin-bottom: 15px;
}

.scoringsale_product_info_select_item {
  max-width: 380px;
  width: 100%;
}

.scoringsale_product_info_select_item select {
  width: 100%;
}

.scoringsale_product_info_select.select-noTtl {
  margin-top: -5px;
}

.scoringsale_product_info_radio_item {
  display: flex;
  width: 100%;
  justify-content: start;
}

.scoringsale_product_info_radio_item label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 34px;
  margin-right: 5px;
  border: 1px solid #BABABA;
  transition: all .2s;
  background-color: #ffffff;
}

.scoringsale_product_info_radio_item label:last-of-type {
  margin-right: 0;
}

.scoringsale_product_info_radio_item label::before {
  display: none !important;
}

.scoringsale_product_info_radio_item input:checked + label::after{
  display: none;
}

.scoringsale_product_info_radio_item input:checked + label {
  background-color: #545454;
  border: 1px solid #545454;
  color: #ffffff;
}

.scoringsale_product_info_table {
  margin: 20px 0;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 11px;
  border: 1px solid #BABABA;
  line-height: 20px;
}

.scoringsale_product_info_table tr th {
  width: 105px;
  height: 50px;
}

.scoringsale_product_info_table tr th:first-child {
  width: 136px;
}

.scoringsale_product_info_table tr:first-child th {
  background-color: #EDEDED;
  height: 36px;
}

.scoringsale_product_info_table tr label {
  position: relative;
  display: block;
}

.scoringsale_product_info_table input[type="radio"] + label::before {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.scoringsale_product_info_table input[type="radio"]:checked + label::after {
  width: 12px;
  height: 12px;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.scoringsale_product_info_suppleWrap {
  padding: 20px 15px;
  background-color: #EDEDED;
}

.scoringsale_product_info_supple {
  margin-bottom: 15px;
}

.scoringsale_product_info_supple:last-of-type {
  margin-bottom: 0;
}

.scoringsale_product_info_supple .scoringsale_product_info_ttl {
  width: 118px;
  margin-right: 0;
}

.scoringsale_product_info_supple_item {
  width: 100%;
  font-size: 13px;
  position: relative;
}

.scoringsale_product_info_supple_item label::before {
  position: relative;
}

.scoringsale_product_info_supple_item._check input[type="checkbox"] + label::before, .scoringsale_product_info_supple_item._check input[type="radio"] + label::before {
  top: 0;
}

.scoringsale_product_info_supple_item._check input[type="checkbox"]:checked + label::after, .scoringsale_product_info_supple_item._check input[type="radio"]:checked + label::after {
  top: 3px;
}

.scoringsale_product_info_supple_item._select {
  width: 100%;
}

.scoringsale_product_info_supple_item._select select {
  width: 100%;
}

.scoringsale_product_info_supple_item._text input {
  width: 100%;
}

.scoringsale_product_info_amount {
  margin-top: 20px;
}

.scoringsale_product_info_amount_item {
  width: 80px;
  margin-left: 0;
  margin-right: auto;
}

.scoringsale_product_info_amount_item input {
  width: 100%;
  text-align: right;
}

.scoringsale_product_info_cartBtn {
  max-width: 320px;
  width: 100%;
  margin: 30px auto 0;
}

.scoringsale_product_info_cartBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  color: #fff;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.scoringsale_product_info_cartBtn .btn_mail {
  margin-top: 30px;
  background-color: #000;
}

.scoringsale_product_info_arrivalMail {
  margin: 30px 0 0;
}

.scoringsale_product_info_arrivalMail_input {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.scoringsale_product_info_arrivalMail_input input {
  max-width: 360px;
  width: 100%;
  height: 40px;
  border-right: 0;
}

.scoringsale_product_info_arrivalMail_input .btn_regist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  font-size: 15px;
  line-height: 1;
  background-color: #000;
  color: #ffffff;
  box-sizing: border-box;
}

.scoringsale_product_detail {
  margin-top: 35px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.scoringsale_product .error_inline {
  margin-top: 10px;
  text-align: right;
  color: #D60000;
  font-size: 11px;
  line-height: 1;
}

.scoringsale_product .error_inline:empty {
  display: none !important;
}


/* カラーパターン */

/* パターン1 .colorPattern-1 */
.scoringsale.colorPattern-1 {
  border-top-color: var(--color-common);
}

.scoringsale.colorPattern-1 .scoringsale_ttl {
  color: var(--color-common);
}

.scoringsale.colorPattern-1 .scoringsale_btn._go {
  background-color: var(--color-common);
}

.scoringsale.colorPattern-1 input:checked + label::after {
  background-color: var(--color-common);
}

.scoringsale.colorPattern-1 input:checked + label::before {
  border-color: var(--color-common);
}

.scoringsale.colorPattern-1 .scoringsale_pageNum {
  color: var(--color-common);
}

.scoringsale.colorPattern-1 ._select_img input:checked + label div {
  outline-color: var(--color-common);
}

.scoringsale.colorPattern-1 .btn_cv {
  background-color: var(--color-cv);
}

.scoringsale.colorPattern-1 select:focus,
.scoringsale.colorPattern-1 input[type="text"]:focus {
  outline-color: var(--color-common);
}

/* //パターン1 .colorPattern-1 */

/* パターン2 .colorPattern-2 */

.scoringsale.colorPattern-2 {
  border-top-color: var(--color2-common);
}

.scoringsale.colorPattern-2 .scoringsale_ttl {
  color: var(--color2-common);
}

.scoringsale.colorPattern-2 .scoringsale_btn._go {
  background-color: var(--color2-common);
}

.scoringsale.colorPattern-2 input:checked + label::after {
  background-color: var(--color2-common);
}

.scoringsale.colorPattern-2 input:checked + label::before {
  border-color: var(--color2-common);
}

.scoringsale.colorPattern-2 .scoringsale_pageNum {
  color: var(--color2-common);
}

.scoringsale.colorPattern-2 ._select_img input:checked + label div {
  outline-color: var(--color2-common);
}

.scoringsale.colorPattern-2 .btn_cv {
  background-color: var(--color2-cv);
}

.scoringsale.colorPattern-2 select:focus,
.scoringsale.colorPattern-2 input[type="text"]:focus {
  outline-color: var(--color2-common);
}

/* //パターン2 .colorPattern-2 */

/* パターン3 .colorPattern-3 */
.scoringsale.colorPattern-3 {
  border-top-color: var(--color3-common);
}

.scoringsale.colorPattern-3 .scoringsale_ttl {
  color: var(--color3-common);
}

.scoringsale.colorPattern-3 .scoringsale_btn._go {
  background-color: var(--color3-common);
}

.scoringsale.colorPattern-3 input:checked + label::after {
  background-color: var(--color3-common);
}

.scoringsale.colorPattern-3 input:checked + label::before {
  border-color: var(--color3-common);
}

.scoringsale.colorPattern-3 .scoringsale_pageNum {
  color: var(--color3-common);
}

.scoringsale.colorPattern-3 ._select_img input:checked + label div {
  outline-color: var(--color3-common);
}

.scoringsale.colorPattern-3 .btn_cv {
  background-color: var(--color3-cv);
}

.scoringsale.colorPattern-3 select:focus,
.scoringsale.colorPattern-3 input[type="text"]:focus {
  outline-color: var(--color3-common);
}

/* //パターン3 .colorPattern-3 */

/* パターン4 .colorPattern-4 */
.scoringsale.colorPattern-4 {
  border-top-color: var(--color4-common);
}

.scoringsale.colorPattern-4 .scoringsale_ttl {
  color: var(--color4-common);
}

.scoringsale.colorPattern-4 .scoringsale_btn._go {
  background-color: var(--color4-common);
}

.scoringsale.colorPattern-4 input:checked + label::after {
  background-color: var(--color4-common);
}

.scoringsale.colorPattern-4 input:checked + label::before {
  border-color: var(--color4-common);
}

.scoringsale.colorPattern-4 .scoringsale_pageNum {
  color: var(--color4-common);
}

.scoringsale.colorPattern-4 ._select_img input:checked + label div {
  outline-color: var(--color4-common);
}

.scoringsale.colorPattern-4 .btn_cv {
  background-color: var(--color4-cv);
}

.scoringsale.colorPattern-4 select:focus,
.scoringsale.colorPattern-4 input[type="text"]:focus {
  outline-color: var(--color4-common);
}

/* //パターン4 .colorPattern-4 */

/* パターン5 .colorPattern-5 */

.scoringsale.colorPattern-5 {
  border-top-color: var(--color5-common);
}

.scoringsale.colorPattern-5 .scoringsale_ttl {
  color: var(--color5-common);
}

.scoringsale.colorPattern-5 .scoringsale_btn._go {
  background-color: var(--color5-common);
}

.scoringsale.colorPattern-5 input:checked + label::after {
  background-color: var(--color5-common);
}

.scoringsale.colorPattern-5 input:checked + label::before {
  border-color: var(--color5-common);
}

.scoringsale.colorPattern-5 .scoringsale_pageNum {
  color: var(--color5-common);
}

.scoringsale.colorPattern-5 ._select_img input:checked + label div {
  outline-color: var(--color5-common);
}

.scoringsale.colorPattern-5 .btn_cv {
  background-color: var(--color5-cv);
}

.scoringsale.colorPattern-5 select:focus,
.scoringsale.colorPattern-5 input[type="text"]:focus {
  outline-color: var(--color5-common);
}

/* //パターン5 .colorPattern-5 */

.scoringsale-question-image-choice {
  width: 33%;
  margin: auto;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .colorPattern-1.scoringsale ._select_img input:checked + label div {
    background-color: #000000;
    display: inline-block;
    border: 2px solid var(--color-common);
    border-width: 2px !important;
    box-sizing: border-box;
    opacity:0.25;
  }

  .colorPattern-1.scoringsale ._select_img input:checked + label div img {
    opacity:0.5;
  }
}

.scoringsale_product_info_price .price_nomal {
  color:red
}

.display-price {
  display:contents;
}

.scoringsale_htmlcontent {
  text-align: left;
}