@charset "UTF-8";
  #Contents {
    margin: 0;
  }

  :root {
    --color1-common: #DB6F39;
    --color1-cv: #338F55;
    --color2-common: #000;
    --color2-cv: #1073AA;
    --color2-txt: #1D1D1D;
    --color3-common: #84AC27;
    --color3-cv: #177138;
    --color4-common: #CE7272;
    --color4-cv: #B41616;
    --color5-common: #0A56A3;
    --color5-cv: #D3A200;
    --font-jp: 'Noto Sans JP', "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    --font-en: 'Montserrat', sans-serif;
    --font-mix: 'Montserrat', 'Noto Sans JP', "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }

  a {
    color: #000000;
  }
  
  a:hover{
    opacity: 1;
  }

  .error_inline:empty{
    padding: 0;
  }
  
  input[type="text"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid #BABABA;
    height: calc(44 * (100vw / 375 ));
    box-sizing: border-box;
    padding: calc(8 * (100vw / 375 )) calc(13 * (100vw / 375 ));
  }
  
  select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    box-sizing: border-box;
    border: 1px solid #BABABA;
    background-image: url(../../Contents/ImagesPkg/scoringsale/select_arrow.svg);
    background-position:center right 17px;
    background-repeat: no-repeat;
    background-size: calc(10 * (100vw / 375 )) calc(5 * (100vw / 375 ));
    padding: calc(9 * (100vw / 375 )) calc(10 * (100vw / 375 ));
    background-color: #fff;
    height: calc(44 * (100vw / 375 ));
  }

  input,
  select{
    font-size: calc(13 * (100vw / 375 ));
  }
  
  input[type="checkbox"],
  input[type="radio"]{
    display: none;
  }
  
  input[type="checkbox"],
  input[type="radio"],
  input[type="text"],
  select{
    background-color: #fff;
  }
  
  input[type="checkbox"].error,
  input[type="radio"].error,
  input[type="text"].error,
  select.error{
    background-color: #FCF4F4;
    color: #000000;
  }
  
  input[type="checkbox"] + label::before,
  input[type="radio"] + label::before{
    content: '';
    display: block;
    background: #fff;
    border: 1px solid #9d9d9d;
  }
  
  input[type="checkbox"]:checked + label::after,
  input[type="radio"]:checked + label::after{
    position: absolute;
    content: '';
    background-color: #BABABA;
  }

  .scoringsale {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: calc(60 * (100vw / 375 )) 0;
    border-top: calc(5 * (100vw / 375 )) solid transparent;
    font-size: calc(14 * (100vw / 375 ));
    line-height: calc(26 * (100vw / 375 ));
    letter-spacing: 0.05em;
    font-family: var(--font-mix);
    box-sizing: border-box;
    font-weight: 400;
  }
  
  .scoringsale *::before,
  .scoringsale *::after {
    box-sizing: border-box;
  }
  
  .scoringsale img {
    width: 100%;
    vertical-align: top;
  }
  
  .scoringsale_inner {
    width: 100%;
	text-align: center;
  }
  
  .scoringsale_item {
    padding: 0 calc(15 * (100vw / 375 ));
  }
  
  .scoringsale_ttl {
    margin: 0;
    font-size: calc(20 * (100vw / 375 ));
    line-height: calc(32 * (100vw / 375 ));
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: var(--font-mix);
    text-align: center;
  }
  
  .scoringsale_subTtl {
    margin-top: calc(8 * (100vw / 375 ));
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-bottom: calc(22 * (100vw / 375 ));
    font-size: calc(16 * (100vw / 375 ));
    text-align: center;
  }
  
  .scoringsale_img {
    margin-top: calc(24 * (100vw / 375 ));
  }
  
  .scoringsale_img:empty {
    display: none;
  }
  
  .scoringsale_info {
    margin-top: calc(24 * (100vw / 375 ));
    text-align: left;
  }
  
  .scoringsale_btnArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(60 * (100vw / 375 ));
  }
  
  .scoringsale_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: calc(160 * (100vw / 375 ));
    height: calc(44 * (100vw / 375 ));
    color: #fff;
    font-family: var(--font-en);
    letter-spacing: 0.1em;
    line-height: 100%;
    margin-top: 5px;
  }
  
  .scoringsale_btn._start::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(10 * (100vw / 375 ));
    width: calc(14 * (100vw / 375 ));
    height: calc(9 * (100vw / 375 ));
    background-image: url(../../../Contents/ImagesPkg/scoringsale/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .scoringsale_btn._back {
    order: 1;
    background-color: #B9B9B9;
    margin-right: calc(25 * (100vw / 375 ));
  }
  
  .scoringsale_btn._go {
    order: 2;
  }
  
  .scoringsale_btn._start {
    width: calc(260 * (100vw / 375 ));
    height: calc(50 * (100vw / 375 ));
  }
  
  .scoringsale_btn.disable {
    opacity: 0.2;
    pointer-events: none;
  }
  
  .scoringsale_btn._first {
    display: inline-flex;
    align-items: center;
    order: 1;
    width: auto;
    height: auto;
    font-size: calc(14 * (100vw / 375 ));
    line-height: 1;
    color: #696969;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .scoringsale_btn._first img {
    width: calc(13 * (100vw / 375 ));
    margin-right: calc(8 * (100vw / 375 ));
  }
  
  .scoringsale_pageNum {
    order: 0;
    flex-shrink: 0;
    margin: 0 100% calc(22 * (100vw / 375 ));
    font-size: calc(15 * (100vw / 375 ));
    line-height: 1;
    font-family: var(--font-en);
  }
  
  .scoringsale_pageNum .slash {
    display: inline-block;
    margin: 0 calc(6 * (100vw / 375 ));
  }
  
  .scoringsale_questionWrap {
    padding-bottom: calc(40 * (100vw / 375 ));
    margin-bottom: 0;
    border-bottom: 1px solid #EBEBEB;
  }
  
  .scoringsale_questionWrap:nth-of-type(n+2) {
    margin-top: calc(40 * (100vw / 375 ));
  }
  
  .scoringsale_question {
    margin-top: calc(24 * (100vw / 375 ));
    text-align: left;
  }
  
  .scoringsale_question_item label {
    position: relative;
    display: block;
    padding-left: calc(30 * (100vw / 375 ));
    margin: calc(12 * (100vw / 375 )) 0;
  }
  
  .scoringsale_question_item label::before {
    position: absolute;
    content: '';
    top: calc(6 * (100vw / 375 ));
    left: 0;
    width: calc(16 * (100vw / 375 ));
    height: calc(16 * (100vw / 375 ));
    background: #fff;
    border: 1px solid #9d9d9d;
  }
  
  .scoringsale_question_item._radio label::before {
    border-radius: 100%;
    top: calc(5 * (100vw / 375 ));
  }
  
  .scoringsale_question_item._radio label:first-of-type {
    margin-top: 0;
  }
  
  .scoringsale_question_item._radio label:last-of-type {
    margin-bottom: 0;
  }
  
  .scoringsale_question_item._radio input[type=radio]:checked + label::after {
    position: absolute;
    content: '';
    top: calc(8 * (100vw / 375 ));
    left: calc(3 * (100vw / 375 ));
    width: calc(10 * (100vw / 375 ));
    height: calc(10 * (100vw / 375 ));
    border-radius: 100%;
  }
  
  .scoringsale_question_item._likert {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .scoringsale_question_item._likert::after {
    content: '';
    position: absolute;
    top: calc(14 * (100vw / 375 ));
    width: 100%;
    height: 1px;
    background-color: #BABABA;
    z-index: -1;
  }
  
  .scoringsale_question_item._likert label {
    flex-shrink: 0;
    display: inline-block;
    padding-top: calc(34 * (100vw / 375 ));
    padding-left: 0;
    margin: 0 calc(6 * (100vw / 375 ));
    width: calc(60 * (100vw / 375 ));
    text-align: center;
    font-size: calc(11 * (100vw / 375 ));
    line-height: calc(18 * (100vw / 375 ));
  }
  
  .scoringsale_question_item._likert label::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(28 * (100vw / 375 ));
    height: calc(28 * (100vw / 375 ));
  }
  
  .scoringsale_question_item._likert label:first-of-type {
    margin-left: 0;
  }
  
  .scoringsale_question_item._likert label:last-of-type {
    margin-right: 0;
  }
  
  .scoringsale_question_item._likert input[type=radio]:checked + label::after {
    top: calc(3 * (100vw / 375 ));
    left: 50%;
    transform: translateX(-50%);
    width: calc(22 * (100vw / 375 ));
    height: calc(22 * (100vw / 375 ));
  }
  
  .scoringsale_question_item._check input[type=checkbox] + label::before {
    top: calc(5 * (100vw / 375 ));
  }
  
  .scoringsale_question_item._check input[type=checkbox]:checked + label::after {
    position: absolute;
    content: '';
    top: calc(8 * (100vw / 375 ));
    left: calc(3 * (100vw / 375 ));
    width: calc(10 * (100vw / 375 ));
    height: calc(10 * (100vw / 375 ));
  }
  
  .scoringsale_question_item._select_img {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .scoringsale_question_item._select_img label {
    width: calc(110 * (100vw / 375 ));
    flex-shrink: 0;
    padding-left: 0;
    margin: 0;
    margin-right: calc(7 * (100vw / 375 ));
    text-align: center;
  }
  
  .scoringsale_question_item._select_img label div{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    outline: calc(2 * (100vw / 375 )) solid transparent;
    outline-offset: calc(-2 * (100vw / 375 ));
    box-sizing: border-box;
    z-index: 2;
  }
  
  .scoringsale_question_item._select_img label img {
    position: relative;
    z-index: -1;
    width: 100%;
  }

  .scoringsale ._select_img input:checked + label img{
    filter: brightness(65%);
  }
  
  .scoringsale_question_item._select_img label span {
    display: block;
    margin-top: calc(11 * (100vw / 375 ));
    font-size: calc(13 * (100vw / 375 ));
    line-height: calc(20 * (100vw / 375 ));
  }
  
  .scoringsale_question_item._select_img label::before, .scoringsale_question_item._select_img label::after {
    display: none;
  }
  
  .scoringsale_question_item._select_img label:nth-of-type(3n) {
    margin-right: 0;
  }
  
  .scoringsale_question_item._select_img label:nth-of-type(n+4) {
    margin-top: calc(26 * (100vw / 375 ));
  }
  
  .scoringsale_question_item._select select {
    width: 100%;
  }
  
  /* 結果ページ */
  
  .scoringsale_product {
    background-color: #F7F7F7;
    margin-top: calc(30 * (100vw / 375 ));
  }
  
  .scoringsale_product_flex {
    padding-bottom: calc(40 * (100vw / 375 ));
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    flex-direction: column;
  }
  
  .scoringsale_product_img {
    overflow: hidden;
    width: calc(375 * (100vw / 375 ));
  }
  
  .scoringsale_product_img img {
    width: 100%;
  }
  
  .scoringsale_product_img_thumb {
    margin-top: calc(5 * (100vw / 375 ));
  }
  
  .scoringsale_product_img_thumb::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(80 * (100vw / 375 ));
    height: calc(80 * (100vw / 375 ));
    background-image: linear-gradient(90deg, white 0, rgba(255, 255, 255, 0.3) 100%);
    z-index: 100;
  }
  
  .scoringsale_product_img_thumb li {
    width: calc(80 * (100vw / 375 ));
    margin-right: calc(5 * (100vw / 375 ));
  }
  
  .scoringsale_product_img_thumb .slick-arrow {
    display: none;
  }
  
  .scoringsale_product_info {
    width: 100%;
    text-align: left;
    padding: 0 calc(15 * (100vw / 375 ));
    box-sizing: border-box;
  }
  
  .scoringsale_product_info select,
  .scoringsale_product_info input[type=text]{
    height: calc(40 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_name {
    margin-top: calc(24 * (100vw / 375 ));
    margin-bottom: 0;
    font-size: calc(20 * (100vw / 375 ));
    line-height: calc(32 * (100vw / 375 ));
    font-weight: bold;
  }
  
  .scoringsale_product_info_price {
    display: flex;
    align-items: flex-end;
    font-size: calc(22 * (100vw / 375 ));
    line-height: 1;
    margin-bottom: calc(24 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_price .tax {
    font-size: calc(12 * (100vw / 375 ));
    margin-left: calc(9 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_price._sale {
    color: #D60000;
  }
  
  .scoringsale_product_info_price._sale .price_nomal {
    position: relative;
    margin-left: calc(9 * (100vw / 375 ));
    font-size: calc(12 * (100vw / 375 ));
    color: #000;
  }
  
  .scoringsale_product_info_price._sale .price_nomal::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #000;
  }
  
  .scoringsale_product_info_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .scoringsale_product_info_ttl {
    width: calc(70 * (100vw / 375 ));
    font-size: calc(13 * (100vw / 375 ));
    font-weight: bold;
    flex-shrink: 0;
    line-height: 1;
  }
  
  .scoringsale_product_info_ttl.fw_normal {
    font-weight: normal;
  }
  
  .scoringsale_product_info_select {
    margin-bottom: calc(20 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_select_item {
    width: calc(275 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_select_item select {
    width: 100%;
  }
  
  .scoringsale_product_info_select.select-noTtl {
    margin-top: calc(-5 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_radio_item {
    display: flex;
    width: 100%;
    justify-content: start;
  }
  
  .scoringsale_product_info_radio_item label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(80 * (100vw / 375 ));
    height: calc(40 * (100vw / 375 ));
    margin-right: calc(5 * (100vw / 375 ));
    border: 1px solid #BABABA;
    transition: all .2s;
    background-color: #fff;
  }
  
  .scoringsale_product_info_radio_item label:last-of-type {
    margin-right: 0;
  }
  
  .scoringsale_product_info_radio_item label::before {
    display: none !important;
  }
  
  .scoringsale_product_info_radio_item input:checked + label {
    border: 1px solid #545454;
    background-color: #545454;
    color: #ffffff;
  }

  .scoringsale_product_info_radio_item input:checked + label::after{
    display: none;
  }
  
  .scoringsale_product_info_table {
    margin: calc(30 * (100vw / 375 )) 0;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: calc(10 * (100vw / 375 ));
    border: 1px solid #BABABA;
    line-height: calc(18 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_table tr th {
    width: calc(75 * (100vw / 375 ));
    height: calc(76 * (100vw / 375 ));
    box-sizing: border-box;
  }
  
  .scoringsale_product_info_table tr th:first-child {
    width: calc(119 * (100vw / 375 ));
    padding: 0 calc(15 * (100vw / 375 )) 0 calc(10 * (100vw / 375 ));
    text-align: left;
  }
  
  .scoringsale_product_info_table tr:first-child th {
    background-color: #EDEDED;
    height: calc(37 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_table tr label {
    position: relative;
    display: block;
  }
  
  .scoringsale_product_info_table input[type="radio"] + label::before {
    width: calc(20 * (100vw / 375 ));
    height: calc(20 * (100vw / 375 ));
    border-radius: 50%;
  }
  
  .scoringsale_product_info_table input:checked + label::after {
    content: '';
    width: calc(14 * (100vw / 375 ));
    height: calc(14 * (100vw / 375 ));
    top: calc(3 * (100vw / 375 ));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  
  .scoringsale_product_info_suppleWrap {
    padding: calc(25 * (100vw / 375 )) calc(15 * (100vw / 375 ));
    background-color: #EDEDED;
  }
  
  .scoringsale_product_info_supple {
    flex-wrap: wrap;
    margin-bottom: calc(20 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_supple:last-of-type {
    margin-bottom: 0;
  }
  
  .scoringsale_product_info_supple .scoringsale_product_info_ttl {
    width: auto;
    margin-right: calc(16 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_supple_item {
    font-size: calc(13 * (100vw / 375 ));
    position: relative;
  }
  
  .scoringsale_product_info_supple_item label::before {
    position: relative;
  }
  
  .scoringsale_product_info_supple_item._check {
    margin-left: 0;
    margin-right: auto;
  }
  
  .scoringsale_product_info_supple_item._check label::before {
    content: '';
    width: calc(20 * (100vw / 375 ));
    height: calc(20 * (100vw / 375 ));
    top: calc(0 * (100vw / 375 ));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
  }
  
  .scoringsale_product_info_supple_item._check input:checked + label::after {
    content: '';
    width: calc(14 * (100vw / 375 ));
    height: calc(14 * (100vw / 375 ));
    top: calc(3 * (100vw / 375 ));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
  }
  
  .scoringsale_product_info_supple_item._select {
    width: 100%;
    flex-shrink: 0;
  }
  
  .scoringsale_product_info_supple_item._select select {
    width: 100%;
    margin-top: calc(10 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_supple_item._text {
    width: 100%;
    flex-shrink: 0;
  }
  
  .scoringsale_product_info_supple_item._text input {
    margin-top: calc(10 * (100vw / 375 ));
    width: 100%;
  }
  
  .scoringsale_product_info_amount {
    margin-top: calc(20 * (100vw / 375 ));
  }
  
  .scoringsale_product_info_amount_item {
    width: calc(80 * (100vw / 375 ));
    margin-left: 0;
    margin-right: auto;
  }
  
  .scoringsale_product_info_amount_item input {
    width: 100%;
    text-align: right;
  }
  
  .scoringsale_product_info_cartBtn {
    max-width: calc(280 * (100vw / 375 ));
    width: 100%;
    margin: calc(30 * (100vw / 375 )) auto 0;
  }
  
  .scoringsale_product_info_cartBtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(50 * (100vw / 350 ));
    color: #fff;
    border-radius: 50px;
    font-size: calc(15 * (100vw / 375 ));
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  
  .scoringsale_product_info_cartBtn .btn_mail {
    margin-top: calc(30 * (100vw / 375 ));
    background-color: #000;
  }
  
  .scoringsale_product_info_arrivalMail {
    margin: calc(30 * (100vw / 375 )) 0 0;
  }
  
  .scoringsale_product_info_arrivalMail_input {
    display: flex;
    align-items: center;
    margin-top: calc(30* (100vw / 375 ));
  }
  
  .scoringsale_product_info_arrivalMail_input input {
    max-width: calc(255 * (100vw / 375 ));
    width: 100%;
    height: calc(44 * (100vw / 375 ));
    border-right: 0;
  }
  
  .scoringsale_product_info_arrivalMail_input .btn_regist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(89 * (100vw / 375 ));
    height: calc(40 * (100vw / 375 ));
    font-size: calc(14 * (100vw / 375 ));
    line-height: 1;
    color: #ffffff;
    background-color: #000;
    box-sizing: border-box;
  }
  
  .scoringsale_product_detail {
    padding: calc(34 * (100vw / 375 )) calc(15 * (100vw / 375 )) calc(54 * (100vw / 375 ));
    text-align: left;
    font-size: calc(14 * (100vw / 375 ));
    line-height: calc(26 * (100vw / 375 ));
  }
  
  .scoringsale_product .error_inline {
    margin-top: calc(10 * (100vw / 375 ));
    text-align: right;
    color: #D60000;
    font-size: calc(11 * (100vw / 375 ));
    line-height: 1;
  } 


/* カラーパターン */

/* パターン1 .colorPattern-1 */
.scoringsale.colorPattern-1 {
  border-top-color: var(--color-common);
}

.scoringsale.colorPattern-1 .scoringsale_ttl {
  color: var(--color-common);
}

.scoringsale.colorPattern-1 .scoringsale_btn._go {
  background-color: var(--color-common);
}

.scoringsale.colorPattern-1 input:checked + label::after {
  background-color: var(--color-common);
}

.scoringsale.colorPattern-1 input:checked + label::before {
  border-color: var(--color-common);
}

.scoringsale.colorPattern-1 .scoringsale_pageNum {
  color: var(--color-common);
}

.scoringsale.colorPattern-1 ._select_img input:checked + label div {
  outline-color: var(--color-common);
}

.scoringsale.colorPattern-1 .btn_cv {
  background-color: var(--color-cv);
}

.scoringsale.colorPattern-1 select:focus,
.scoringsale.colorPattern-1 input[type="text"]:focus {
  outline-color: var(--color-common);
}

/* //パターン1 .colorPattern-1 */

/* パターン2 .colorPattern-2 */

.scoringsale.colorPattern-2 {
  border-top-color: var(--color2-common);
}

.scoringsale.colorPattern-2 .scoringsale_ttl {
  color: var(--color2-common);
}

.scoringsale.colorPattern-2 .scoringsale_btn._go {
  background-color: var(--color2-common);
}

.scoringsale.colorPattern-2 input:checked + label::after {
  background-color: var(--color2-common);
}

.scoringsale.colorPattern-2 input:checked + label::before {
  border-color: var(--color2-common);
}

.scoringsale.colorPattern-2 .scoringsale_pageNum {
  color: var(--color2-common);
}

.scoringsale.colorPattern-2 ._select_img input:checked + label div {
  outline-color: var(--color2-common);
}

.scoringsale.colorPattern-2 .btn_cv {
  background-color: var(--color2-cv);
}

.scoringsale.colorPattern-2 select:focus,
.scoringsale.colorPattern-2 input[type="text"]:focus {
  outline-color: var(--color2-common);
}

/* //パターン2 .colorPattern-2 */

/* パターン3 .colorPattern-3 */
.scoringsale.colorPattern-3 {
  border-top-color: var(--color3-common);
}

.scoringsale.colorPattern-3 .scoringsale_ttl {
  color: var(--color3-common);
}

.scoringsale.colorPattern-3 .scoringsale_btn._go {
  background-color: var(--color3-common);
}

.scoringsale.colorPattern-3 input:checked + label::after {
  background-color: var(--color3-common);
}

.scoringsale.colorPattern-3 input:checked + label::before {
  border-color: var(--color3-common);
}

.scoringsale.colorPattern-3 .scoringsale_pageNum {
  color: var(--color3-common);
}

.scoringsale.colorPattern-3 ._select_img input:checked + label div {
  outline-color: var(--color3-common);
}

.scoringsale.colorPattern-3 .btn_cv {
  background-color: var(--color3-cv);
}

.scoringsale.colorPattern-3 select:focus,
.scoringsale.colorPattern-3 input[type="text"]:focus {
  outline-color: var(--color3-common);
}

/* //パターン3 .colorPattern-3 */

/* パターン4 .colorPattern-4 */
.scoringsale.colorPattern-4 {
  border-top-color: var(--color4-common);
}

.scoringsale.colorPattern-4 .scoringsale_ttl {
  color: var(--color4-common);
}

.scoringsale.colorPattern-4 .scoringsale_btn._go {
  background-color: var(--color4-common);
}

.scoringsale.colorPattern-4 input:checked + label::after {
  background-color: var(--color4-common);
}

.scoringsale.colorPattern-4 input:checked + label::before {
  border-color: var(--color4-common);
}

.scoringsale.colorPattern-4 .scoringsale_pageNum {
  color: var(--color4-common);
}

.scoringsale.colorPattern-4 ._select_img input:checked + label div {
  outline-color: var(--color4-common);
}

.scoringsale.colorPattern-4 .btn_cv {
  background-color: var(--color4-cv);
}

.scoringsale.colorPattern-4 select:focus,
.scoringsale.colorPattern-4 input[type="text"]:focus {
  outline-color: var(--color4-common);
}

/* //パターン4 .colorPattern-4 */

/* パターン5 .colorPattern-5 */

.scoringsale.colorPattern-5 {
  border-top-color: var(--color5-common);
}

.scoringsale.colorPattern-5 .scoringsale_ttl {
  color: var(--color5-common);
}

.scoringsale.colorPattern-5 .scoringsale_btn._go {
  background-color: var(--color5-common);
}

.scoringsale.colorPattern-5 input:checked + label::after {
  background-color: var(--color5-common);
}

.scoringsale.colorPattern-5 input:checked + label::before {
  border-color: var(--color5-common);
}

.scoringsale.colorPattern-5 .scoringsale_pageNum {
  color: var(--color5-common);
}

.scoringsale.colorPattern-5 ._select_img input:checked + label div {
  outline-color: var(--color5-common);
}

.scoringsale.colorPattern-5 .btn_cv {
  background-color: var(--color5-cv);
}

.scoringsale.colorPattern-5 select:focus,
.scoringsale.colorPattern-5 input[type="text"]:focus {
  outline-color: var(--color5-common);
}

/* //パターン5 .colorPattern-5 */

.scoringsale_product_info_price .price_nomal {
  color:red
}

.display-price {
  display:contents;
}

.scoringsale_htmlcontent {
  text-align: left;
}