<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Test.P0028_Lagrad.w2.Commerce.ExternalAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Test.P0028_Lagrad.w2.Commerce.ExternalAPI.Properties.Settings.SqlConnection" connectionString="server=w2DB1;database=R5044_Kagome.Develop;uid=sa;pwd=w2Sa"/>
    </connectionStrings>
    <userSettings>
        <Test.P0028_Lagrad.w2.Commerce.ExternalAPI.Properties.Settings>
            <setting name="ConfigFileDirPath" serializeAs="String">
                <value>C:\inetpub\wwwroot\R5044_Kagome.Develop\Commons\w2.CustomerResources</value>
            </setting>
        </Test.P0028_Lagrad.w2.Commerce.ExternalAPI.Properties.Settings>
    </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
