@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wg1p2y');
  src:  url('fonts/icomoon.eot?wg1p2y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wg1p2y') format('truetype'),
    url('fonts/icomoon.woff?wg1p2y') format('woff'),
    url('fonts/icomoon.svg?wg1p2y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clip:before {
  content: "\e939";
}
.icon-popup-detail:before {
  content: "\e932";
}
.icon-present:before {
  content: "\e931";
}
.icon-box:before {
  content: "\e930";
}
.icon-shippingto:before {
  content: "\e92a";
}
.icon-shipping:before {
  content: "\e92c";
}
.icon-calendar:before {
  content: "\e92d";
}
.icon-memo:before {
  content: "\e92e";
}
.icon-payment:before {
  content: "\e92f";
}
.icon-circle:before {
  content: "\e929";
}
.icon-popup:before {
  content: "\e928";
}
.icon-close:before, .icon-close:after {
  position: absolute;
  left: 28px;
  top: 18px;
  content: ' ';
  height: 23px;
  width: 4.5px;
  background-color: #333;
}
.icon-close:before {
  transform: rotate(45deg);
}
.icon-close:after {
  transform: rotate(-45deg);
}
.icon-arrow-down:before {
  content: "\e927";
}
.icon-affiliate:before {
  content: "\e911";
}
.icon-ad:before {
  content: "\e91d";
}
.icon-analysis:before {
  content: "\e910";
}
.icon-approval:before {
  content: "\e91e";
}
.icon-category:before {
  content: "\e91f";
}
.icon-coupon:before {
  content: "\e912";
}
.icon-data:before {
  content: "\e900";
}
.icon-design:before {
  content: "\e90c";
}
.icon-goods:before {
  content: "\e901";
}
.icon-help:before {
  content: "\e90b";
}
.icon-incident:before {
  content: "\e920";
}
.icon-incident-setting:before {
  content: "\e916";
}
.icon-info:before {
  content: "\e902";
}
.icon-logout:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e91b";
}
.icon-mail-support-setting:before {
  content: "\e914";
}
.icon-mall:before {
  content: "\e90d";
}
.icon-message:before {
  content: "\e921";
}
.icon-mobile:before {
  content: "\e904";
}
.icon-notice:before {
  content: "\e905";
}
.icon-operator:before {
  content: "\e906";
}
.icon-operator-support:before {
  content: "\e918";
}
.icon-order:before {
  content: "\e907";
}
.icon-password:before {
  content: "\e922";
}
.icon-point:before {
  content: "\e924";
}
.icon-position:before {
  content: "\e915";
}
.icon-promotion:before {
  content: "\e90e";
}
.icon-report:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-sending-agency-flow:before {
  content: "\e913";
}
.icon-setting:before {
  content: "\e908";
}
.icon-shop:before {
  content: "\e909";
}
.icon-stock:before {
  content: "\e90f";
}
.icon-targetlist:before {
  content: "\e925";
}
.icon-trash:before {
  content: "\e923";
}
.icon-user:before {
  content: "\e90a";
}
.icon-user-ranking:before {
  content: "\e917";
}
.icon-detail:before {
  content: "\e926";
}
.icon-list:before {
  content: "\e92b";
}
.icon-check:before {
  content: "\e934";
}
.icon-arrow-out:before {
  content: "\e933";
}
.icon-dots:before {
  content: "\e936";
}
.icon-plus:before {
  content: "\e935";
}
.icon-arrow2-down:before {
  content: "\e938";
}
.icon-arrow2-left:before {
  content: "\e93a";
}
.icon-arrow2-right:before {
  content: "\e93c";
}
.icon-arrow2-up:before {
  content: "\e93d";
}
.icon-drag:before {
  content: "\e93e";
}
.icon-minus:before {
  content: "\e93b";
}
.icon-tel:before {
  content: "\e937";
}
