@*
=========================================================================================================
  Module      : Main (Main.cshtml)
  ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2022 All Rights Reserved.
=========================================================================================================
*@
@using w2.App.Common.Web.Page
@using w2.Cms.Manager.Codes
@{
	ViewBag.Title = CommonPage.ReplaceTag("@@ScoreAxis.information_title.name@@");
	Layout = Constants.LAYOUT_PATH_DEFAULT;
}

<h1 class="page-title">@CommonPage.ReplaceTag("@@ScoreAxis.page_title.name@@")</h1>
<div class="main-content-frame" id="list-content">
</div>

@section JavaScript
{
	<script type="text/javascript">
		get_list();

		// Get list
		function get_list() {
			loading_animation.start();
			$.ajax({
				type: "POST",
				url: "@Url.Action("List", Constants.CONTROLLER_W2CMS_MANAGER_SCORE_AXIS)",
				traditional: true
			}).done(function (viewHtml) {
				$("#list-content").html(viewHtml);
				loading_animation.end();
			});
		}
	</script>
}
