@*
	=========================================================================================================
	  Module      : 商品カテゴリ (_ProductCategory.cshtml)
	  ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
	  Copyright   : Copyright W2 Co.,Ltd. 2022 All Rights Reserved.
	=========================================================================================================
*@
@using w2.Cms.Manager.Codes
@model w2.Cms.Manager.ViewModels.FeaturePage.FeaturePageDetailViewModel

<div class="form-element-group form-element-group-horizontal-grid" id="product-category-area">
	<div class="form-element-group-title">
		<label>特集ページカテゴリ</label>
	</div>
	<div class="form-element-group-content">
		@if (Constants.PRODUCT_CTEGORY_OPTION_ENABLE)
		{
			<div id="rootCategory">
				<label>最上位カテゴリ　</label>
				@Html.DropDownListFor(
					model => model.Input.ParentCategoryId, Model.ParentCategoryItems, new
					{
						Id = "form-select-parent-category",
						Name = "Input.ParentCategoryId",
						onchange = "ChangeRootCategory($(this).val())"
					})
			</div>
			<div class="child-category">
				<label>　　子カテゴリ　</label>
				@Html.DropDownListFor(
					model => model.Input.CategoryId, Model.CategoryItems, new
					{
						Name = "Input.CategoryId",
						Id = "form-select-category"
					})
			</div>
		}
	</div>
</div>