<?xml version="1.0"?>
<!--
=========================================================================================================
  Module      : 設定ファイル(app.config)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2009 All Rights Reserved.
=========================================================================================================
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="w2.MarketingPlanner.Batch.AccessLogImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--===============================================================================-->
  <!-- アプリケーション設定 -->
  <!--===============================================================================-->
  <userSettings>
    <w2.MarketingPlanner.Batch.AccessLogImporter.Properties.Settings>
      <setting name="Application_Name" serializeAs="String">
        <value>w2.MarketingPlanner.Batch.W3cLogImporter</value>
      </setting>
      <setting name="ConfigFileDirPath" serializeAs="String">
        <value>C:\inetpub\wwwroot\R5044_Kagome.Develop\Commons\w2.CustomerResources\</value>
      </setting>
    </w2.MarketingPlanner.Batch.AccessLogImporter.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
