/*

*/
/*=========================================================================
  テキスト設定
 =========================================================================*/
.small_text
{
	color: #505050;
	font-size: 8pt;
	font-family: "MS UI Gothic";
}
.item_bottom_line
{
	border-bottom:1px #bababa solid;
}
/*=========================================================================
  作成モジュール
 =========================================================================*/
/* カレンダーモジュール・選択 */
.calendar_selected_bg
{
	color: #0864AA;
	background-color: #bed2ff;
}
/* カレンダーモジュール・未選択 */
.calendar_unselected_bg 
{
	color: #0864AA;
	background-color: #eeeeee;
}
/* カレンダーモジュール・選択不可 */
.calendar_unselectable_bg {
  color: #C0C0C0 !important;
  background-color: #eeeeee;
  padding: 5px !important;
  width: 2em !important;
  text-align: center !important;
  border: 2px solid #fff !important;
  display: inline-block;
  border-radius: 5px !important;
}

/*=========================================================================
  Calendarコントロール
 =========================================================================*/
/* カレンダーモジュール・選択 */
.calendar_control td
{
	color: #505050;
	padding-top: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	font-size: 9pt;
	font-family: "MS UI Gothic";
}
/* カレンダーモジュール・タイトル */
.calendar_title td
{
	background-color: #e7e7e7;
	color :#505050;
}
/* カレンダーモジュール・曜日 */
.calendar_dayheader_bg
{
	background-color: #e7e7e7;
}

/*=========================================================================
  顧客状況分析用
 =========================================================================*/
/*-------------------------------------------------
  属性の色
 -------------------------------------------------*/
/* 一覧リスト表示色３（認知顧客） */
.list_item_bg3
{
	background-color: #d0e0ff;
}
/* 一覧リスト表示色４（退会顧客） */
.list_item_bg4
{
	background-color: #ededed;
}

/*-------------------------------------------------
  顧客状況分析テーブル
 -------------------------------------------------*/
/* 顧客状況分析用セル（上下左右ラインあり） */
.userana_cell_tblr
{
	color: #505050;
	padding: 3px;
	height: 18px;
	border-bottom: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
}
/* 顧客状況分析用セル（上下左ラインあり、色つき箇所左上） */
.userana_cell_tbl
{
	color: #505050;
	padding: 3px;
	height: 18px;
	border-top: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-right: #cccccc 0px solid;
}
/* 顧客状況分析用セル（上下右ラインあり、色つき箇所右上） */
.userana_cell_tbr
{
	color: #505050;
	padding: 3px;
	height: 18px;
	border-top: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 0px solid;
	border-right: #cccccc 1px solid;
}

/* 顧客状況分析用セル（下左右ラインあり、人数表示部分） */
.userana_cell_blr
{
	color: #505050;
	padding: 3px;
	height: 18px;
	border-top: #cccccc 0px solid;
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
}

/* 顧客状況分析用セル（下右ラインあり、比率表示部分） */
.userana_cell_br
{
	color: #505050;
	padding: 3px;
	height: 18px;
	border-top: #cccccc 0px solid;
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 0px solid;
	border-right: #cccccc 1px solid;
}

/* リストアイテム背景（比較月） */
.list_item_bg1_dark
{
	background-color: #e8e8e8;
}
/* 一覧リスト表示色２（比較月） */
.list_item_bg2_dark
{
	background-color: #dfe5ef;
}
/* 一覧リスト表示色３（比較月・認知顧客） */
.list_item_bg3_dark
{
	background-color: #c0d0ef;
}
/* 一覧リスト表示色４（比較月・退会顧客） */
.list_item_bg4_dark
{
	background-color: #dddddd;
}
/* 一覧リスト表示色５（合計） */
.list_item_bg5_dark
{
	background-color: #bababa;
}

/* 顧客状況分析用セル（比較月・上下左右ラインあり） */
.userana_cell_tblr_dark
{
	background-color: #eeeeee;
	color: #505050;
	padding: 3px;
	height: 18px;
	border-bottom: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
}

/*=========================================================================
  アンケートCMS管理
 =========================================================================*/
.selected_link
{
	background-color :#CCDDFF;
}

/* コンテンツ表示テーブル */
.tree_table
{
	background-color: #f8f8f8;
}
.tree_table td
{
	color: #505050;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}

/*=========================================================================
 アンケート集計レポート表示用
 =========================================================================*/
/* 情報ボックス：背景の色 */
.enqreport_box_bg
{
	background-color: #eff5ff;	/* ☆ */
}
/* 情報テーブル */
.enqreport_table
{
	background-color: #bababa;
}
.enqreport_table td
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 2px;
	color: #505050;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}
/* 情報テーブル・見出し背景 */
.enqreport_title_bg
{
	background-color: #e7e7e7;
}
/* 情報テーブル・項目背景 */
.enqreport_item_bg
{
	background-color: #f8f8f8;
}
/* 検索テーブル・検索ボタン関連 */
.enqreport_btn_bg
{
	background-color: #e7e7e7;
}
/* 検索テーブル・検索ボタン(検索ボタン用) */
.enqreport_btn_main
{
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}
/* 検索テーブル・検索ボタン(クリア・ボタン用) */
.enqreport_btn_sub
{
	text-align:center;
	margin-top:3px;
	margin-bottom:1px;
	font-size: 9px;
	font-family: "MS UI Gothic";
}
/*=========================================================================
  モバイル関連
 =========================================================================*/
/* テーブル・モバイル用見出し背景 */
.mobile_title_bg
{
	background-color: #cfcfcf;
}
/* ＸＸテーブル・モバイル用入力項目背景 */
.mobile_item_bg
{
	background-color: #d8d8d8;
}

/*=========================================================================
  サポートサイト
 =========================================================================*/
#support {
}

#support #searchbox {
	border:1px solid #678bae;
	margin:10px 0px 0px 0px;
	padding:1px 0px 0px 15px;
	background-color: #eff5ff;
	width:742px;
	height:48px;
}
#support #searchbox #search_text {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	background-color: #fff;
	border:0 none;
	color:#c0c0c0;
	font-size:25px;
	width:680px;
}
#support #searchbox #searchbutton {
	position:relative;
	top:5px;
}

#support #contents {
	margin:0px 10px 0px 10px;
}
#support #contents dl {
	width:350px;
	padding:0px 10px 10px 10px;
}
#support #contents dt {
	font-weight: bold;
	border-bottom: solid 1px #cccccc;
	color: #505050;
	margin-top: 1em;
	line-height:1.1em;
}
#support #contents dd {
	border: solid 1px #cccccc;
	padding: 1em;
	margin-left: 0em;
	margin-top: 0.5em;
	background-color:#fff;
}
#support #contents fieldset {
	border:1px solid #678bae;
	margin:10px 0px 10px 0px;
	background-color: #eff5ff;
	width:365px;
	float:left;
}
#support #contents fieldset.right {
	float:right;	
}
#support #contents fieldset legend {
	margin-left: 12px;
	font-size:14px;
	font-family:メイリオ;
	color:#356dae;
	font-weight:600;
}
#support #contents .loading {
	text-align:center;
	vertical-align:middle;
	width:350px;
	margin:50px 0px 50px 0px;
}



/*=========================================================================
  左メニュー
 =========================================================================*/
.manager_menu dt
{
	cursor:pointer;
	margin-top: -3px;
}

@-moz-document url-prefix() 
{
	.manager_menu dt {
		cursor:pointer;
		margin-bottom: -2px;
		margin-top: -4px;
	}
	.manager_menu #smenu
	{
		padding-bottom: 1px;
	}
}
