.ul-mail-domains-list {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	border: 1px solid #ddd;
	display:none;
	background-color: #ffffff;
	position: absolute;
	z-index: 2;
}
.listtag:hover{
	cursor : default;
	display:block;
	background-color : #00bfff;
}
