@charset "UTF-8";
/*----------------------------------------
 特集ページ
-----------------------------------------*/
.logo-main h1 {
  font-size: 1em;
  margin: 0 auto;
}

#upper-contents-area {
  padding-bottom: 20px;
}

.product-list-inner {
  padding: calc( 60 * (100vw / 750)) calc( 40 * (100vw / 750)) 0;
  background: #fff;
}

.product-list {
  background-color: #dddddd;
  padding: calc( 40 * (100vw / 750));  
}

#list-title {
  text-align: center;
  padding-bottom: calc( 30 * (100vw / 750));
}

.feature-item {
  text-align: center;
  margin-bottom: calc( 30 * (100vw / 750));
}

.feature-item #productImage {
  width: 100%;
}

.feature-item-product-id {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  color:gray;
}

.feature-item-name {
  line-height: 1.6;
  font-size: 16px;
}

.feature-item-outline {
  text-align: center;
  margin: 10px auto;
}

.feature-item-member-rank-price,
.feature-item-sale-price,
.feature-item-special-price,
.feature-item-price,
.feature-item-add-point,
.feature-item-fixed-purchase-price,
.feature-item-favorite-registration,
.feature-item-fixed-purchase-point {
  line-height: 1.5;
}

.feature-item > .product-set-promotion {
  width: 100%;
  line-height: 1.5;
}

.feature-vari-cart-add .btn,
.feature-vari-cart-add-fixed-purchase .btn,
.feature-vari-cart-add-gift .btn,
.favorite-btn .btn,
.feature-vari-arrival a,
.feature-vari-release a,
.feature-vari-resale a
{
  	width: 100%;
    display: block;
	font-size: 14px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 1em 0;
}

.feature-vari-arrival-mail{
  padding: 0.5em;
}

.feature-vari-arrival-mail .user-unit{
  padding-bottom: 2em;
  text-align: left;
}

.feature-item-sold-out {
    color: #fff;
    word-wrap: normal;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: -webkit-fill-available;
    height: 26px;
    line-height: 26px;
    background-color: #000;
    opacity: 0.5;
    display: inline-block;
    font-size: 26px;
}

.feature-item-image {
    position: relative;
}

@media screen and (min-width: 640px){

    .feature-item-sold-out {
        color: #fff;
        word-wrap: normal;
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        width: -webkit-fill-available;
        height: 60px;
        line-height: 60px;
        background-color: #000;
        opacity: 0.5;
        display: inline-block;
        font-size: 60px;
    }

}
/* 特集ページ一覧 */
.feature-page-view-list {
    font-size: 153.9%;
    width: 100%;
}

.feature-page-view-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-page-view-item {
    border: 1px solid #d0d0d0;
    background-color: #fff;
    width: 45%;
    margin: 0.25em;
}

.feature-page-view-title {
    margin: 0.5em;
}

.feature-page-view-thumb {
    text-align: center;
}

.feature-page-view-thumb img {
    width: 100%;
}
