/* =====================================================================
*
*    グローバル 切り替えメニュー/globalChangeMenu
*
* =================================================================== */

.popup_window > ul
{
    padding: 10px 0 10px 0;
    width: 100px;
    margin: 0 auto;
}

    .popup_window > ul > li
    {
        line-height: 1.5;
        padding: 10px 0;
        text-align: left;
        width:120px;
    }

        .popup_window > ul > li > a > img
        {
            width: 50px;
            float: left;
            margin-right: 10px;
            box-shadow: 0px 0px 5px silver;
        }

        .popup_window > ul > li > a > p
        {
            margin-top: 10px;
        }
