/*========================================
 スタッフ一覧パーツ
=========================================*/
 .story_wrap .right_blk #top_recommend_curetor {
	background-color: #f4f4f4;
	padding: 40px 20px 0;
	margin-bottom: 25px;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curetor_ttl {
	font-family: semplicitapro, sans-serif;
	font-weight: 700;
	font-style: normal;
	width: 177px;
	margin: 0 auto 36px;
	font-size: 23px;
	text-align: center;
	line-height: 1.2;
	letter-spacing: .05em;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curetor_ttl .ttl_white {
	display: block;
	color: #fff;
	text-shadow: 1px  1px 0px #0a0e1f,
	-1px  1px 0px #0a0e1f,
	1px -1px 0px #0a0e1f,
	-1px -1px 0px #0a0e1f,
	1px  0px 0px #0a0e1f,
	0px  1px 0px #0a0e1f,
	-1px  0px 0px #0a0e1f,
	0px -1px 0px #0a0e1f;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curetor_ttl .ttl_small {
	display: block;
	font-size: 11px;
	padding-top: 9px;
	letter-spacing: .1em;
	font-weight: normal;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk {
	width: 125px;
	margin: auto;
	margin-bottom: 28px;
}


 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a:hover .curator_img::before, .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a:hover img {
	opacity: .7;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a img {
	display: block;
	width: 100%;
	height: 100%;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a .curator_img {
	display: block;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin-bottom: 12px;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk .curator_img::before {
	border-radius: 50%;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk .curator_img.bg_orange {
	border: 2px solid grey;
	padding: 2px;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a .curator_img.bg_orange img {
	border-radius: 50%;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a .curator_name {
	display: block;
	font-size: 13px;
	text-align: center;
}

/* 特集ページ一覧（パーツ） */

.feature-page-parts-list {
	width: 100%;
}

.feature-page-parts-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feature-page-parts-item {
	border: 1px solid #d0d0d0;
	background-color: #fff;
	width: 46%;
	margin: 0.25em;
}

.feature-page-parts-title {
	margin: 0.5em;
}

.feature-page-parts-thumb {
	text-align: center;
}

.feature-page-parts-thumb img {
	width: 100%;
}

.feature-page-parts-viewmore .btn {
	width: 70%;
	background-color: #000;
	color: #fff;
	padding: 1em 0;
	margin: 0.5em auto;
}

/* 特集ページカテゴリ一覧 */

.feature-page-parts-category-links-title {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.feature-page-parts-category-links-description {
	margin: 0.5em;
}

.feature-page-parts-category-links-items {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-content: stretch;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.feature-page-parts-category-links-item {
	padding: 1em;
	margin: 0.5em;
	border: 1px solid #d0d0d0;
	background-color: #fff;
}

.feature-page-parts-category-links-item:hover {
	background-color: #ddd;
}

.feature-page-parts-category-links-item-isactive {
	background-color: #efefef;
}