/* =====================================================================
*
*    共通部品
*
* =================================================================== */

/* ---------------------------------
*    検索/BodyProductSearchBox
*/

.search {
	padding: 1em 0;
}

.search-item {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.search-item ul li {
	display: table-cell;
	line-height: 30px;
}

.search-item ul li i {
	font-size: 27px;
	padding-right: .2em;
}

.search-item ul li input {
	position: absolute;
	top: 0;
	height: 30px;
	border: 1px solid #000;
	width: 70%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

.search-item ul li a {
	position: absolute;
	top: 0;
	left: 80%;
	background: #000;
	color: #FFF;
	width: 20%;
}

/* =====================================================================
*
*    トップ
*
* =================================================================== */


/* ---------------------------------
*    ヒーロー/Hero
*/

.hero img {
	width: 100%;
	height: auto;
}

/* ---------------------------------
*    新着情報/BodyNews
*/

.news dl dt {
	float: left;
	width: 70px;
	clear: left;
	padding: .5em;
	line-height: 1.8;
	text-align: center;
}

.news dl dd {
	margin-left: 80px;
	padding: .5em;
	line-height: 1.8;
}

.news ul li {
	list-style-type: disc;
	list-style-position:inside;
}

.news ol li {
	list-style-type: decimal;
	list-style-position:inside;
}

.news h1 { font-size: 200%; }
.news h2 { font-size: 150%; }
.news h3 { font-size: 116%; }
.news h5 { font-size: 83%; }
.news h6 { font-size: 75%; }

.news dl dd a { text-decoration: underline; }

/* ---------------------------------
*    レコメンドパーツ/Recommend
*/

.loading
{
	text-align:center;
	vertical-align:middle;
	padding:25px 0px 25px 0px;
}

/* =====================================================================
*
*    カスタムページ/CustomPageTemplate
*
* =================================================================== */

.wrap-custom-page h2 {
	padding: .5em;
	background-color: #CCC;
	font-size: 15px;
}

.wrap-custom-page .unit {
	width: 95%;
	margin: 1em auto .5em;
	line-height: 1.5;
}

.wrap-custom-page .unit a {
	text-decoration: underline;
}

/* =====================================================================
*
*    シルバーエッグレコメンド/dv_recommend
*
* =================================================================== */

.dv_recommend {
	display: table;
	padding: 0px;
	margin-top: 1.5em;
	width: 100%;
	table-layout: fixed;
}
 
.dv_rc_items {
	display: table-cell;
	width: 33.333%;
	float:left;
	height: 240px;
}

.dv_rc_img img{
	width: 96px;
	height: 96px;
}

.dv_rc_name, .dv_rc_description, .dv_rc_price {
	width: 90%;
	margin: 0 auto;
}