@charset "utf-8";
/* ===================================================================
CSS information
 file name  :  toolTip.css
=================================================================== */
.invisible{
	display: none;
}

#r_side{
	position: fixed;
}

p.toolTip
{
	overflow: hidden;
	zoom: 1;
	/*visibility: hidden;*/
	display: none;
	margin: 0;
	padding: 20px;
	width: auto;
	box-sizing: border-box;
	text-align:center;
	background-color: #6699CC;
	opacity: 0.9;
	border-radius: 10px;
	-moz-border-radius: 5px;
	color: #fff;
	position: absolute;
	top: 60px;
	right:6px;
	z-index: 9000000;
}

p.toolTip a{
	display: block;
	float: left;
}

p.toolTip #bt-tooltip{
	display: block;
	float: right;
}

p.toolTip #bt-tooltip img{
	cursor: pointer;
}

p.toolTip #txt-tooltip{
	display: block;
	margin-bottom: 5px;
	letter-spacing: 0.02em;
}