/* =====================================================================
*
*    ユーザー/User
*
* =================================================================== */

/* ---------------------------------
*    共通
*/

.user-unit, 
.point-unit {
	margin-bottom: 2em;
}

.user-unit h2, 
.point-unit h2 {
	padding: .5em;
	background-color: #000;
	color: #fff;
	font-size: 15px;
}

.user-unit h3, 
.point-unit h3 {
	padding: .5em;
	background-color: #fafafa;
	font-size: 14px;
}

.user-unit .user-form {
	margin: 1em auto;
	/*width: 96%;*/
}

.point-unit .point-form {
	margin: 0.5em auto;
}

.user-unit .user-form dt,
.user-unit .user-form dd,
.point-unit .point-form dt,
.point-unit .point-form dd {
	padding: .5em;
	line-height: 1.5;
}

.user-unit .user-form dt,
.point-unit .point-form dt {
	background-color: #ccc;
}

.user-unit .user-form dd dt,
.point-unit .point-form dd dt {
	background-color: transparent;
	border-bottom: 1px solid #000;
	color: #000;
}

.user-unit .msg,
.point-unit .msg {
	padding: .5em;
	line-height: 1.5;
	font-size: 12px;
}

.user-unit .msg p,
.point-unit .msg p {
	line-height: 1.5;
	font-size: 12px;
}

.user-unit .require,
.point-unit .require {
	color: #f00;
	font-weight: bold;
	margin-left: 3px;
}

.user-unit .attention,
.point-unit .attention {
	font-size: 11px;
	color: #f00;
	line-height: 1.5;
	/*padding: .3em;*/
}

.user-unit .no-data,
.point-unit .no-data {
	padding: 1em;
	text-align: center;
}

.user-nav { border-top: 1px solid #EEE; }
.user-nav li {
	width: 100%;
	border-bottom: 1px solid #EEE;
}

.user-nav li a {
	display: block;
	padding: 2em 1em;
}

/* フッターボタン */

.user-footer {
	padding: 0 1em 1em 1em;
}

.user-footer-arrival {
	padding: 0 1em 0 1em;
}

.user-footer div {
	margin-bottom: 1em;
}

.user-footer .button-next .btn {
	padding: 1.5em 0;
	background-color: #000;
	color: #fff;
}

.user-footer-arrival .button-next .btn-arrival {
	padding: 1em 0;
	background-color: #000;
	color: #fff;
}

.user-product-arrival-mail-regist .user-footer-arrival .button-next .btn-arrival
{
	padding: 0.7em 0;
}

.user-footer .button-prev .btn {
	padding: 1.5em 0;
	background-color: #ccc;
	color: #000;
}

/* ---------------------------------
*    会員情報の確認・変更 / UserModifyInput
*/

.user-unit .user-form dd input {
	padding: .5em;
}

.user-unit .user-form dd.extend {
	line-height: 2;
}

.user-form dd.extend ul li.title {
	font-weight: bold;
	border-top: 1px dotted #ccc;
	margin: .3em 0;
}
.user-form dd.extend ul li.title:first-child { border-top: none; }

.user-unit .button {
	margin: 1em 0;
	padding: 1em;
}

.user-unit .btn {
	padding: 1.5em 0;
	background-color: #000;
	color: #fff;
}

.user-unit .favorite-addcart .btn {
	padding: .7em;
	width: 50%;
	margin: 1em auto;
}

.user-unit .favorite-addcart p {
	padding: .7em;
	text-align: center;
}

.user-unit .favorite-addcart .btn {
	padding: .7em;
	width: 50%;
	margin: 1em auto;
}

.user-unit .favorite-addcart p {
	padding: .7em;
	text-align: center;
}

.user-unit .checked {
	text-align: center;
	margin: .5em 0;
}

.user-form .attention span {
	display: block;
}

.login .user-form input {
	width: 100%;
}

.user-form div #imgBarCodeShopCardNo {
	display: block;
	margin: 0 auto;
}

.user-form div #imgBarCodeShopCardNo + p {
	text-align: center;
}

/* フォームのinput */

.user-form .name input,
.user-form .name-kana input {
	width: 48.5%;
}

.user-form .mail input,
.user-form .mail-confirm input,
.user-form .mobile input,
.user-form .mobile-confirm input,
.user-form .address input {
	width: 100%;
}

.user-form .zip input {
	width: 30%;
}

.user-form .zip .btn-add-search,
.user-form .tel .btn-add-get {
	display: block;
	padding: 1em;
	background-color: #000;
	margin: .5em 0;
	width: 50%;
	text-align: center;
	color: #fff;
}

.user-form .birth select {
	width: 25%;
}

.user-form .tel input {
	width: 30%;
}

.user-form .address input,
.user-form .address select,
.user-form .mail input,
.user-form .mobile input { margin-bottom: .2em; }
.user-form .title select { margin-top: .2em; }
.user-form .text textarea { width: 100%; }

/* クレジットカード入力 */
.user-form .card-name input { width: 100%; }
.user-form .card-nums input { width: 100%; }
.user-form .credit-expire select {
	width: 30%;
	margin: 0 .2em;
}

/* ラジオボタン */

.user-form .radio-button ul {
		display: table;
		table-layout: fixed;
		width: 50%;
		margin: 0 auto;
}

.user-form .radio-button ul li {
		display: table-cell;
		width: 50%;
		text-align: center;
}

/* ---------------------------------
*    お気に入り / FavoriteList
*/

.favorite-list .cart-table {
	margin: 1em 0;
	background-color: #fafafa;
}
.favorite-list .cart-table td .delete a { margin-top: 0; }

/* ---------------------------------
*    入荷お知らせメールリスト / UserProductArrivalMailList
*/

.user-product-arrival-mail-list .cart-table {
	margin: 1em 0;
	background-color: #fafafa;
}

.user-product-arrival-mail-list .cart-table .date input {
	width: 60px;
	margin-bottom: 2px;
}

.user-product-arrival-mail-list .cart-table .cancel .btn {
	padding: .5em;
	margin: 0 auto;
}


/* ---------------------------------
*    お届け先住所の追加 / UserShippingList
*/

.user-unit .shipping-list { padding: 0 1em; }
.user-unit .shipping-list ul {
	padding: 1em;
	margin: 1em 0;
	background-color: #fafafa;
}

.user-unit .shipping-list li {
	line-height: 1.5;
	padding: .3em 0;
}

.user-unit .shipping-list li.name {
	background-color: #ccc;
	padding: .3em;
}

.user-unit .shipping-list li.control a {
	display: inline-block;
	width: 47.2%;
	margin: 1%;
	text-align: center;
	padding: .5em 0;
}

/* ---------------------------------
*    定期購入一覧 / FixedPurchase
*/

.fixed-purchase-list .content,
.fixed-purchase-detail .content {
	width: 95%;
	margin: 1em auto;
}

.fixed-purchase-list h3,
.fixed-purchase-detail h3 {
	color: #fff;
	background-color: #000;
}

.fixed-purchase-list .user-unit .user-form dt,
.fixed-purchase-detail .user-unit .user-form dt {
	background-color: #ccc;
	color: #000;
}

.fixed-purchase-detail .payment-list dd { 
	padding: 0; 
}

.fixed-purchase-list .content > ul > li {
	margin-bottom: 1.5em;
	background-color: #fafafa;
	height: 100%;
}

.user-unit .fixed-id {
	text-align: center;
	padding: .5em 0;
	font-size: 15px;
}

.fixed-purchase-list .button {
	padding: 0;
	margin: 0;
}

.fixed-purchase-list .user-unit .btn {
	padding: .7em;
	width: 50%;
	margin: 1em auto;
}

.user-unit .fixedPurchaseStatus_15,
.fixed-purchase-detail .user-unit .user-form dd .fixedPurchaseStatus_15{	/*配送不可エリア停止*/
	color:#ff0000;
	font-weight:bold;
}

/* ---------------------------------
*    定期購入情報詳細 / FixedPurchaseDetail
*/

.dvPlannedTotalAmountForTheNextOrder .cart-unit dl dt {
	width: 38%;
}

.dvPlannedTotalAmountForTheNextOrder .cart-unit dl dd {
	margin-left: 40%;
}

.dvPlannedTotalAmountForTheNextOrder .cart-unit dl dd.discount {
	color: #f00;
}

.dvPlannedTotalAmountForTheNextOrder dl dd span {
	display: inline-block;
}

.notProductError {
  color: red;
}

/* ---------------------------------
*    登録クレジット / UserCreditCard
*/

.user-unit .credit-card-list-wrap {
	padding: 0 1em;
}

.user-unit .credit-card-list {
	padding: 1em;
	margin: 1em 0;
	background-color: #eee;
}

.user-unit .credit-card-list dt {
	float: left;
	clear: left;
	width: 35%;
	padding: .5em;
}

.user-unit .credit-card-list dd {
	margin-left: 40%;
	padding: .5em;
}

.user-unit .credit-card-list .button {
	padding: 0;
	margin-bottom: 0;
}

/* ---------------------------------
*    ポイント履歴一覧 / UserPointHistoryList
*/

.point-history-list .content {
	width: 95%;
	margin: 1em auto;
}

.point-history-list h3 {
	color: #fff;
	background-color: #000;
}

.point-history-list .point-unit .point-form dt {
	background-color: #ccc;
	color: #000;
}

.point-history-list .content > ul > li {
	margin-bottom: 1.5em;
	background-color: #fafafa;
	height: 100%;
}

.point-unit .point-get {
	text-align: center;
	padding: .5em 0;
	font-size: 18px;
	background-color: #FFB6C1;
}

.point-unit .point-use {
	text-align: center;
	padding: .5em 0;
	font-size: 18px;
	background-color: #87CEFA;
}

.point-unit .total tr th {
	text-align: left;
	padding: .1em 0;
}

.point-unit .total tr td {
	text-align: right;
	padding: .1em 0;
}

.point-history-list .button {
	padding: 0;
	margin: 0;
}

.point-history-list .point-unit .btn {
	padding: .7em;
	width: 50%;
	margin: 1em auto;
}

/* ---------------------------------
*    通知メール登録関連
*/
.user-product-arrival-mail-regist
{
	background-color : #f3f3f3;
}

.user-product-arrival-mail-regist .user-form .mail-arrival input
{
	width: initial;
}

.user-product-arrival-mail-regist .user-form .mail-arrival input[type = "textbox"]
{
	width: 100%;
}

/*---------------------------
 ソーシャルログインボタン
----------------------------*/
.social-login-margin {
	margin-bottom: 10px;
}

.social-login {
	width: 296px;
	border-radius: 5px;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.facebook-color {
	background-color: #1877F2;
}

.twitter-color {
	background-color: #000000;
}

.yahoo-color {
	background-color: #FF0033;
}

.line-color {
	background-color: #06C755;
}

.apple-color {
	background-color: #000000;
}

.line-active-color:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.line-hover-color:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.line-active-color:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.google-color {
	background-color: #FFFFFF;
	box-shadow: 1px 1px 2px #666666;
}

.social-icon-width {
	width: 54px;
	float: left;
}

.social-icon-width-apple {
	width: 30px;
	float: left;
}

.facebook-icon {
	padding: 7px 10px;
	height: 26px;
}

.twitter-icon {
  padding: 10px 9px;
  height: 18px;
}

.yahoo-icon {
	padding: 11px 11px;
	height: 18px;
}

.google-icon {
	padding: 8px 10px;
	height: 24px;
}

.apple-icon {
	padding: 9px 65px;
	height: 26px;
}

.social-login-icon {
  padding-top: 6px;
  height: 20px;
}

.social-login-icon-apple {
  height: 45px;
}

.social-login-icon-facebook {
  padding: 12.5px;
}

.social-login-icon-x {
  padding: 10px 9px;
  height: 18px;
}

.social-login-icon-yahoo {
  padding: 10px 0px;
  height: 15px;
}

.social-login-icon-paypal {
  padding: 6px 6px;
  height: 16px;
}

.line-icon {
	padding: 7px 10px;
	height: 26px;
	border-right: 1px solid rgba(0,0,0,0.2);
}

.social-login-label {
	color: #FFFFFF;
	font-size: 16px;
	padding: 12px 0;
	text-align: center;
	font-family: 'MS Pゴシック';
}

.social-login-box {
  width: 70px;
  height: 10px;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1em;
}

.social-login-box-connected {
  font-weight: bold;
}

.social-login-box-connected2 {
  background-color: #87cefa;
}

.social-login-box-box-amazon {
  width: 50px;
  height: 10px;
  padding: 0.5em 1em 0em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2em;
}

.google-label {
	color: #757575;
	font-size: 16px;
	padding: 12px 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.twitter-label {
  color: #FFFFFF;
  font-size: 16px;
  padding: 12px 26px;
  text-align: center;
  font-family: 'MS Pゴシック';
}

.twitter-label-registinput {
  color: #FFFFFF;
  font-size: 16px;
  padding: 14px 26px;
  text-align: center;
  font-family: 'MS Pゴシック';
}

.apple-label {
	color: #FFFFFF;
	font-size: 16px;
	padding: 14px 0px;
	font-family: 'MS Pゴシック';
}

.user-form .userReferralCode .btn-copy {
	padding: 0.5em;
	background-color: #000;
	margin: .5em 0;
	width: 50%;
	text-align: center;
	color: #fff;
}
.limit-unit {
	display: initial !important; 
	padding-left: 5px !important;
}

.user-unit .order-histori-button {
	margin: 1em 0;
	padding: 0em 1em 1em 1em;
}
