@*
=========================================================================================================
  Module      : タグマネージャー 置換タグリスト部分ビュー(_ProductTag.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@

@using System.Web.UI.WebControls
<table class="replace_tag_table edit_table">
	<thead>
		<tr class="edit_title_bg">
			<th>置換タグ</th>
			<th>説明</th>
		</tr>
	</thead>
	<tbody>
	@foreach (ListItem item in Model)
	{
		<tr class="list_item_bg1"
			style="background-color: blanchedalmond"
			onmouseover="listselect_mover(this)"
			onmouseout="listselect_mout1(this)"
			onmousedown="listselect_mdown(this)"
			onclick="tagInput('@item.Value');">
			<td>@item.Value</td>
			<td>@item.Text</td>
		</tr>
	}
	</tbody>
</table>
