<?xml version="1.0" encoding="utf-8" ?>
<!--
=========================================================================================================
  Module      : メニュー定義XML(Menu.xml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2013 All Rights Reserved.
=========================================================================================================
-->
<Menu>
  <!--
  【function要素について】
    function要素権限の有効無効は、内部的にはビット演算で計算されるため、
    1,2,4,8,16,32,64と、2の倍数で登録する必要があります。
    DBの「function_level」には選択されたfunctionのvalueの合計が登録されます。
    
    例）w2_MenuAuthority.function_level = 6 の場合
        functionのvalueが「2」と「4」のfunctionに権限が与えられている事となります。
        
    注意：functionを作成した場合、Constants.csで『KBN_MENU_FUNCTION_XXXXXXX_DL』の設定、該当aspx.csでVisibleを設定することを忘れない様にしてください。
  -->
  <lmenu name="サポートサイト" icon_css="icon-support" option="support">
    <smenu name="サポート情報" top="SupportInformation.aspx" path="Form/Support/" option="support" />
  </lmenu>
  <lmenu name="オペレーション" icon_css="icon-operation" operation="true">
    <smenu name="トップページ" top="TopPage.aspx" path="Form/Top/">
      <function value="1" text="ダウンロード"></function>
    </smenu>
  </lmenu>
  <lmenu name="インシデント設定" icon_css="icon-incident-setting" key="incident-setting">
    <smenu name="インシデントカテゴリ管理" top="IncidentCategoryRegister.aspx" path="Form/IncidentCategory/"></smenu>
    <smenu name="VOC区分設定" top="IncidentVocList.aspx" path="Form/IncidentVoc/"></smenu>
    <smenu name="集計区分設定" top="SummarySettingList.aspx" path="Form/SummarySetting/"></smenu>
  </lmenu>
  <lmenu name="オペレータ支援" icon_css="icon-operator-support" key="operator-support">
    <smenu name="回答例カテゴリ設定" top="AnswerTemplateCategoryRegister.aspx" path="Form/AnswerTemplateCategory/"></smenu>
    <smenu name="回答例文章設定" top="AnswerTemplateList.aspx" path="Form/AnswerTemplate/"></smenu>
    <smenu name="共有情報" top="ShareInfoSettingList.aspx" path="Form/ShareInfoSetting/"></smenu>
    <smenu name="外部リンク設定" top="ExternalLinkPreferenceList.aspx" path="Form/ExternalLinkPreference/"></smenu>
  </lmenu>
  <lmenu name="集計レポート" icon_css="icon-report" key="report">
    <smenu name="インシデント集計" top="IncidentReport.aspx" path="Form/ReportIncident/"></smenu>
    <smenu name="メッセージ集計" top="MessageReport.aspx" path="Form/ReportMessage/"></smenu>
    <smenu name="業務フロー集計" top="CsWorkflowReport.aspx" path="Form/ReportCsWorkflow/"></smenu>
  </lmenu>
  <lmenu name="メール設定" icon_css="icon-mail-support-setting" key="mail-support-setting">
    <smenu name="受信時振分けルール" top="MailAssignSettingList.aspx" path="Form/MailAssignSetting/"></smenu>
    <smenu name="メール署名管理" top="MailSignatureList.aspx" path="Form/MailSignature/"></smenu>
    <smenu name="メール送信元管理" top="MailFromList.aspx" path="Form/MailFrom/"></smenu>
  </lmenu>
  <lmenu name="データ管理" icon_css="icon-data" key="data">
    <smenu name="データ移行管理" top="DataMigrationManager.aspx" path="Form/DataMigration/" option="data_migration_setting" />
  </lmenu>
  <lmenu name="オペレータ管理" icon_css="icon-operator" key="operator-management">
    <smenu name="オペレータ情報" top="OperatorList.aspx" path="Form/Operator/" />
    <smenu name="オペレータ権限情報" top="OperatorAuthorityList.aspx" path="Form/OperatorAuthority/" />
    <smenu name="メニュー権限設定" top="MenuAuthorityList.aspx" path="Form/MenuAuthority/" />
    <smenu name="パスワード変更" top="OperatorPasswordChangeInput.aspx" path="Form/OperatorPasswordChange/" />
  </lmenu>
  <lmenu name="拠点管理" icon_css="icon-position" key="position">
    <smenu name="拠点グループ設定" top="CsGroupRegister.aspx" path="Form/CsGroup/"></smenu>
    <smenu name="オペレータ所属設定" top="CsOperatorGroupList.aspx" path="Form/CsOperatorGroup/"></smenu>
  </lmenu>
</Menu>
