@*
=========================================================================================================
  Module      : グループ追加モーダルパーツ(_ModalAddGroup.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@model w2.Cms.Manager.Input.FeatureImageGroupInput

<script type="text/javascript">
	function group_add_click() {
		console.log("group_add_click()");
		group_add('form-list-group-name');
		modal.close();
	}
</script>
<div class="modal-content-hide">
	<!-- グループ作成モーダル -->
	<div id="modal-list-group-add">
		<p class="modal-inner-ttl">グループを作成</p>
		<div class="modal-inner-change-group">
			<div class="form-element-group form-element-group-horizontal">
				<div class="form-element-group-title">
					<label for="form-list-group-name">グループ名</label>
				</div>
				<div class="form-element-group-content">
					@Html.TextBoxFor(model => model.GroupName, new
					{
						Name = "Input.GroupName",
						placeholder = "グループ名",
						id = "form-list-group-name",
						@class = "w90"
					})
				</div>
			</div>
			<div class="modal-footer-action">
				<input type="button" class="btn btn-sub btn-size-m" onclick="modal.close();" value="キャンセル">
				<input type="button" class="btn btn-main btn-size-m" onclick="group_add_click()" value="作成する">
			</div>
		</div>
	</div>
</div>