<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="w2.Commerce.Batch.ExportCriteoDatas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <w2.Commerce.Batch.ExportCriteoDatas.Properties.Settings>
            <setting name="SqlConnection" serializeAs="String">
                <value>server=w2DB1;database=R5044_Kagome.Develop;uid=sa;pwd=w2Sa</value>
            </setting>
            <setting name="Application_Name" serializeAs="String">
                <value>w2.Commerce.Batch.ExportCriteoDatas</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>CriteoData.csv</value>
            </setting>
            <setting name="FileUploadDirPath" serializeAs="String">
                <value>C:\Logs\R5044_Kagome.Develop\w2.Commerce.Batch.ExportCriteoDatas\Upload\</value>
            </setting>
            <setting name="Directory_LogFilePath" serializeAs="String">
                <value>C:\Logs\R5044_Kagome.Develop\w2.Commerce.Batch.ExportCriteoDatas\</value>
            </setting>
            <setting name="ProductPage" serializeAs="String">
                <value>Form/Product/ProductDetail.aspx</value>
            </setting>
            <setting name="ImageRoot" serializeAs="String">
                <value>Contents/ProductImages/0/</value>
            </setting>
            <setting name="SiteRoot" serializeAs="String">
                <value>http://localhost/R5044_Kagome.Develop/Web/w2.Commerce.Front/</value>
            </setting>
            <setting name="MailTitle" serializeAs="String">
                <value>"Criteo商品フィード出力完了"</value>
            </setting>
            <setting name="MailFrom" serializeAs="String">
                <value>bh@w2s.xyz</value>
            </setting>
            <setting name="MailTo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>bh@w2s.xyz</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MailCc" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>bh@w2s.xyz</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MailBcc" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>bh@w2s.xyz</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConfigFileDirPath" serializeAs="String">
                <value>C:\inetpub\wwwroot\R5044_Kagome.Develop\Commons\w2.CustomerResources\</value>
            </setting>
            <setting name="Server_Smtp_Settings" serializeAs="String">
                <value>192.168.100.241,25,Normal,,110,Apop,,</value>
            </setting>
        </w2.Commerce.Batch.ExportCriteoDatas.Properties.Settings>
    </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
