<?xml version="1.0" encoding="utf-8" ?>
<!--
=========================================================================================================
  Module      : メニュー定義XML(Menu.xml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2009 All Rights Reserved.
=========================================================================================================
-->
<Menu>
  <!--
  【function要素について】
    function要素権限の有効無効は、内部的にはビット演算で計算されるため、
    1,2,4,8,16,32,64と、2の倍数で登録する必要があります。
    DBの「function_level」には選択されたfunctionのvalueの合計が登録されます。
    
    例）w2_MenuAuthority.function_level = 6 の場合
        functionのvalueが「2」と「4」のfunctionに権限が与えられている事となります。
  -->
  <lmenu name="サポート＆サービス" icon_css="icon-info" option="support" key="support">
    <smenu name="サポートサイト" top="SupportInformation.aspx" path="Form/Support/" option="support" />
  </lmenu>
  <lmenu name="クーポン管理" icon_css="icon-coupon" option="coupon" key="coupon">
    <smenu name="ユーザークーポン情報" top="UserList.aspx" path="Form/UserCoupon/">
      <function value="1" text="ユーザクーポンダウンロード"></function>
    </smenu>
    <smenu name="クーポン設定" top="CouponList.aspx" path="Form/Coupon/">
      <function value="1" text="クーポンダウンロード"></function>
    </smenu>
    <smenu name="クーポン推移レポート" top="CouponTransitionReportList.aspx" path="Form/CouponTransitionReport/"></smenu>
    <smenu name="クーポン発行スケジュール" top="CouponScheduleList.aspx" path="Form/CouponSchedule/"></smenu>
  </lmenu>
  <lmenu name="ポイント管理" icon_css="icon-point" option="point" key="point">
    <smenu name="ユーザーポイント情報" top="UserPointList.aspx" path="Form/UserPoint/">
      <function value="1" text="ユーザポイントダウンロード"></function>
      <function value="2" text="ユーザポイント(詳細)ダウンロード"></function>
    </smenu>
    <smenu name="基本ルール設定" top="PointRuleList.aspx" path="Form/PointRule/"></smenu>
    <smenu name="キャンペーン設定" top="PointRuleCampaignList.aspx" path="Form/PointRuleCampaign/"></smenu>
    <smenu name="ポイント最新レポート" top="PointReportList.aspx" path="Form/PointReport/"></smenu>
    <smenu name="ポイント推移レポート" top="PointTransitionReportList.aspx" path="Form/PointTransitionReport/"></smenu>
    <smenu name="ポイントルールスケジュール" top="PointRuleScheduleList.aspx" path="Form/PointRuleSchedule/"></smenu>
  </lmenu>
  <lmenu name="ターゲットリスト管理" icon_css="icon-user" key="user" option="targetlist_setting">
    <smenu name="ターゲットリスト情報" top="TargetListList.aspx" path="Form/TargetList/" >
      <function value="1" text="ターゲットリストダウンロード"></function>
    </smenu>
    <smenu name="ターゲットリストマージ" top="TargetListMerge.aspx" path="Form/TargetListMerge/" ></smenu>
  </lmenu>
  <lmenu name="メール配信管理" icon_css="icon-mail" option="mail" key="mail">
    <smenu name="メール配信設定" top="MailDistSettingList.aspx" path="Form/MailDistSetting/"></smenu>
    <smenu name="メール配信文章設定" top="MailDistTextList.aspx" path="Form/MailDistText/"></smenu>
    <smenu name="メールクリックレポート" top="MailClickReportList.aspx" path="Form/MailClickReport/"></smenu>
  </lmenu>
  <lmenu name="会員ランク管理" icon_css="icon-user-ranking" key="user-ranking" option="memberrank">
    <smenu name="会員ランク設定" top="MemberRankList.aspx" path="Form/MemberRank/" option="memberrank" ></smenu>
    <smenu name="会員ランク変動ルール設定" top="MemberRankRuleList.aspx" path="Form/MemberRankRule/" option="memberrankrulelist" />
    <smenu name="会員ランク更新履歴" top="UserMemberRankHistoryList.aspx" path="Form/UserMemberRank/" option="usermemberrankhistorylist" />
  </lmenu>
  <lmenu name="タグ管理" icon_css="icon-affiliate" option="multipurpose_affiliate" key="affiliate">
    <smenu name="タグ閲覧権限" top="TagAuthorityRegister.aspx" path="Form/TagAuthority/" option="multipurpose_affiliate" />
    <smenu name="アフィリエイトレポート" top="AffiliateReportList.aspx" path="Form/AffiliateReport/" option="multipurpose_affiliate" />
  </lmenu>
  <lmenu name="広告管理" icon_css="icon-ad" option="affiliate" key="ad">
    <smenu name="広告コード設定" top="AdvertisementCodeList.aspx" path="Form/AdvertisementCode/" option="affiliate">
      <function value="1" text="広告コード設定マスタダウンロード"></function>
      <function value="2" text="広告媒体区分マスタダウンロード"></function>
    </smenu>
    <smenu name="広告コード閲覧権限" top="AdvertisementCodeAuthorityRegister.aspx" path="Form/AdvertisementCodeAuthority/" option="affiliate"></smenu>
    <smenu name="広告コードレポート" top="AdvertisementCodeReportList.aspx" path="Form/AdvertisementCodeReport/" option="affiliate"></smenu>
  </lmenu>
  <lmenu name="基本分析レポート" icon_css="icon-analysis" key="analysis">
    <smenu name="アクセスレポート" top="AccessReportList.aspx" path="Form/AccessReport/"></smenu>
    <smenu name="アクセスランキング" top="AccessRankingList.aspx" path="Form/AccessRanking/"></smenu>
    <smenu name="ユーザー状況レポート" top="UserConditionReportList.aspx" path="Form/UserConditionReport/"></smenu>
    <smenu name="ユーザー区分レポート" top="UserKbnReportList.aspx" path="Form/UserKbnReport/"></smenu>
    <smenu name="CPMレポート" top="CpmReportList.aspx" path="Form/CpmReport/" option="cpm"></smenu>
    <smenu name="レコメンドレポート" top="RecommendReportTableList.aspx" path="Form/RecommendReport/" option="recommend_report"></smenu>
    <smenu name="商品ランキング" top="ProductRankingList.aspx" path="Form/ProductRanking/"></smenu>
    <smenu name="購買区分レポート" top="OrderKbnReportList.aspx" path="Form/OrderKbnReport/"></smenu>
    <smenu name="定期区分レポート" top="FixedPurchaseKbnReportList.aspx" path="Form/FixedPurchaseKbnReport/" option="fixedpurchase"></smenu>
    <smenu name="定期回数別レポート" top="OrderRepeatReport.aspx" path="Form/OrderRepeatReport/"></smenu>
    <smenu name="定期継続分析レポート" top="FixedPurchaseRepeatAnalysisReport.aspx" path="Form/FixedPurchaseRepeatAnalysisReport/" option="fixedpurchase"></smenu>
    <smenu name="定期売上予測レポート" top="FixedPurchaseForecastReport.aspx" path="Form/FixedPurchaseForecastReport/" option="fixedpurchase_forecast"></smenu>
    <smenu name="日別出荷予測レポート" top="ShipmentForecastByDays.aspx" path="Form/ShipmentForecastByDays/" option="shipment_forecast_report"></smenu>
    <smenu name="売上状況レポート" top="OrderConditionReportList.aspx" path="Form/OrderConditionReport/"></smenu>
    <smenu name="レコメンドレポート" top="SilvereggAigentReport.aspx" path="Form/SilvereggAigentReport/" option="recommend"></smenu>
  </lmenu>
  <lmenu name="データ管理"  icon_css="icon-data" key="data">
    <smenu name="マスタアップロード" top="MasterImportList.aspx" path="Form/MasterImport/" option="affiliate" />
    <smenu name="マスタダウンロード設定" top="MasterExportSettingRegister.aspx" path="Form/MasterExportSetting/" />
  </lmenu>
  <lmenu name="オペレータ管理" icon_css="icon-operator" key="operator">
    <smenu name="オペレータ情報" top="OperatorList.aspx" path="Form/Operator/"></smenu>
    <smenu name="パスワード変更" top="OperatorPasswordChangeInput.aspx" path="Form/OperatorPasswordChange/"></smenu>
    <smenu name="メニュー権限設定" top="MenuAuthorityList.aspx" path="Form/MenuAuthority/"></smenu>
  </lmenu>

</Menu>
