<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <!-- 開発環境は認証はずす -->
      <!-- <authentication mode="Windows" /> -->
      <authentication mode="None" />
      <!--
      <authorization>
        <deny users="?" />
      </authorization>
      -->
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <namespaces>
          <!-- namespace設定初期化（上の階層にあるWeb.Configの継承をクリア） -->
          <clear />
          <add namespace="System" />
          <add namespace="System.Collections" />
          <add namespace="System.Collections.Specialized" />
          <add namespace="System.Configuration" />
          <add namespace="System.Text" />
          <add namespace="System.Text.RegularExpressions" />
          <add namespace="System.Web" />
          <add namespace="System.Web.Caching" />
          <add namespace="System.Web.SessionState" />
          <add namespace="System.Web.Security" />
          <add namespace="System.Web.Profile" />
          <add namespace="System.Web.UI" />
          <add namespace="System.Web.UI.WebControls" />
          <add namespace="System.Web.UI.WebControls.WebParts" />
          <add namespace="System.Web.UI.HtmlControls" />
        </namespaces>
      </pages>
    </system.web>
  <connectionStrings>
    <!--===============================================================================-->
    <!-- w2Database設定 -->
    <!-- v5のWebConfigの定義と同じもの -->
    <!-- 最終的にはv5のWebConfigが使われるのでココの定義はいらない -->
    <!--===============================================================================-->
    <add name="w2Database" providerName="System.Data.SqlClient" connectionString="server=w2DB1;database=P0011_Intercomv5.3;uid=sa;pwd=w2Sa"/>
  </connectionStrings>
  <appSettings>
    <!-- 受領データ用のログフォルダのパス -->
    <add key="ReceiveDataLogDir" value="C:\WebServiceTest"/>
    <!-- 処理エラー時のデータ用のログフォルダのパス -->
    <add key="ErrorCsvLogDir" value="C:\WebServiceTest\ErrorData"/>
    <!-- SQLXMLファイルのパス -->
    <add key="SqlFilePath" value="C:\inetpub\wwwroot\Solutions\P0011_Intercomv5.3\Project\P0011_Intercom\w2.Plugin.P0011_Intercom.WebService\XML\SqlSettings.xml" />
    <!-- 暗号まわり -->
    <add key="key" value="1BuFCPuuWVB3FzNObp1ZQQ==" />
    <add key="iv" value="kQRO3Z/0Ic04Si1BEGUpBw==" />
  </appSettings>
</configuration>
