#user-hide-search-field-slide-toggle {
	background: none!important;
	padding: 0!important;
	margin: 10px 0 10px 0 !important;
	border:0;
	border-radius:0;
	border-color:none;
	/*optional*/
	font-family: 'Lato', 'Noto Sans Japanese', "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
	font:bold;
	font-size: larger;
	/*input has OS specific font-family*/
	color: #069;
	cursor: pointer;
}
#fp-hide-search-field-slide-toggle {
	background: none!important;
	padding: 0!important;
	margin: 10px 0 10px 0 !important;
	border:0;
	border-radius:0;
	border-color:none;
	/*optional*/
	font-family: 'Lato', 'Noto Sans Japanese', "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
	font:bold;
	font-size: larger;
	/*input has OS specific font-family*/
	color: #069;
	cursor: pointer;
}
#product-hide-search-field-slide-toggle {
	background: none!important;
	padding: 0!important;
	margin: 10px 0 10px 0 !important;
	border:0;
	border-radius:0;
	border-color:none;
	/*optional*/
	font-family: 'Lato', 'Noto Sans Japanese', "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
	font:bold;
	font-size: larger;
	/*input has OS specific font-family*/
	color: #069;
	cursor: pointer;
}
#order-hide-search-field-slide-toggle {
	background: none!important;
	padding: 0!important;
	margin: 10px 0 10px 0 !important;
	border:0;
	border-radius:0;
	border-color:none;
	/*optional*/
	font-family: 'Lato', 'Noto Sans Japanese', "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
	font:bold medium;
	font-size: larger;
	/*input has OS specific font-family*/
	color: #069;
	cursor: pointer;
}
.icon-arrow-down {
	font-family: 'Lato', 'Noto Sans Japanese', "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
	/*input has OS specific font-family*/
	color: #069;
	cursor: pointer;
}