@charset "UTF-8";
/*=========================================================================
  各種ボックス使用スタイル
 =========================================================================*/
/*-------------------------------------------------
  ボックス：枠の色
 -------------------------------------------------*/
/* 通常ボックス共通：枠の色 */
/* line 11, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.box_border {
	background-color: #d58144;
	/* ☆ */
}

/* エラーボックス：枠の色 */
/* line 16, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.error_box_border {
	background-color: #ff0000;
}

/*-------------------------------------------------
  ボックス：背景
 -------------------------------------------------*/
/* 検索ボックス・背景 */
/* line 24, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.search_box_bg {
	background-color: #ffe7d4;
	/* ☆ */
}

/* 一覧ボックス・背景 */
/* line 29, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_box_bg {
	background-color: #ffffff;
}

/* 情報ボックス：背景の色 */
/* line 33, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.info_box_bg {
	background-color: #fff1d9;
	/* ☆ */
}

/* エラーボックス：背景の色 */
/* line 38, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.error_box_bg {
	background-color: #ffffff;
}

/*-------------------------------------------------
  テーブル：リストセレクタ
 -------------------------------------------------*/
/* 一覧リスト表示色１ */
/* line 46, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_item_bg1 {
	background-color: #f8f8f8;
}

/* 一覧リスト表示色２ */
/* line 50, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_item_bg2 {
	background-color: #fff1d9;
	/* ☆ */
}

/* 一覧リスト表示色３ */
/* line 55, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_item_bg3 {
	background-color: #d8d8d8;
	/* ☆ */
}

/* 一覧リスト表示色・マウスオーバー */
/* line 60, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_item_bg_over {
	background-color: #ffD390;
	/* ☆ */
	cursor: hand;
	/* IE6 より以前のバージョン用 */
	cursor: pointer;
	/* Netscape、Firefox、IE6以降用 */
}

/* 一覧リスト表示色・マウスクリック */
/* line 69, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_item_bg_click {
	background-color: #ff9350;
	/* ☆ */
}

/* 一覧リスト表示色・成功 */
/* line 74, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_item_bg_success {
	background-color: #e0ffff;
}

/* 一覧リスト表示色・失敗 */
/* line 78, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_item_bg_error {
	background-color: #ffcccc;
}

/* 一覧リスト表示色・警告 */
/* line 82, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_item_bg_warning {
	background-color: #ffffcc;
}

/*=========================================================================
  コンテンツ管理
 =========================================================================*/
/* line 89, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.selected_link {
	background-color: #CCDDFF;
}

/* line 92, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.item_bottom_line {
	border-bottom: 1px #bababa solid;
}

/* コンテンツ表示テーブル */
/* line 97, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.tree_table {
	background-color: #f8f8f8;
}

/* line 100, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.tree_table td {
	color: #505050;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}

/* line 110, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.list_item_bg_selected {
	background-color: #ffD390;
	/* ☆ */
}

/*=========================================================================
  モバイル関連
 =========================================================================*/
/* テーブル・モバイル用見出し背景 */
/* line 118, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.mobile_title_bg {
	background-color: #cfcfcf;
}

/* ＸＸテーブル・モバイル用入力項目背景 */
/* line 122, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
.mobile_item_bg {
	background-color: #d8d8d8;
}

/*=========================================================================
  サポートサイト
 =========================================================================*/
/* line 131, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support {
}

#support #searchbox {
	border: 1px solid #d58144;
	margin: 10px 0px 0px 0px;
	padding: 1px 0px 0px 15px;
	background-color: #fff1d9;
	width: 742px;
	height: 48px;
}

/* line 139, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #searchbox #search_text {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent none repeat scroll 0 0;
	background-color: #fff;
	border: 0 none;
	color: #c0c0c0;
	font-size: 25px;
	width: 680px;
}

/* line 150, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #searchbox #searchbutton {
	position: relative;
	top: 5px;
}

/* line 155, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #contents {
	margin: 0px 10px 0px 10px;
}

/* line 158, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #contents dl {
	width: 350px;
	padding: 0px 10px 10px 10px;
}

/* line 162, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #contents dt {
	font-weight: bold;
	border-bottom: solid 1px #cccccc;
	color: #505050;
	margin-top: 1em;
	line-height: 1.1em;
}

/* line 169, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #contents dd {
	border: solid 1px #cccccc;
	padding: 1em;
	margin-left: 0em;
	margin-top: 0.5em;
	background-color: #fff;
}

/* line 176, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #contents fieldset {
	border: 1px solid #d58144;
	margin: 10px 0px 10px 0px;
	background-color: #fff1d9;
	width: 365px;
	float: left;
}

/* line 183, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #contents fieldset.right {
	float: right;
}

/* line 186, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #contents fieldset legend {
	margin-left: 12px;
	font-size: 14px;
	font-family: メイリオ;
	color: #be5a32;
	font-weight: 600;
}

/* line 193, ../../develop/scss/_w2cManager/Css/w2style_ec.scss */
#support #contents .loading {
	text-align: center;
	vertical-align: middle;
	width: 350px;
	margin: 50px 0px 50px 0px;
}

/*# sourceMappingURL=w2style_ec.css.map */
