@charset "UTF-8";
/*

*/
/*
☆：PKGにより変化
*/
/*=========================================================================
  基本タグ
 =========================================================================*/
#header .toggle-global-menu {
	display: none;
}

#header #iconUser {
	display: none;
}

#header .header-tools p{
	display: inline-block;
}

.dashboard-hide-toggle-button {
	visibility: hidden;
}

 @media screen and (max-width: 1024px) {
	 /*---- Css Login -----*/
	.login {
		background: url(../Images/Login/login_bg.png) 50% 50% no-repeat;
		background-size: cover;
		height: 100vh;
		width: 100%;
		min-width: 500px;
		min-height: 500px;
		position: relative;
	}

	.login .login-box {
		top: 22vw;
		height: 485px;
	}

	.login .login-package-title .package-logo {
		margin: -276px auto 53px;
		text-align: center;
	}

	.login .login-package-title .package-logo img {
		height: 100px;
		padding-bottom: 15px;
		box-shadow: none;
	}

	.login .login-input-box {
		width: 845px;
	}

	.login .login-input-box .login-hed {
		font-size: 51px;
		margin-bottom: 40px;
	}

	.login .login-input-box .login-form-input {
		width: 740px;
		margin: 27px auto 1vw;
	}

	.login .login-input-box .login-form-input label span {
		top: 24px;
		left: 20px;
		font-size: 31px;
	}

	.login .login-input-box .login-form-input input {
		height: 83px;
		padding: 7px 10px 7px 75px;
	}

	input[type="text"], input[type="password"] {
		font-size: 14px;
	}

	.login .login-input-box .login-form-btn {
		text-align: center;
		padding-top: 2vw;
	}

	.login .login-input-box .login-form-btn input {
		width: 573px !important;
		font-size: 36px;
		padding: 16px;
	}

	.login .copyright {
		margin-top: 40px;
		font-size: 36px
	}

	.notice {
		font-size: 28px;
	}
/*---- Css Login -----*/

/*---- Css Header -----*/
	#header .header-tools p{
		display: none;
	}

	#header .header-tools a{
		cursor: default;
	}

	#header {
		min-width: 0px;
	}

	.sidemenu-btn-slimtoggle {
		display: none;
	}
	.sidemenu-btns-alltoggle {
		display: none;
	}

	#header .header-tools #iconUser {
		color: white;
		font-size: 35px;
		margin-top: 15px;
		margin-left: -15px;
		vertical-align: middle;
		display: inline-block;
		width: 33px;
		position:absolute;
	}

	.scroll #header .header-tools #iconUser {
		margin-top: 7px;
		font-size: 26px;
	}

	.overlay .icon-close {
		color: black;
		font-size: 27px;
		margin-top: 15px;
		vertical-align: middle;
		display: inline-block;
		width: 76px;
		margin-left: 35%;
		margin-left: 91%;
	}

	.scroll .icon-close {
		margin-top: 7px;
		font-size: 26px;
	}

	#header .toggle-global-menu {
		display: inline-block;
		height: 65px;
		vertical-align: middle;
		float: left;
	}

	#header .header-tools {
		margin-right: 7.5%;
	}

	#header .toggle-global-menu img {
		height: 65px;
		display: block;
		vertical-align: middle;
	}

  .scroll #header .toggle-global-menu img {
    -webkit-transform: translate(-20%,-20%) scale(0.6);
    -moz-transform: translate(-20%,-20%) scale(0.6);
    transform: translate(-20%,-20%) scale(0.6);
    margin-top: -1%;
    margin-left: 5%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

	#header .btn-header-notice {
		padding: 6px 3px;
		border-radius: 35px;
	}

	#header .btn-header-notice .icon {
		color: #ea7236;
		font-size: 25px;
		margin-right: 5px;
		position: relative;
		margin-left: 5px;
		top: 0px;
	}

  #header .package-logo {
    display: inline-block;
    height: 70px;
    margin: 0px 0 0 0px;
    vertical-align: middle;
    float: left;
  }

  .scroll #header .package-logo {
    position: fixed;
    float: left;
    margin-left: 50px;
    transform: translateX(-50%);
  }

	.main-contents {
		margin-left: 0;
		min-width: 850px;
	}

	.sidemenu_slim .main-contents {
		margin-left: 0px;
	}

	.sidemenu-wrapper {
		display: none;
		height: 100%;
		left: 0;
		width: 90%;
		padding-top: 9.5%;
	}

	.simplebar-content-wrapper {
		max-height: 96%;
	}

	.header-notice {
		padding-right: 30px !important;
	}

	.modal.modal-size-l-option .modal-content-wrapper {
		width: 750px;
	}
/*---- Css Header -----*/

/*---- Css Menu -----*/
	.sidemenu li .icon-plus {
		float: right;
		padding-top: 5px;
	}

	.sidemenu {
		width: 100%;
		height: 100%
	}

	.sidemenu .sidemenu-list {
		width: 100%;
	}

	.sidemenu .simplebar-content > .sidemenu-list::after {
		width: 100%
	}

	.sidemenu .sidemenu-list .sidemenu-list-label a {
		font-size: 25px;
	}

	.overlay {
		position: fixed;
		width: 100%;
		height: 7.5%;
		z-index: 1000;
		top: 0px;
		left: 0px;
		opacity: 1;
		filter: alpha(opacity=50);
	}
	.scroll .overlay {
		position: fixed;
		width: 100%;
		height: 4.5%;
		z-index: 1000;
		top: 0px;
		left: 0px;
		opacity: 1;
		filter: alpha(opacity=50);
	}

	.overlay-contents {
		background-color:#EFEFEF;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1000;
		top: 65px;
		left: 0px;
		opacity: .5;
		filter: alpha(opacity=50);
		display: none
	}
	.scroll .overlay-contents {
		background-color:#EFEFEF;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1000;
		top: 40px;
		left: 0px;
		opacity: 0.5;
		filter: alpha(opacity=50);
		display: none
	}

	.content {
		display: block;
	}

	.tabs-packages-wrapper {
		position: absolute;
		z-index: 99;
		display:none;
	}

	.tabs-packages-wrapper .tabs-packages {
		overflow: hidden;
		width: 90%;
		top: 0;
		background-color: #A9A9A9;
		max-height: 67px;
	}

	.tabs-packages-wrapper .tabs-packages li {
		float: left;
		width: 22%;
	}

	.tabs-packages-wrapper .tabs-packages li a {
		width: auto;
		height: 69px;
		border-top: 4px solid #000;
		border-left: none;
	}

	.tabs-packages-wrapper .tabs-packages li .label {
		transform: rotate(0deg) translate(0px, 17px);
		width: 80px;
		font-size: 25px;
		display: inline-block;
	}

	.scroll .tabs-packages-wrapper .tabs-packages {
		top: 0px;
	}
/*---- Css Menu -----*/

/*---- Css Dashboard -----*/
	.dashboard-section-header {
		display: inline-block;
		margin-top: 4vw;
		margin-bottom: 2vw;
	}

	.dashboard-section-title {
		width: 91%;
		float: left;
	}

	.dashboard-section-header-period {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.dashboard-ranking-header {
		display: inherit;
	}

	.dashboard-ranking-header-switch {
		justify-content: center;
		margin-top: 10px;
	}

	.main-contents-inner {
		margin: 10px 10px 40px 10px;
	}

	table {
		table-layout: fixed;
		width: 100% !important;
	}

	.dashboard-ranking-table {
		table-layout: auto;
	}

	.main-contents {
		min-width: auto;
		padding: 67px 5px 0 0;
	}

	.box_border {
		width: auto;
	}

	.icon-popup-detail-sp, .rate {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.btn-smartphone {
		height: 24px;
	}

	.adv-code-media, .product-item-name, .variation-item-name, .variation-item-id {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100px;
	}

	.order-quantity, .order-price {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100px;
	}

	.product-id, .sale-price, .variation-id {
		word-wrap: break-word;
		white-space: pre-wrap;
		max-width: 100px;
	}

	.sale-quantity {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100px;
	}

	.dashboard-status-row-order-status-slider, .dashboard-status-row-incident-status-slider {
		width: 100%;
		height: 180px;
		display: flexbox;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		scroll-behavior: smooth;
	}

	.dashboard-status-row-order-status-slide, .dashboard-status-row-incident-status-slide {
		flex-shrink: 0;
		height: 80%;
		width: 50%;
	}

	.image-left-nav {
		font-size: 35px;
		background-color: white;
		opacity: 0.65;
		transition: 0.3s;
		position: absolute;
		left: 0;
		z-index: 4;
		height: 178px;
		border:hidden;
	}

	.image-right-nav {
		font-size: 35px;
		background-color: white;
		opacity: 0.65;
		transition: 0.3s;
		position: absolute;
		right: 0;
		z-index: 4;
		height: 178px;
		border:hidden;
	}

	.image-left-nav:hover,
	.image-right-nav:hover {
		opacity: 0.7;
	}

	.dashboard-update { 
		font-size: 2vw !important;
		margin-left: 3vw !important;
		padding-top: 4.3vw !important;
	}
	
	.dashboard-section-title {
		width: 89%;
		float: left;
		font-size: 3vw;
	}

	.dashboard-section-header-period {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.dashboard-ranking-header {
		display: inherit;
	}

	.dashboard-ranking-header-switch {
		justify-content: center;
		margin-top: 10px;
	}

	.btn-size-m,
	input[type="submit"].btn-size-m,
	input[type="button"].btn-size-m,
	a.btn-size-m {
		font-size: 2vw;
		height: 6vw;
		line-height: 5vw;
		white-space: nowrap;
		padding: 0;
		margin: 0 0 0 -4vw !important;
	}

	.dashboard-goal-progress-current-status-par-label {
		font-size: 3vw;
		font-weight: bold;
	}

	.dashboard-goal-progress-current-status-par-unit {
		font-size: 2.5vw;
	}

	.dashboard-goal-progress-current-status-value-label {
		font-size: 2vw;
		font-weight: bold;
	}

	.dashboard-goal-progress-current-status-value-unit {
		font-size: 2vw;
	}

	.dashboard-goal-progress-goal {
		min-width: 25vw;
		padding-left: 2vw;
		box-sizing: border-box;
	}

	.dashboard-goal-progress-goal-title {
		font-size: 2vw;
	}

	.dashboard-goal-progress-goal-value-label {
		font-size: 3vw;
		font-weight: bold;
	}

	.dashboard-goal-progress-goal-value-unit {
		font-size: 2vw;
	}

	.dashboard-goal-progress-bar {
		flex-grow: 1;
		background: #e1e1e1;
		border-radius: 1vw;
		height: 9vw;
		position: relative;
	}

	.dashboard-goal-progress-notes-title {
		margin-right: 7vw;
		font-size: 2vw;
		display: unset;
	}

	.dashboard-goal-progress-notes-item {
		margin-right: 12vw;
		display: inline-flex;
		align-items: center;
		font-size: 2vw;
	}

	.dashboard-goal-progress-notes-item-icon {
		width: 2vw;
		height: 2vw;
		border-radius: 20px;
		display: table-cell;
	}

	.dashboard-section-toggle-btn {
		margin-left: 5vw;
		margin-top: 5vw;
		color: #7e7e7e;
		display: initial;
		align-items: center;
		justify-content: center;
		font-size: 2vw;
	}

	.dashboard-goal-progress-notes {
		justify-content: space-between;
	}

	.dashboard-goal-progress-current-status.is-position-right {
		text-align: left;
		color: #000;
		padding: 1.5vw 1vw 1vw 1vw;
	}

	.dashboard-goal-progress-current-status-par {
		white-space: nowrap;
		margin-bottom: -3.5px !important;
		height: 3.5vw;
	}

	table .page-title {
		margin-bottom: 0px !important;
		font-size: 5vw;
	}
	
	.dashboard-goal-progress {
		margin-bottom: 2vw  !important;
	}

	.dashboard-goal-progress-bar-bar {
		height: 9vw;
	}

	.dashboard-goal-progress-current-status {
		padding: 0.5vw 1vw 1vw 1vw;
	}

	.modal.modal-size-m .modal-content-wrapper {
		width: 95%;
	}

	#support #searchbox #search_text {
		width: auto;
	}

	.disp-max-content:hover {
		overflow: visible;
	}

	.dashboard-status-box-title {
		height: 50px;
	}

	.dashboard-ranking-table .affiliate-name::before {
		content: '(';
	}

	.dashboard-ranking-table .affiliate-name::after {
		content: ')';
	}

	.dashboard-status {
		flex-direction: column;
		align-items: center;
	}

	.dashboard-status-box {
		width: calc(100% - 15px);
	}

	.dashboard-status-text {
		align-items: baseline !important;
	}

	.adv-code-name, .product-name, .variation-name {
		word-wrap: break-word;
		white-space: pre-wrap;
	}

	.dashboard-status-box:hover {
		border: 1px solid #cdcdcd;
	}

	.dashboard-status-box-is-alert:hover {
		border: 1px solid #fe9090 !important;
	}

	.dashboard-status-row-box:hover::after {
		border: none;
	}

	.dashboard-section-title-sale-progress {
		width: 73%;
	}

	.dashboard-section-toggle-btn-registered-user,
	.dashboard-section-toggle-btn-order-count,
	.dashboard-section-toggle-btn-order-amount {
		display: initial !important;
		float: right;
		margin-top: 1vw;
	}

    .dashboard-box-mp {
        width: calc(100% - 15px);
        height: auto;
        margin-right: 15px;
        margin-bottom: 15px;
        color: #333 !important;
        text-decoration: none !important;
        border-color: #cdcdcd;
        color:#3a6ba6;
        background: #F2F2F2;
        display: inline-block;
    }
	/*---- Css Dashboard -----*/

	/*---- Css Store Pickup Order List -----*/
	.search_table {
		display: inline-block !important;
	}

	.table_store_pickup_order_list {
		table-layout: inherit !important;
	}

  .list_pager .list_paging-link {
    width: 60%;
  }
	/*---- Css Store Pickup Order List -----*/
}

@media screen and (min-width: 1025px) {
	.main-contents {
		opacity: 1 !important;
	}

	#header {
		opacity: 1 !important;
		z-index: 100 !important;
	}

	.sidemenu li .icon-plus {
		display: none;
	}

	.sidemenu_slim .sidemenu li .icon-plus {
		display: none;
	}

	.overlay {
		display: none !important;
	}

	.sidemenu-wrapper {
		min-height: 100%;
	}

	.tabs-packages-wrapper {
		display: inline;
	}

	.modal-bg {
		min-height: 150vh;
	}
}

@media screen and (max-width: 1023px) and (min-width: 331px) {
	.dashboard-status-row-box-icon {
		width: 75px;
		position: absolute;
		top: -35px;
		left: 50%;
		margin-left: -35px;
		background: #8b8b8b;
		border-radius: 100px;
		z-index: 2;
	}

	.dashboard-transition-report {
		margin-right: 0;
	}

	.dashboard-latest-report {
		display: block;
	}

	.dashboard-hide-toggle-button {
		visibility:visible;
	}

	.modal {
		height: 100%;
	}

	.dashboard-transition-report-box {
		width: 100%;
		margin-right: 0;
	}

	.modal.modal-size-m .modal-content-wrapper {
		width: 95%;
	}

	.dashboard-latest-report-box.is-type-user,
	.dashboard-latest-report-box.is-type-price {
		margin-right: 0;
	}

	.dashboard-title-button-inline {
		justify-content: center;
		display: flex;
		flex: 1;
		transform: translateX(10px);
	}

	.dashboard-change-space-title-button {
		text-align: center;
		justify-content: center;
		display: flex;
	}

	.dashboard-latest-report-title {
		justify-content: center;
		display: flex;
		flex: 1;
		transform: translateX(10px);
	}

	.dashboard-latest-report-box-breakdown-th {
		width: auto;
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-rate {
		width: auto;
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-table {
		max-width: 38%;
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-col .dashboard-latest-report-box-breakdown-table {
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-value {
		text-align: right;
		width: auto;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	#spRegisteredUserTotalCount,
	#spOrderAmountTotalAmount,
	#spOrderCountTotalCount {
		width: auto;
		overflow: hidden;
	}

	.modal-bg {
		min-height: 300vh;
	}

	.modal-header-close-btn {
		margin-right: 4.5%;
	}

	#dvOrderQuantity {
		max-width: inherit;
	}
}

@media screen and (max-width: 330px) and (min-width: 181px) {
	.dashboard-status-row-box-icon {
		width: 60px;
		position: absolute;
		top: -35px;
		left: 50%;
		margin-left: -30px;
		background: #8b8b8b;
		border-radius: 100px;
		z-index: 2;
	}

	.dashboard-transition-report {
		margin-right: 0;
	}

	.dashboard-latest-report {
		display: block;
	}

	.dashboard-hide-toggle-button {
		visibility:visible;
	}

	.dashboard-transition-report-box {
		width: 100%;
		margin-right: 0;
	}

	.modal.modal-size-m .modal-content-wrapper {
		width: 95%;
	}

	.dashboard-latest-report-box.is-type-user,
	.dashboard-latest-report-box.is-type-price {
		margin-right: 0;
	}

	.dashboard-title-button-inline {
		justify-content: center;
		display: flex;
		flex: 1;
		transform: translatex(10px);
	}

	.dashboard-change-space-title-button {
		text-align: center;
		justify-content: center;
		display: flex;
	}

	.dashboard-latest-report-title {
		justify-content: center;
		display: flex;
		flex: 1;
		transform: translatex(10px);
	}

	.dashboard-latest-report-box-breakdown-th {
		width: auto;
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-rate {
		width: auto;
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-table {
		max-width: 98%;
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-col .dashboard-latest-report-box-breakdown-table {
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-value {
		text-align: right;
		width: auto;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.modal {
		height: 100%;
	}

	.modal-header-close-btn {
		margin-right: 7.5%;
	}

	.modal-bg {
		min-height: 300vh;
	}

	.dashboard-latest-report-box-value,
	.user-latest-report-type-today {
		width: auto;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width: 180px) and (min-width: 0px) {
	.dashboard-status-row-box-icon {
		width: 55px;
		position: absolute;
		top: -35px;
		left: 50%;
		margin-left: -25px;
		background: #8b8b8b;
		border-radius: 100px;
		z-index: 2;
	}
	
	.dashboard-transition-report {
		margin-right: 0;
	}

	.dashboard-latest-report {
		display: block;
	}

	.dashboard-hide-toggle-button {
		visibility:visible;
	}

	.dashboard-transition-report-box {
		width: 100%;
		margin-right: 0;
	}

	.modal.modal-size-m .modal-content-wrapper {
		width: 95%;
	}

	.dashboard-latest-report-box.is-type-user,
	.dashboard-latest-report-box.is-type-price {
		margin-right: 0;
	}

	.dashboard-title-button-inline {
		justify-content: center;
		display: flex;
		flex: 1;
		transform: translateX(10px);
	}

	.dashboard-change-space-title-button {
		text-align: center;
		justify-content: center;
		display: flex;
	}

	.dashboard-latest-report-title {
		justify-content: center;
		display: flex;
		flex: 1;
		transform: translateX(10px);
	}

	.dashboard-latest-report-box-breakdown-th {
		width: auto;
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-rate {
		width: auto;
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-table {
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-col .dashboard-latest-report-box-breakdown-table {
		overflow: hidden;
	}

	.dashboard-latest-report-box-breakdown-value {
		text-align: right;
		width: auto;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.modal {
		height: 100%;
	}

	.modal-header-close-btn {
		margin-right: 7%;
	}

	.modal-bg {
		min-height: 600vh;
	}
	
	.dashboard-latest-report-box-value{
		width: auto;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.dashboard-report-notification {
		max-width: auto;
		width: auto;
		white-space: pre-wrap;
		text-overflow: ellipsis;
	}
}
