@charset "UTF-8";
/*

*/
/*
☆：PKGにより変化
*/
/*=========================================================================
  基本タグ
 =========================================================================*/
/* line 12, ../../develop/scss/_w2cManager/Css/w2style.scss */
* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* line 17, ../../develop/scss/_w2cManager/Css/w2style.scss */
body{
	color: #000000;
	font-size: 10pt;
	width: 100%;
	background-image: url(../Images/Common/bg.gif);
  background-repeat: repeat-x;
	background-color: #A9A9A9;
	margin: 0;
	padding: 0;
	font-family: "MS UI Gothic";
}

/* line 29, ../../develop/scss/_w2cManager/Css/w2style.scss */
input {
	font-size: 9pt;
	padding-top: 2px;
	padding-left: 2px;
}

/* line 35, ../../develop/scss/_w2cManager/Css/w2style.scss */
textarea {
	font-size: 9pt;
}

/* line 39, ../../develop/scss/_w2cManager/Css/w2style.scss */
select {
	border: solid 1px #999;
}

/* line 43, ../../develop/scss/_w2cManager/Css/w2style.scss */
p, div, table, h1, h2, h3, h4, h5, h6, ul, form {
	border-width: 0px;
	font-size: 100%;
}

/* line 48, ../../develop/scss/_w2cManager/Css/w2style.scss */
table {
	text-align: left;
}

/* line 52, ../../develop/scss/_w2cManager/Css/w2style.scss */
img {
	border: 0;
}

/* line 56, ../../develop/scss/_w2cManager/Css/w2style.scss */
pre {
	white-space: pre-wrap;
	/* CSS3 */
	white-space: -moz-pre-wrap;
	/* Mozilla */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* IE 5.5+ */
}

/* line 69, ../../develop/scss/_w2cManager/Css/w2style.scss */
.clr {
	clear: both;
}

/*-------------------------------------------------
  アンカータグ設定

 -------------------------------------------------*/
/* line 77, ../../develop/scss/_w2cManager/Css/w2style.scss */
a:link {
	color: #0864AA;
	text-decoration: underline;
}

/* line 81, ../../develop/scss/_w2cManager/Css/w2style.scss */
a:visited {
	color: #0864AA;
	text-decoration: underline;
}

/* line 85, ../../develop/scss/_w2cManager/Css/w2style.scss */
a:hover {
	color: #0A22CC;
}

/* line 88, ../../develop/scss/_w2cManager/Css/w2style.scss */
a:active {
	color: #CC0000;
}

/* line 91, ../../develop/scss/_w2cManager/Css/w2style.scss */
a.menu:link {
	color: #000000;
}

/* line 94, ../../develop/scss/_w2cManager/Css/w2style.scss */
a.menu:visited {
	color: #000000;
}

/* line 97, ../../develop/scss/_w2cManager/Css/w2style.scss */
a.menu:hover {
	color: #990000;
}

/* line 100, ../../develop/scss/_w2cManager/Css/w2style.scss */
a.menu:active {
	color: #000000;
}

/* line 103, ../../develop/scss/_w2cManager/Css/w2style.scss */
a.csmenuselected {
	background-color: #99ccff;
}

/* line 106, ../../develop/scss/_w2cManager/Css/w2style.scss */
td.csmenuselected {
	background-color: #99ccff;
}

/*a.menu
{
	background: url("Images/Directory/directory.gif") no-repeat 150% 50%;

}*/
/*=========================================================================
  ページ共通使用スタイル
 =========================================================================*/
/* 全ページ共通背景 */
/* line 120, ../../develop/scss/_w2cManager/Css/w2style.scss */
.main_bg {
	background-color: #ffffff;
}

/* 警告表示など */
/* line 125, ../../develop/scss/_w2cManager/Css/w2style.scss */
.notice {
	color: Red;
}

/* 情報表示 */
/* line 130, ../../develop/scss/_w2cManager/Css/w2style.scss */
.info {
	color: #505050;
}

/* ページャ */
/* line 135, ../../develop/scss/_w2cManager/Css/w2style.scss */
.list_pager td {
	color: #505050;
	font-size: 9pt;
	font-family: "MS UI Gothic";
	line-height: 100%;
}

/* 上部アクションボタン */
/* line 143, ../../develop/scss/_w2cManager/Css/w2style.scss */
.action_part_top {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 6px;
}

/* 中部アクションボタン(左寄せ) */
/* line 150, ../../develop/scss/_w2cManager/Css/w2style.scss */
.action_part_middle {
	text-align: left;
	margin-top: 6px;
	margin-bottom: 10px;
}

/* 下部アクションボタン */
/* line 157, ../../develop/scss/_w2cManager/Css/w2style.scss */
.action_part_bottom {
	text-align: right;
	margin-top: 6px;
	margin-bottom: 10px;
}

/* 一覧画面用アクションボタン配置 */
/* line 163, ../../develop/scss/_w2cManager/Css/w2style.scss */
.action_list_sp {
	text-align: right;
}

/* ポップアップアクションボタン */
/* line 168, ../../develop/scss/_w2cManager/Css/w2style.scss */
.action_popup_bottom {
	text-align: center;
	margin-bottom: 5px;
	margin-right: 16px;
}

/* リンクアクションボタン */
/* line 175, ../../develop/scss/_w2cManager/Css/w2style.scss */
.action_link {
	font-size: 11px;
}

/* XY方向スクロール可能(埋込タグにwidth,heightスタイルを埋め込む必要あり) */
/* line 180, ../../develop/scss/_w2cManager/Css/w2style.scss */
.xy_scrollable {
	overflow: auto;
}

/* X方向スクロール可能(埋込タグにwidthスタイルを埋め込む必要あり) */
/* line 185, ../../develop/scss/_w2cManager/Css/w2style.scss */
.x_scrollable {
	overflow-x: scroll;
}

/* Y方向スクロール可能(埋込タグにheightスタイルを埋め込む必要あり) */
/* line 190, ../../develop/scss/_w2cManager/Css/w2style.scss */
.y_scrollable {
	overflow-y: scroll;
}

/* line 194, ../../develop/scss/_w2cManager/Css/w2style.scss */
.marker_ps {
    display: inline-block;
    background: url(../Images/Common/marker.gif);
}

/* line 199, ../../develop/scss/_w2cManager/Css/w2style.scss */
.marker_y {
    display: inline-block;
    background: #FF0;
}

/* line 204, ../../develop/scss/_w2cManager/Css/w2style.scss */
.external_payment {
	color: #505050;
	font-size: 9pt;
	font-family: "MS UI Gothic";
	line-height: 100%;
}

/*=========================================================================
  ヘッダ使用スタイル
 =========================================================================*/
/* line 213, ../../develop/scss/_w2cManager/Css/w2style.scss */
 #header {
	width: 1020px;
	height: 90px;
  position: relative;
    top: 0;
    left: 0;
}

/* line 219, ../../develop/scss/_w2cManager/Css/w2style.scss */
#header .operatorName {
	position: absolute;
	right: 97px;
	top: 45px;
	font-size: 11px;
	width: 105px;
	height: 17px;
	overflow: hidden;
}

/* line 229, ../../develop/scss/_w2cManager/Css/w2style.scss */
#header .logout {
	position: absolute;
	right: 20px;
	top: 45px;
}

/* ログインユーザネーム */
/* line 236, ../../develop/scss/_w2cManager/Css/w2style.scss */
.login_user_name td {
	text-align: left;
	line-height: 120%;
	color: #505050;
	font-size: 9pt;
	font-family: "MS UI Gothic";
}

/*=========================================================================
  各種テーブル使用スタイル
 =========================================================================*/
/*-------------------------------------------------
  テーブル：テーブル設定

 -------------------------------------------------*/
/* 検索テーブル */
/* search_box */
/* line 253, ../../develop/scss/_w2cManager/Css/w2style.scss */
.search_table {
	background-color: #bababa;
}

/* line 256, ../../develop/scss/_w2cManager/Css/w2style.scss */
.search_table td {
	text-align: left;
	color: #505050;
	font-size: 9pt;
	font-family: "MS UI Gothic";
}

/* 一覧表示テーブル */
/* line 263, ../../develop/scss/_w2cManager/Css/w2style.scss */
.list_table {
	background-color: #bababa;
}

/* line 266, ../../develop/scss/_w2cManager/Css/w2style.scss */
.list_table td {
	color: #505050;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 1px;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}

/* line 276, ../../develop/scss/_w2cManager/Css/w2style.scss */
.url_link_border {
	border: 1px solid #b9b9b9;
	padding-left: 2px;
	padding-right: 1px;
	table-layout: fixed;
	font-family: "MS UI Gothic";
	word-break: break-all;
}

/* line 284, ../../develop/scss/_w2cManager/Css/w2style.scss */
.url_link {
	padding: 2px 3px 2px 3px;
	table-layout: fixed;
	font-family: "MS UI Gothic";
	word-break: break-all;
}

/* 詳細テーブル */
/* line 291, ../../develop/scss/_w2cManager/Css/w2style.scss */
.detail_table {
	background-color: #bababa;
}

/* line 294, ../../develop/scss/_w2cManager/Css/w2style.scss */
.detail_table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 2px;
	color: #505050;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}

/* 編集テーブル */
/* line 305, ../../develop/scss/_w2cManager/Css/w2style.scss */
.edit_table {
	background-color: #bababa;
}

/* line 308, ../../develop/scss/_w2cManager/Css/w2style.scss */
.edit_table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 2px;
	color: #505050;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}

/* 情報テーブル */
/* line 319, ../../develop/scss/_w2cManager/Css/w2style.scss */
.info_table {
	background-color: #bababa;
}

/* line 322, ../../develop/scss/_w2cManager/Css/w2style.scss */
.info_table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 2px;
	color: #505050;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}

/* エラーテーブル */
/* line 333, ../../develop/scss/_w2cManager/Css/w2style.scss */
.error_table {
	background-color: #bababa;
}

/* line 336, ../../develop/scss/_w2cManager/Css/w2style.scss */
.error_table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 2px;
	color: #505050;
	font-size: 9pt;
	line-height: 120%;
	font-family: "MS UI Gothic";
}

/*-------------------------------------------------
  テーブル：項目設定

 -------------------------------------------------*/
/* 一覧表示テーブル・見出し背景 */
/* line 352, ../../develop/scss/_w2cManager/Css/w2style.scss */
.list_title_bg {
	background-color: #e7e7e7;
}

/* 検索テーブル・見出し背景 */
/* line 356, ../../develop/scss/_w2cManager/Css/w2style.scss */
.search_title_bg {
	background-color: #e7e7e7;
}

/* 検索テーブル・見出し矢印 */
/* line 360, ../../develop/scss/_w2cManager/Css/w2style.scss */
.search_title_arrow {
	height: 5px;
	width: 10px;
	vertical-align: middle;
	border: 0;
}

/* 検索テーブル・入力項目背景 */
/* line 368, ../../develop/scss/_w2cManager/Css/w2style.scss */
.search_item_bg {
	background-color: white;
	padding-left: 2px;
}

/* 検索テーブル・入力項目幅 */
/* line 373, ../../develop/scss/_w2cManager/Css/w2style.scss */
.search_item_width {
	width: 130px;
}

/* 検索テーブル・検索ボタン関連 */
/* line 377, ../../develop/scss/_w2cManager/Css/w2style.scss */
.search_btn_bg {
	background-color: #e7e7e7;
}

/* 検索テーブル・検索ボタン(検索ボタン用) */
/* line 381, ../../develop/scss/_w2cManager/Css/w2style.scss */
.search_btn_main {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* 検索テーブル・検索ボタン(クリア・ボタン用) */
/* line 387, ../../develop/scss/_w2cManager/Css/w2style.scss */
.search_btn_sub {
	text-align: center;
	margin-top: 3px;
	margin-bottom: 1px;
	font-size: 11px;
	font-family: "MS UI Gothic";
}

/* 編集テーブル・検索ボタン(クリア・ボタン用) */
/* line 395, ../../develop/scss/_w2cManager/Css/w2style.scss */
.edit_btn_sub {
	font-size: 11px;
	font-family: "MS UI Gothic";
}

/* 詳細テーブル・見出し背景 */
/* line 400, ../../develop/scss/_w2cManager/Css/w2style.scss */
.detail_title_bg {
	background-color: #e7e7e7;
}

/* 詳細テーブル・項目背景 */
/* line 404, ../../develop/scss/_w2cManager/Css/w2style.scss */
.detail_item_bg {
	background-color: #f8f8f8;
}

/* 編集テーブル・見出し背景 */
/* line 408, ../../develop/scss/_w2cManager/Css/w2style.scss */
.edit_title_bg {
	background-color: #e7e7e7;
}

/* 編集テーブル・入力項目背景 */
/* line 412, ../../develop/scss/_w2cManager/Css/w2style.scss */
.edit_item_bg {
	background-color: #f8f8f8;
}

/* 情報テーブル・見出し背景 */
/* line 416, ../../develop/scss/_w2cManager/Css/w2style.scss */
.info_title_bg {
	background-color: #e7e7e7;
}

/* 情報テーブル・項目背景 */
/* line 420, ../../develop/scss/_w2cManager/Css/w2style.scss */
.info_item_bg {
	background-color: #f8f8f8;
}

/* エラーテーブル・見出し背景 */
/* line 424, ../../develop/scss/_w2cManager/Css/w2style.scss */
.error_title_bg {
	background-color: #e7e7e7;
}

/* エラーテーブル・項目背景 */
/* line 428, ../../develop/scss/_w2cManager/Css/w2style.scss */
.error_item_bg {
	background-color: #f8f8f8;
}

/*-------------------------------------------------
  テーブル：その他

 -------------------------------------------------*/
/* 一覧表示テーブル・アラート文言用 */
/* line 438, ../../develop/scss/_w2cManager/Css/w2style.scss */
.list_alert td {
	background-color: #f8f8f8;
	color: #505050;
	text-align: center;
	line-height: 300%;
}

/* 一覧表示テーブル・アラート文言用 */
/* line 446, ../../develop/scss/_w2cManager/Css/w2style.scss */
.list_alert_left td {
	background-color: #f8f8f8;
	color: #505050;
	text-align: left;
	line-height: 300%;
	padding-left: 400px;
}

/* エラーテーブル・エラー文言用 */
/* line 455, ../../develop/scss/_w2cManager/Css/w2style.scss */
.error_text {
	text-align: left;
	margin-left: 20px;
	margin-right: 13px;
	margin-top: 17px;
	margin-bottom: 13px;
}

/* 商品バリエーション入力・位置調整 */
/* line 464, ../../develop/scss/_w2cManager/Css/w2style.scss */
.productvariation_text {
  margin-left: 288px;
}

/*=========================================================================
  aspxコントロール用共通スタイル
 =========================================================================*/
/* RadioButtonList用 */
/* line 472, ../../develop/scss/_w2cManager/Css/w2style.scss */
.radio_button_list td {
	padding: 0px;
}

/* line 476, ../../develop/scss/_w2cManager/Css/w2style.scss */
.radio_button_list label {
	padding: 0px 5px 0px 2px;
}

/* line 480, ../../develop/scss/_w2cManager/Css/w2style.scss */
.radio_button_list input {
	padding: 3px 0px 5px 3px;
}

/* CheckButtonList用 */
/* line 485, ../../develop/scss/_w2cManager/Css/w2style.scss */
.check_button_list td {
	padding: 0px;
}

/* PopUpウィンドウ用 */
/* line 490, ../../develop/scss/_w2cManager/Css/w2style.scss */
.popup_body {
	color: #000000;
	font-size: 10pt;
	width: 100%;
	background-image: url();
	background-color: #939393;
	margin: 0;
	padding: 0;
	font-family: "MS UI Gothic";
}

/* line 501, ../../develop/scss/_w2cManager/Css/w2style.scss */
.popup_bg {
	background-color: #FFFFFF;
}

/*=========================================================================
  左メニュー
 =========================================================================*/
/* line 508, ../../develop/scss/_w2cManager/Css/w2style.scss */
.manager_menu dt {
	cursor: pointer;
	margin-top: -3px;
}

@-moz-document url-prefix() {
	/* line 514, ../../develop/scss/_w2cManager/Css/w2style.scss */
	.manager_menu dt {
		cursor: pointer;
		margin-bottom: -2px;
		margin-top: -4px;
	}

	/* line 519, ../../develop/scss/_w2cManager/Css/w2style.scss */
	.manager_menu #smenu {
		padding-bottom: 1px;
	}
}
/*=========================================================================
  ヘルプアイコンスタイル
 =========================================================================*/
/* ヘルプアイコン */
/* line 528, ../../develop/scss/_w2cManager/Css/w2style.scss */
.help {
	position: relative;
	top: -44px;
	left: 738px;
	height: 10px;
	width: 10px;
}

/* チップ表示 */
/* line 537, ../../develop/scss/_w2cManager/Css/w2style.scss */
.tinyTip {
	width: 325px;
	padding: 17px 0px 0px 0px;
	display: block;
	background: url(../Images/Common/tip_top.png) 0px 0px no-repeat;
}

/* line 543, ../../develop/scss/_w2cManager/Css/w2style.scss */
.tinyTip .content {
	padding: 0px 15px 0px 15px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode";
	color: #010101;
	background: url(../Images/Common/tip_content.png) 0px 0px repeat-y;
}

/* line 550, ../../develop/scss/_w2cManager/Css/w2style.scss */
.tinyTip .bottom {
	height: 47px;
	background: url(../Images/Common/tip_bottom.png) 0px 0px no-repeat;
	font: 0px/0px sans-serif;
}

/*=========================================================================
   表の中でスクロールスタイル（ヘッダ固定）
 =========================================================================*/
/* line 559, ../../develop/scss/_w2cManager/Css/w2style.scss */
.tbl_header {
	width: 733px;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* line 565, ../../develop/scss/_w2cManager/Css/w2style.scss */
.tbl_data {
	width: 750px;
	max-height: 400px;
	overflow-x: scroll;
	overflow-y: scroll;
}

/* line 572, ../../develop/scss/_w2cManager/Css/w2style.scss */
.tbl_header_cassette {
	width: 750px;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* line 578, ../../develop/scss/_w2cManager/Css/w2style.scss */
#tbl_data_cassette {
	width: 750px;
	height: 760px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*=========================================================================
  表の中でスクロールスタイル（ヘッダとカラム固定）
 =========================================================================*/
/* line 588, ../../develop/scss/_w2cManager/Css/w2style.scss */
.div_header_left {
	width: 110px;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* line 593, ../../develop/scss/_w2cManager/Css/w2style.scss */
.div_header_right {
	width:640px;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}

/* line 599, ../../develop/scss/_w2cManager/Css/w2style.scss */
.div_data {
   position: relative;
	width: 750px;
	height: 440px;
}

/* line 604, ../../develop/scss/_w2cManager/Css/w2style.scss */
.div_data_left {
	position: absolute;
	left:0px;
	width:110px;
	overflow-x:scroll;
	overflow-y:hidden;
	max-height:420px;
}

/* line 612, ../../develop/scss/_w2cManager/Css/w2style.scss */
.div_data_right {
   position: absolute;
   left: 110px;
   overflow-x: scroll;
   overflow-y: scroll;
   width: 640px;
   max-height: 420px;
}

.div_header_right::-webkit-scrollbar {
   visibility: hidden;
}

.div_data_left::-webkit-scrollbar {
    visibility: hidden;
}

@-moz-document url-prefix() {
   .div_header_right {
      scrollbar-width: none;
   }
   .div_header_right {
      margin-right: 18px;
   }
   .div_data_left {
      max-height: 420px;
      scrollbar-width: none;
   }
}

@media all and (-ms-high-contrast: none) {
   .div_header_right {
      -ms-overflow-style: none;
   }
   .div_header_right {
      margin-right: 18px;
   }
   .div_data_left {
		height: 403px !important;
		max-height: 420px;
      -ms-overflow-style: none;
   }
}

/*=========================================================================
 画像ポップアップ表示
 =========================================================================*/
/* line 624, ../../develop/scss/_w2cManager/Css/w2style.scss */
a.popup_img:hover {
    position: relative;
    text-decoration: none;
}

/* line 628, ../../develop/scss/_w2cManager/Css/w2style.scss */
a.popup_img span {
    display: none;
    position: absolute;
    top: 1em;
    left: 0;
}

/* line 634, ../../develop/scss/_w2cManager/Css/w2style.scss */
a.popup_img:hover span {
    border: none;
    display: block;
    width: 210px;
}

/*# sourceMappingURL=w2style.css.map */

/*=========================================================================
 PayTGモーダル用
 =========================================================================*/
.payTgModal {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.75);
  z-index: 999;
  display: none;
}
.payTgModalOuter {
	width: 800px;
	height: 500px;
	top: 50%;
	left: 50%;
	text-align: center;
	border: 2px solid #aaa;
	background: #fff;
	position: fixed;
	z-index: 2;
	margin:-250px 0 0 -400px;
}
.payTgModalMargin {
	height: 220px;
	overflow: auto;
}
.payTgModalContents {
	width: 100%;
	height: 280px;
	display: block;
	z-index: 3;
	height: 220px;
}
.replacementtag-close {
	color: black;
	background: white;
	padding: .3em .6em;
	border-radius: .3em;
	text-align: center;
	display: table;
	cursor:default;
	font-size: 15px;
	vertical-align: middle;
}
.replacementtag-close:hover {
	cursor:default;
	background: red;
	color: white;
}
.action_part_top .notice {
	margin-right: 30px;
}
