@*
=========================================================================================================
  Module      : Replacement Tag (Partial View) (_ReplacementTag.cshtml)
  ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2022 All Rights Reserved.
=========================================================================================================
*@
@using w2.App.Common.Web.Page

<style>
	#draggable_floatWindow {
		position:fixed;
		cursor: move;
		height: 200px;
		width: 480px;
		padding-right: 5px;
		padding-left: 5px;
		border: 1px solid #000000;
		border-radius: 10px;
		bottom: 110px;
		right: 40px;
		z-index: 100;
		display: none;
	}
</style>

<div class="edit_title_bg" id="draggable_floatWindow">
	<div id="resizable_floatWindow" style="height: 200px; width: 480px; padding-right: 5px; border-radius: 10px;">
		<div style="text-align: left; float: left; font-size: 17px; font-weight: bold; padding-left: 5px; padding-top: 5px;">@CommonPage.ReplaceTag("@@ScoringSale.list_of_replaceable_tags_text.name@@")</div>
		<div style="text-align: right; padding-right: 5px; margin-left: auto;">
			<input ID="tbTagSearch" type="text" placeholder="@CommonPage.ReplaceTag("@@ScoringSale.enter_a_search_word_text.name@@")">
			<span style="display: inline" class="replacementtag-close">×</span>
		</div>
		<div class="edit_title_bg">
			<table id="replacementtag" class="edit_table" style="table-layout: fixed;">
				<thead style="display: block;" class="edit_item_bg;">
					<tr>
						<th style="height: 20px; width: 220px">@CommonPage.ReplaceTag("@@ScoringSale.content_text.name@@")</th>
						<th style="height: 20px; width: 220px">@CommonPage.ReplaceTag("@@ScoringSale.replacement_tag_text.name@@")</th>
					</tr>
				</thead>
				<tbody style="display: block; overflow-y: scroll; max-height: 125px;">
					<!-- ko foreach: ReplacementTagList -->
					<tr onmouseover="listselect_mover(this)" onmouseout="listselect_mout1(this)" onmousedown="listselect_mdown(this)" data-bind="attr: { onclick: 'javascript: tagInput(\'' + $data.Key + '\')' }">
						<td style="height: 20px; width: 220px" data-bind="text: $data.Value"></td>
						<td style="height: 20px; width: 220px" data-bind="text: $data.Key"></td>
					</tr>
					 <!-- /ko -->
				</tbody>
			</table>
		</div>
	</div>
</div>
