@*
=========================================================================================================
  Module      : アップロード済み画像(UploadedImage.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.Codes
@model w2.Cms.Manager.ViewModels.LandingPage.UploadedImageViewModel
@if (this.Model.HasUploadedImage)
{
	<div style="display:flex;flex-wrap: wrap; padding-top: 10px; padding-bottom: 10px;" id="tabArea">
			
		@{ var imageNo = 1; }
		@foreach (var path in this.Model.UploadedImagePathList)
		{
			<div class="box2" style="width: 25%; padding-right: 3px;padding-left: 3px;" id="@imageNo">
				<img src="@path?@DateTime.Now.ToString("yyyyMMddHHmmssfff")"/>
				<input type="button" class="btn btn-main btn-size-s" value="削除" onclick="delete_image('@imageNo');"/>
			</div>
			imageNo++;
		}
	</div>
	<style>
		.mainImage {
			border: 3px #4ca750 solid;
		}
	</style>
}
