@*
=========================================================================================================
  Module      : パスワード変更完了ページ(Complete.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.Codes
@{
	ViewBag.Title = "パスワード変更";
	Layout = Constants.LAYOUT_PATH_DEFAULT;
}

<table cellspacing="0" cellpadding="0" width="791" border="0">
	<!--▽ タイトル ▽-->
	<tr><td><h1 class="page-title">パスワード変更</h1></td></tr>
	@LayoutHelper.PaddingTr(10)
	<tr><td><h2 class="cmn-hed-h2">パスワード変更完了</h2></td></tr>
	<!--△ タイトル △-->
	<!--▽ 編集入力 ▽-->
	<tr>
	<td>
		<table class="box_border" cellspacing="1" cellpadding="3" width="784" border="0">
		<tr>
		<td>
		<table class="info_box_bg" cellspacing="0" cellpadding="0" width="100%" border="0">
		<tr>
		<td align="center">
		<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>
				パスワードの変更が完了しました。再度ログイン画面からログインしてください。
			</td>
		</tr>
		<tr>
			<td>
				<div align="center" style="padding: 10px">
					<a href='@Url.Action("Index", Constants.CONTROLLER_W2CMS_MANAGER_LOGIN)'>
						<input type="button" value="  ログイン画面へ  " class="btn btn-main">
					</a>
					<br/>
				</div>
			</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	<!--△ 詳細 △-->
	@LayoutHelper.PaddingTr(10)
</table>