<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <appSettings>
    <!-- アプリケーション名 -->
    <add key="Application_Name" value="w2.WebPayment.Test" />
    <!-- 設定ファイルディレクトリパス -->
    <add key="ConfigFileDirPath" value="C:\inetpub\wwwroot\R5044_Kagome.Develop\Commons\w2.CustomerResources\" />
  </appSettings>
  <!--
    .NET 4.5 対応のための web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <!-- SoftbankPaymentではshift_jisで受け取る必要あり -->
  <location path="_Dev/SBPS">
    <system.web>
      <globalization requestEncoding="shift-jis" responseEncoding="shift-jis"/>
    </system.web>
  </location>
  <location path="SBPS">
    <system.web>
      <globalization requestEncoding="shift-jis" responseEncoding="shift-jis"/>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" />
        <codeBase version="2.0.14.0" href="../../Commons/w2.App.Common/Order/Payment/Veritrans/log4net.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
