@*
=========================================================================================================
  Module      : マスタアップロード完了ページ(MasterImportComplete.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.Codes

@model w2.Cms.Manager.ViewModels.MasterImport.ListViewModel
@{
	ViewBag.Title = "マスタアップロード";
	Layout = Constants.LAYOUT_PATH_DEFAULT;
}
@helper ButtomControls()
{
	<input type="submit" value="  マスタファイル取込ページへ  " class="btn btn-main"/>
}

<table cellspacing="0" cellpadding="0" width="791" border="0">
	<!--▽ タイトル ▽-->
	<tr>
	<td><h1 class="page-title">マスタアップロード</h1></td>
	</tr>
	@LayoutHelper.PaddingTr(10)
	<!--△ タイトル △-->
	<!--▽ 完了画面 ▽-->
	<tr>
	<td><h2 class="cmn-hed-h2">マスタ取込完了</h2></td>
	</tr>
	<tr>
	<td>
	<table class="box_border" cellspacing="1" cellpadding="3" width="784" border="0">
	<tr>
	<td class="search_box_bg">
		<table cellspacing="0" cellpadding="0" width="98%" border="0">
			@LayoutHelper.PaddingTr(10)
			<tr>
				<td align="center">
					マスタファイルの取込を実行しました。<br />
					終了後メールにてお知らせします。
				</td>
			</tr>
			<tr>
				<td>
					<div class="action_part_bottom">
					@using (Html.BeginForm(
						"MasterImportList",
						Constants.CONTROLLER_W2CMS_MANAGER_MASTER_IMPORT,
						FormMethod.Post))
					{
						@ButtomControls();
					}
					</div>
				</td>
			</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	<!--△ 完了画面 △-->
	@LayoutHelper.PaddingTr(10)
</table>